@media (min-width: 1600px) {
    .flex-item .item-box .text-box {
        max-height: 230px;
    }
    .box-img-flex {
        max-height: 570px;
    }
    .bg-main {
        max-height: 800px;
    }
    .flex-width .item-box .img-box-small {
        max-height: 230px;
    }
}

@media (min-width: 1199px) {
    .flex-box .flex-width.y-box-img {
        padding-bottom: 34.25%;
    }
}

@media (min-width: 1024px) {
    .box-img-nb {
        height: 310px;
    }
    .item-blog-inline .blog-info .blog-title a {
        min-height: 62px;
    }
    .blog-box .item-blog-main .item-blog-inline .blog-info .blog-title {
        min-height: 45px;
    }
}

@media (max-width: 1199px) {
    /* .flex-box .flex-item .image-main {
        min-height: 334px;
    }
    .flex-box .flex-item .image-small {
        min-height: 224px;
    } */
    /* .flex-box .flex-item .item-box .image-box {
        min-height: 562px;
    } */
    .blog-info .blog-subscription {
        padding-top: 5px;
    }
    .flex-box .flex-width {
        width: 100%;
    }
    .flex-width .img-main {
        display: block;
    }
    /* .section-tskt table tr td {
      padding-right: 10px !important;
    } */
    .flex-width .img-box-small .img-mobile {
        display: block;
    }
    /* .flex-width .item-box .img-box-small {
        height: 280px;
    } */
    /* .flex-item .item-box .text-box {
        height: 289px;
    } */
    /* .product-slider .prod-box-slider .box-img-item {
        height: 233px;
    } */
    .section-tskt table tr td {
        padding-right: 57px;
    }
    /* .item-blog-inline .blog-info .blog-desc {
        display: -webkit-box;
    } */
    /* .item-slider .img-desktop {
        height: 300px;
    } */
    .menu-header {
        width: 100%;
    }
    .menu-header li .link {
        padding: 35px 5px 38px;
    }
    /* .item-blog-inline .blog-info .blog-desc a {
        max-height: 75px;
    } */
    .flex-width .item-box .img-box-small {
        min-height: 230px;
    }
    .flex-item .item-box .text-box {
        min-height: 230px;
    }
    .prod-collection-item .text {
        padding: 0;
    }
    .text-box-custom {
        min-height: 310px !important;
    }
    /* .product-slider .prod-box-slider .box-img-item,
    .product-slider .prod-box-slider2 .box-img-item {
        min-height: 310px;
    } */
    .item-footer .list-social-footer ul li {
        padding-left: 15px;
    }
    .visible-xs {
        display: block;
    }
    .menu-header-fixed .menu-header {
        width: 64%;
    }
    .list-item-blog .item-blog-inline:not(:last-child) {
        margin-bottom: 33px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .owl-carousel .owl-nav .owl-prev {
        left: 30%;
    }
    .owl-carousel .owl-nav .owl-next {
        right: 28%;
    }
    .menu-header-fixed .menu-header {
        padding-left: 0px;
    }
    .owl-carousel .owl-nav .custom-dot-prev {
        left: 15px;
    }
    .owl-carousel .owl-nav .custom-dot-next {
        right: 15px;
    }
    .owl-carousel .owl-nav .custom-dot-prev img,
    .owl-carousel .owl-nav .custom-dot-next img {
        height: 30px;
    }
    .menu-header-fixed .logo-header {
        margin-left: -90px !important;
    }
}

@media (max-width: 991px) {
    .vehicle-header {
        display: none;
    }
    .menu-header {
        display: none;
    }
    .content-header .test-drive-box {
        display: none;
    }
    .navbar-contact {
        justify-content: unset;
    }
    .content-header .gift-box {
        padding-left: 20px;
    }
    .list-item-blog .item-blog-inline {
        padding-top: 10px;
    }
    .box-blog .item-blog-main {
        width: 100%;
    }
    .box-blog .list-item-blog {
        width: 100%;
        padding-left: unset;
    }
    .item-blog-inline .blog-info .blog-date {
        top: 20px;
    }
    .item-blog-inline .blog-info .blog-desc {
        /*padding: 11px 1px 21px 12px;*/
    }
    .home-slider2 .item-slider .info {
        width: 100%;
    }
    .home-slider2 .item-slider .image {
        width: 100%;
    }
    .home-slider2 .item-slider .details {
        width: 100%;
        padding-left: unset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .home-slider2 .item-slider .details .item {
        width: 50%;
        text-align: center;
        border: 1px solid #dedede;
    }
    .box-img-flex {
        height: auto;
    }
    .item-footer .list-social-footer span {
        width: 40%;
    }
    .item-footer .list-social-footer ul {
        width: 60%;
    }
    .item-footer .list-social-footer ul li {
        padding-left: 11px;
    }
    .flex-width .item-box .img-box-small {
        height: auto;
    }
    /* .flex-item .item-box .text-box {
        height: 258px;
    } */
    /* .prod-collection .prod-collection-item:nth-child(3n + 1),
    .prod-collection .prod-collection-item:nth-child(3n + 2),
    .prod-collection .prod-collection-item:nth-child(3n + 3) {
        border-left: 1px solid #dedede;
    }
    .prod-collection .prod-collection-item:nth-child(4n + 4) {
        border-right: 1px solid #dedede;
    } */
    .section-register-drive .form-register-drive {
        padding-left: 20px;
    }
    .form-register-drive .box-customer input {
        width: 100%;
    }
    /* .product-slider .prod-box-slider .box-img-item {
        height: 174px;
    } */
    .product-slider .prod-box-slider .box-img-item p,
    .product-slider .prod-box-slider2 .box-img-item p {
        bottom: 50px;
        width: 200px;
    }
    .section-tskt table tr td {
        padding-right: unset;
    }
    .blog-box .item-blog-main .item-blog-inline .blog-info .blog-date {
        top: 0;
    }
    .custom-date {
        top: 0 !important;
    }
    .active-icon {
        -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
        animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    }
    .menu-header-fixed .logo-header {
        margin-left: 0px !important;
    }
    .search-box .input-bar {
        display: none !important;
    }
    .icon-phone-desk {
        display: none !important;
    }
    .icon-phone-m {
        display: block !important;
    }
    .blog-img-m {
        width: 40% !important;
    }
    .blog-info-m {
        width: 60% !important;
    }
    .blog-title-m {
        font-size: 15px !important;
    }
    .padding-top {
        padding-top: 25px;
    }
    .flex-box-m {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-box-m .blog-info-m .blog-title a {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        font-size: 15px;
    }
    /* .blog-d-custom-m {
        top: 25px !important;
    } */
    .blog-box .item-blog-main .item-blog-inline .blog-info .blog-title {
        padding-bottom: 0px;
    }
    .flex-width .item-box .img-box-small {
        min-height: 223px;
        background-image: unset;
    }
    .flex-item .item-box .text-box {
        min-height: 223px;
    }
    .text-box-custom {
        min-height: 230px !important;
    }
    /* .product-slider .prod-box-slider .box-img-item,
    .product-slider .prod-box-slider2 .box-img-item {
        min-height: 230px;
    } */
    /* .item-blog-inline .y-box-img {
        padding-bottom: 20%;
    } */
    .list-item-blog .item-blog-inline:not(:last-child) {
        margin-bottom: 20px;
    }
    .item-blog-m .y-box-img {
        padding-bottom: 27% !important;
    }
    /* .item-blog .y-box-img {
        padding-bottom: 24% !important;
    } */
    .menu-blog {
        display: none;
    }
    .section-article h2 {
        font-size: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .flex-item .item-box .box-fix {
        height: 262px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .list-item-blog .item-blog-inline .blog-img {
        width: 30%;
    }
    .list-item-blog .item-blog-inline .blog-info {
        width: 70%;
    }
    .box-title h2 {
        width: 30%;
    }
    .box-title h3 {
        width: 70%;
    }
    /* .item .item-slider .text::before {
        height: 94px;
    } */
    /* .menu-header-fixed .logo-header {
        margin-left: 70px !important;
    } */
    .flex-item .item-box .box-fix {
        height: 195px;
    }
    .owl-carousel .owl-nav .custom-dot-prev {
        left: 15px;
    }
    .owl-carousel .owl-nav .custom-dot-next {
        right: 15px;
    }
    .owl-carousel .owl-nav .custom-dot-prev img,
    .owl-carousel .owl-nav .custom-dot-next img {
        height: 30px;
    }
    .menu-blog ul li {
        padding: 0;
    }
    .box-desktop-blog {
        display: none !important;
    }
    .mobile-menu-btn {
        display: block !important;
    }
    .blog-box .item-blog-main .item-blog-inline .blog-info .blog-title {
        min-height: 45px;
    }
}

@media (max-width: 767px) {
    .logo-header a img {
        height: 45px;
    }
    .menu-fixed {
        display: flex;
        left: 50%;
        bottom: 0;
        top: unset;
        right: unset;
        transform: translateX(-50%);
        height: auto;
        /* width: 200px; */
    }
    .menu-fixed li a .icon-menu:hover {
        background: #111;
        color: #fff;
    }
    .menu-fixed li {
        padding: 2px 1px;
        width: auto;
    }
    .menu-fixed .text-menu {
        display: none !important;
    }
    .flex-box .flex-small-width {
        width: 50%;
    }
    .flex-box .flex-small-mobile {
        width: 50% !important;
    }
    .box-menu-header .logo-header .img-mobile {
        display: block;
    }
    .box-menu-header .logo-header .img-desktop {
        display: none;
    }
    .box-title h2 {
        width: 100%;
        text-align: center;
    }
    .box-title h3 {
        display: none;
    }
    .flex-item .name {
        font-size: 16px;
        bottom: 15px;
    }
    .flex-item .name:before {
        height: 16px;
        width: 50px;
    }
    .flex-item .name span {
        padding-left: 55px;
    }
    .item .item-slider .info .title h2 {
        font-size: 30px;
    }
    .box-img-flex {
        height: auto;
    }
    /* .flex-item .item-box .text-box {
      height: auto;
      padding: 20px;
    } */
    .btn-viewmore {
        padding: 8px 20px !important;
    }
    .text-box h3 {
        font-size: 20px;
    }
    .text-box p {
        display: none;
    }
    .list-item-blog .item-blog-inline:not(:last-child) {
        margin-bottom: unset;
    }
    .list-item-blog .item-blog-inline .blog-img {
        width: 40%;
    }
    .list-item-blog .item-blog-inline .blog-info {
        width: 60%;
    }
    /* .item .item-slider .text::before {
        height: 120px;
    } */
    .section-inner {
        padding-top: 30px;
    }
    .product-details .details .item {
        width: 50%;
        padding: 0px;
    }
    .product-details .details .item:last-child {
        border: unset;
        margin: 15px auto 0;
    }
    .product-details .details .item .register-drive,
    .product-details .details .item .register-price {
        width: 85%;
    }
    .product-details .details .item .register-drive a,
    .product-details .details .item .register-price a {
        padding: 6px;
    }
    .menu-blog ul {
        flex-wrap: nowrap;
    }
    .menu-blog ul li {
        padding: 15px 15px;
        width: auto;
    }
    .menu-blog {
        display: none;
    }
    .product-box .product-img-item .box-img {
        width: 200px;
        margin: 0 auto;
    }
    .section-about .box-about {
        width: auto;
    }
    .banner-contact .contact-social {
        display: block;
    }
    .banner-contact .contact-social .social-custom {
        padding-top: 20px;
        padding-left: unset;
    }
    .product-thumbs {
        max-width: unset !important;
    }
    .product-thumbs .product-img-item .box-img-custom {
        width: auto !important;
    }
    .menu-fixed .icon-menu.active {
        background: #111;
    }
    .item-blog-inline .blog-info .blog-title {
        font-size: 20px;
        padding: 5px 10px 0;
    }
    .custom-title {
        width: 100% !important;
    }
    /*.item-blog-inline .blog-info .blog-desc p{
		padding-left:0
    }*/
    .owl-carousel .owl-nav .owl-prev {
        left: 10px;
        top: 50%;
    }
    .owl-carousel .owl-nav .owl-next {
        right: 0px;
        top: 50%;
    }
    .menu-header-fixed .logo-header {
        width: 50%;
        text-align: left;
    }
    .flex-width .item-box .img-box-small {
        background: unset !important;
    }
    .form-register-drive .box-customer {
        width: 100%;
    }
    .form-register-drive .box-customer .flex-max-width .register-drive {
        /* width: 100%; */
        text-align: center;
    }
    .btn-viewmore:hover {
        color: #fff !important;
        border: unset;
        background: #da291c;
    }
    .product-slider .prod-box-slider .box-img-item p {
        display: none;
    }
    .form-register-drive .box-customer .list-customer {
        width: 100%;
    }
    .menu-blog-fixed {
        top: 98px;
        width: 100%;
    }
    .item-video {
        display: none !important;
    }
    .product-slider .prod-box-slider .box-img-item:before {
        background: unset;
    }
    .list-social-custom li {
        padding-left: 15px !important;
    }
    .item-footer .list-custom ul li a {
        padding: 10px;
    }
    .flex-width .item-box .img-box-small {
        min-height: 255px;
    }
    .flex-item .item-box .text-box {
        min-height: 255px;
    }
    .blog-box .item-blog-main .item-blog-inline .blog-info .blog-title {
        padding-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
    }
    .prod-menu-detail-custom {
        width: 100% !important;
    }
    .title p {
        width: 100%;
    }
    .product-detail-series p.des {
        width: 100%;
        font-size: 16px;
    }
    .section-register-drive .form-register-drive {
        background-image: unset;
        background: #e8e8e8;
        padding-top: 0;
    }
    .blog-title-m {
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .flex-width .item-box .img-box-small {
        min-height: 200px;
    }
    .flex-item .item-box .text-box {
        min-height: 200px;
    }
    .prod-collection-item .text {
        padding: 0;
        padding-top: 20px;
    }
    .text-box-custom {
        min-height: 177px !important;
    }
    .item .item-slider .img-mobile {
        max-height: 400px;
    }
    .prod-title-main {
        text-align: center !important;
        font-size: 22px;
        padding-bottom: 0 !important;
    }
    .example-container .selectors {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
    .overlay-zoom:after {
        width: 101px !important;
        height: 101px !important;
    }
    .product-details .details .item:first-child {
        border-left: 1px solid #e2e2e2;
    }
    .product-slider {
        padding-top: 0;
    }
    .banner-blog {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .owl-carousel .owl-nav .custom-dot-prev {
        left: 15px;
    }
    .owl-carousel .owl-nav .custom-dot-next {
        right: 15px;
    }
    .owl-carousel .owl-nav .custom-dot-prev img,
    .owl-carousel .owl-nav .custom-dot-next img {
        height: 30px;
    }
    .prod-name {
        color: #ee1b2e;
        font-size: 24px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        padding-top: 0px !important;
    }
    .prod-name-m {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .form-register-drive .box-customer .customer {
        width: 100%;
        margin-bottom: 10px;
    }
    .select2-container {
        width: 100% !important;
    }
    select {
        width: 100%;
    }
    .box-desktop-blog {
        display: none;
    }
    .y-text-editor p {
        font-size: 14px;
    }
    .success-section .y-text-editor .title-main {
        font-size: 18px !important;
        padding-bottom: 0;
    }
    .success-section .y-text-editor ul li h4 {
        font-size: 13px;
    }
    .prod-collection h4 {
        padding-top: 20px;
        font-size: 18px;
    }
    .text-content {
        font-size: 17px;
    }
    .form-register-drive .box-customer .flex-max-width .register-drive a {
        padding: 5px 40px;
    }
    .form-register-drive p {
        font-size: 14px;
    }
    .form-register-drive h3 {
        font-size: 17px;
    }
    .title-main {
        font-size: 28px !important;
    }
    .logo-header {
        margin-left: -15px;
    }
    /* .item-blog-inline .y-box-img {
        padding-bottom: 27%;
    } */
    .section-article h2 {
        font-size: 22px;
    }
    .item-footer .brand-footer {
        padding-top: 20px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .product-thumbs .product-img-item {
        width: 120px !important;
    }
    .product-thumbs .slick-list {
        height: 130px !important;
    }
    .flex-item .item-box .box-fix {
        height: 144px;
    }
}

@media (max-width: 600px) {
    .overlay-zoom:after {
        width: 74px !important;
        height: 74px !important;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .blog-box .item-blog-main .item-blog-inline .blog-info {
        width: 380px;
    }
    .blog-box .item-blog-main {
        display: flex;
        justify-content: center;
    }
    .box-custom {
        height: 157px !important;
    }
}

@media (max-width: 540px) {
    .content-header .translate-box {
        position: absolute;
        right: 0;
    }
    /* .item .item-slider .text::before {
        height: 144px;
    } */
    .item-blog-inline .blog-info .blog-desc {
        font-size: 14px;
    }
    .list-item-blog .item-blog-inline .blog-img {
        width: 40%;
    }
    .list-item-blog .item-blog-inline .blog-info {
        width: 60%;
    }
    .item-blog-inline .blog-info .blog-desc a {
        padding: 6px 14px 6px 15px;
        max-height: 50px;
    }
    /* .item-blog-inline .blog-info .blog-date {
        width: 56px;
        height: 40px;
    } */
    .item-footer .list-social-footer span {
        width: 60%;
    }
    .item-footer .list-social-footer ul {
        width: 40%;
    }
    .maps iframe {
        height: 300px;
    }
    /* .flex-item .item-box .text-box {
        height: 161px;
    } */
    .item-box .img-box-small .img-mobile {
        display: block;
    }
    .item-blog-inline .blog-info .blog-date .month-year {
        font-size: 8px;
    }
    .item-blog-inline .blog-info .blog-date {
        width: 35px;
        height: 35px;
    }
    .footer-bottom .copyright {
        padding: 27px 0 50px 14px;
    }
    .item-footer .social-footer iframe {
        display: block;
        height: 135px;
    }
    .prod-collection {
        width: 100%;
    }
    .prod-menu-detail {
        width: 100%;
    }
    .menu-header-fixed .logo-header {
        margin-left: 15px !important;
        width: 75%;
        text-align: left;
    }
    .box-custom {
        height: 123px !important;
    }
    .item-blog-inline .blog-info .blog-date .day {
        font-size: 14px;
    }
    .section-inner2 {
        padding-top: 15px;
    }
    /* .padding-bottom {
        padding-bottom: 40px;
    } */
    .prod-collection {
        padding-top: 20px;
    }
    .section-banner h2 {
        font-size: 20px;
    }
    .prod-detail-property .prod-detail-order {
        margin: 10px auto;
    }
    .list-social-custom li a .custom-img {
        height: 60px !important;
        width: 60px !important;
    }
    .list-social-custom li a .custom-img img {
        height: 40px !important;
        width: 40px !important;
        vertical-align: middle;
        text-align: center;
    }
    .list-social-custom li {
        padding-left: 5px !important;
    }
    .text-box-custom {
        min-height: 170px !important;
    }
    .section-inner {
        padding-top: 0px;
    }
    .item .item-slider .info .title-section h2 {
        font-size: 30px;
        text-align: center;
    }
    .item .item-slider .info .title-section p {
        font-size: 15px;
        text-align: center;
    }
    .item .item-slider .text {
        font-size: 14px;
        text-align: justify;
    }
    .details .item span {
        font-size: 18px;
    }
    .details .item p {
        margin-bottom: 0;
        font-size: 14px;
    }
    .home-slider2 .item-slider .details .item {
        padding: 10px;
    }
    .item-blog-inline .blog-info .blog-desc a {
        -webkit-line-clamp: 2;
    }
    /* .product-slider .prod-box-slider .box-img-item,
    .product-slider .prod-box-slider2 .box-img-item {
        min-height: 255px;
    } */
    .banner-contact {
        padding: 0;
    }
    .item-footer .list-social-footer ul li {
        padding-left: 8px;
    }
    .item-blog-relate .y-box-img {
        padding-bottom: 66.66% !important;
    }
    .item-footer .logo-footer {
        text-align: center;
    }
    .maps-footer {
        margin: 0 auto;
    }
}

@media (max-width: 475px) {
    .overlay-zoom:after {
        left: 7px;
    }
    .text-box-custom {
        min-height: 153px !important;
    }
    .list-social-custom .text {
        font-size: 14px;
    }
    .prod-title-main {
        font-size: 26px;
    }
    /* .product-slider .prod-box-slider .box-img-item,
    .product-slider .prod-box-slider2 .box-img-item {
        min-height: 255px;
    } */
    .item-footer .contact-footer {
        padding-left: 40px;
    }
    #voucher-online .col-left {
        display: none;
    }
    #voucher-online .col-right {
        max-height: unset;
    }
}

@media (max-width: 425px) {
    .flex-item .item-box .text-box {
        min-height: 198px;
    }
    .flex-item .item-box .box-fix {
        height: 111px;
    }
    .box-custom {
        height: 109px !important;
    }
    .overlay-zoom:after {
        width: 45px !important;
        height: 45px !important;
        left: 0px;
    }
    .blog-info-m {
        width: 60% !important;
        /* max-height: 88px; */
    }
    .blog-info .blog-subscription {
        padding-top: 0;
    }
    .list-social-custom li a .custom-img {
        height: 50px !important;
        width: 50px !important;
    }
    .list-social-custom li a .custom-img img {
        height: 30px !important;
        width: 30px !important;
        vertical-align: middle;
        text-align: center;
    }
    .flex-width .item-box .img-box-small {
        min-height: 93px;
    }
    .flex-item .item-box .text-box {
        min-height: 93px;
    }
    .text-box-custom {
        min-height: 128px !important;
    }
    .prod-title-main {
        font-size: 18px;
    }
}

@media (max-width: 376px) {
    .flex-item .item-box .box-fix {
        height: 97px;
    }
    .blog-info-m {
        width: 60% !important;
        /* max-height: 78px; */
    }
    .item-blog-inline .blog-info .blog-title {
        font-size: 20px;
        margin: 0;
    }
    .flex-width .item-box .img-box-small {
        min-height: 124px;
    }
    .flex-item .item-box .text-box {
        min-height: 124px;
    }
    .text-box-custom {
        min-height: 115px !important;
    }
    .blog-img-m img {
        height: 83px;
        object-fit: cover;
    }
    .item-footer .contact-footer {
        padding-left: 20px;
    }
}

@media (max-width: 321px) {
    .flex-item .item-box .text-box {
        min-height: 145px;
    }
    .flex-item .item-box .box-fix {
        height: 91px;
    }
    .box-custom {
        height: 94px !important;
    }
    /* .overlay-zoom:after {
        left: 7px;
    } */
    .list-social-custom li a .custom-img {
        height: 45px !important;
        width: 45px !important;
    }
    .list-social-custom li a .custom-img img {
        height: 30px !important;
        width: 30px !important;
        vertical-align: middle;
        text-align: center;
    }
    .flex-width .item-box .img-box-small {
        min-height: 93px;
    }
    .flex-item .item-box .text-box {
        min-height: 93px;
    }
    .text-box-custom {
        min-height: 97px !important;
    }
    .list-social-custom .text {
        font-size: 12px;
    }
    .blog-img-m img {
        height: 83px;
        object-fit: cover;
    }
    .blog-info .blog-subscription {
        height: auto;
        padding-bottom: 0;
    }
    .item-footer .contact-footer {
        padding-left: 0;
    }
    .mobile-sort-btn {
        padding: 20px 5px;
        font-size: 12px;
    }
}