body {
    font-size: 15px;
    font-family: "Roboto Condensed";
    color: #241e20;
    background: #ededed;
}

input:focus, textarea:focus, select:focus, button:focus {
    /* border-color: rgba(242, 126, 127, 0.6) !important; */
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(242, 126, 127, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(242, 126, 127, 0.6) !important; */
}

input {
    padding-left: 5px;
}

a {
    color: #241e20;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

/* h3 {
    font-size: 15px;
} */

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

iframe {
    max-width: 100%;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.clearfix {
    display: block;
    content: "";
    clear: both;
}

.y-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("../images/icons/select-arrow.svg");
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
    background-size: 6px;
    padding: 5px 18px 5px 10px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fefefe;
}

.y-text-editor * {
    max-width: 100%;
}

.y-text-editor blockquote {
    margin: 0 0 1.25em;
    padding: 0 1.25em 0 1.875em;
    border-left: 2px solid #111;
    font-style: italic;
}

.y-text-editor p {
    margin-bottom: 10px;
    text-align: justify;
}

.y-text-editor img {
    max-width: 100%;
    height: auto !important;
    display: initial;
}

.y-text-editor iframe {
    max-width: 100%;
}

.y-text-editor table {
    width: 100%;
}

.y-text-editor i {
    font-style: italic;
}

.y-text-editor u {
    text-decoration: underline;
}

.y-text-editor a {
    text-decoration: underline;
}

.y-text-editor b, .y-text-editor strong {
    font-weight: bold;
}

.y-text-editor ul {
    padding-left: 30px;
    list-style-type: disc;
}

.y-text-editor ul li {
    display: list-item;
}

.y-text-editor ol {
    padding-left: 30px;
    list-style-type: decimal;
}

.y-text-editor ol li {
    display: list-item;
}

select {
    -webkit-appearance: button;
}

.box-img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box-img-flex.y-img-left {
    justify-content: flex-start;
}

.box-img-flex img {
    /* width: auto !important; */
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.box-zoom {
    overflow: hidden;
}

.box-zoom img {
    width: 100%;
    transition: transform 0.8s;
}

.box-zoom:hover img {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2) !important;
}

.y-box-img {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.y-box-img .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.y-box-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

.y-box-zoom {
    transition: all 0.6s;
    width: 100%;
    height: 100%;
    position: absolute;
}

.y-box-zoom:hover {
    transform: scale(1);
}

/* Nav Slider Owl 2 */

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.owl-carousel .owl-nav .owl-prev i, .owl-carousel .owl-nav .owl-next i {
    color: #fff;
    font-size: 25px;
}

.owl-carousel .owl-nav .owl-prev {
    left: 45%;
    bottom: 0;
}

.owl-carousel .owl-nav .owl-next {
    right: 44%;
    bottom: 0;
}

/* Css - Hover show Nav */

/*.owl-carousel .owl-nav {
    display: none;
    transition:  opacity 1s ease-out;
    visibility: hidden;
    opacity: 0;
 }*/

/*.owl-carousel:hover .owl-nav {
    display: block;
    visibility: visible;
    opacity: 1;
 }

 /* Dots Slider Owl 2 */

.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 3px;
}

/* .owl-carousel .owl-dots .owl-dot.active span {
  background: #fff;
} */

.owl-carousel .owl-dots .owl-dot span {
    /* background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5); */
    background: #dddddd;
    border-radius: 50%;
    display: block;
    height: 14px;
    margin: 0;
    opacity: 1;
    width: 14px;
}

.custom-dot-slide {
    background: #c3c1c1;
}

.y-owl-style-3 .box-info-slider {
    max-width: 800px;
}

@media (min-width: 992px) {
    .y-owl-style-3 .box-info-slider {
        margin: 30px 60px;
    }
}

@media (min-width: 768px) {
    .y-owl-style-3 .box-info-slider {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 16px;
        padding: 20px;
        background: transparent;
        width: 100%;
        color: #fff;
        z-index: 3;
    }
    .y-owl-style-3 .box-info-slider .title-slider {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

.box-1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.padding-section {
    padding: 50px 0;
}

@media (max-width: 767px) {
    .padding-section {
        padding: 40px 0;
    }
}

.color-main {
    color: #f27e7f;
}

.btn-main, .btn-main-2, .btn-trans {
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 45px;
    text-align: center;
}

.btn-main:hover, .btn-main-2:hover, .btn-trans:hover {
    text-decoration: none;
}

@media (max-width: 1199px) {
    .btn-main, .btn-main-2, .btn-trans {
        padding: 10px 24px;
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .btn-main, .btn-main-2, .btn-trans {
        font-size: 14px;
        padding: 10px 20px;
    }
}

.btn-main {
    background-color: #f27e7f;
    color: #fff;
    border: 1px solid #f27e7f;
}

.btn-main:hover {
    color: #fff;
}

.btn-main-2 {
    background-color: #00a2e0;
    color: #fff;
}

.btn-main-2:hover {
    color: #fff;
}

.btn-trans {
    background-color: transparent;
    color: #f27e7f;
    border: 1px solid #f27e7f;
}

.btn-trans:hover {
    color: #f27e7f;
}

.title-main {
    font-size: 35px !important;
    font-weight: bold;
    /* color: #ee1b2e; */
    /* margin-bottom: 10px; */
    padding-bottom: 20px;
    text-align: left !important;
    padding-top: 20px;
    /* text-transform: uppercase; */
}

.title-main-custom {
    font-size: 20px !important;
}

.form-register-drive h3 {
    padding-bottom: 0;
    font-size: 26px;
    text-align: center;
}

.box-customer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.customer .title-custom span, .prod-title-main span {
    color: #ee1b2e;
    display: inline-block;
}

.bg-section {
    background-color: #fcede9;
}

.bg-section .title-main {
    color: #f27e7f;
}

.row-align-center {
    align-items: center;
}

.box-desktop {
    display: block;
}

.box-mobile {
    display: none !important;
}

@media (max-width: 767px) {
    .box-desktop {
        display: none !important;
    }
    .box-mobile {
        display: block !important;
    }
}

.footer {
    background-image: url(../images/banner-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*# sourceMappingURL=style.css.map */

/* Trang chủ */

.y-box-lang {
    position: relative;
    width: max-content;
}

.y-box-lang a {
    color: #fff;
}

.lang_button>.lang-item {
    display: none;
}

.lang_button>.lang-item.active {
    display: block;
}

.lang_button>.lang-item img {
    margin-right: 10px;
}

.lang-dropdown {
    width: max-content;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    width: 100%;
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    -moz-transform: rotate3d(1, 0, 0, 90deg);
    -o-transform: rotate3d(1, 0, 0, 90deg);
    -ms-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg);
    visibility: hidden;
    list-style: none;
    z-index: 2;
}

.lang-dropdown.type_2 {
    width: max-content;
    min-width: 110px;
    left: auto;
    right: 0px;
    z-index: 5;
}

.lang-dropdown.opened {
    -webkit-animation: wicket 0.5s ease;
    -moz-animation: wicket 0.5s ease;
    -o-animation: wicket 0.5s ease;
    -ms-animation: wicket 0.5s ease;
    animation: wicket 0.5s ease;
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
    -moz-transform: rotate3d(1, 0, 0, 0deg);
    -o-transform: rotate3d(1, 0, 0, 0deg);
    -ms-transform: rotate3d(1, 0, 0, 0deg);
    transform: rotate3d(1, 0, 0, 0deg);
    visibility: visible;
}

.lang-dropdown>li a {
    display: block;
    padding: 4px 15px;
    background: #34495e;
    color: #fff;
    text-align: left;
    text-decoration: none;
}

.lang-dropdown.top_arrow:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-right: 7px solid transparent;
    position: absolute;
    top: -8px;
    right: 16px;
    border-bottom-color: #34495e;
}

.lang-dropdown>li img {
    margin-right: 6px;
}

.lang-dropdown>li:first-child a {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.lang-dropdown>li:last-child a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.lang-dropdown>li a:hover {
    background: #2c3e50;
}

/* Menu mobile */

.y-mobile-menu {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    transition: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1001;
}

.y-mobile-menu.show {
    left: 0;
}

.y-sort-menu-category {
    width: 100%;
}

.y-sort-menu {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    transition: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1001;
}

.y-sort-menu.show {
    left: 0;
}

.y-mobile-register {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    transition: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1001;
    position: relative;
}

.m-menu__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    background: #000;
}

.m-menu__title .title {
    font-size: 14px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.m-menu__title .m-menu-close {
    padding: 0;
    font-size: 30px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 9px;
}

.y-mobile-menu ul {
    margin: 0;
    padding-left: 0;
}

.y-mobile-register ul {
    margin: 0;
    padding-left: 0;
}

.y-mobile-menu li {
    position: relative;
    list-style-type: none;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}

.y-mobile-register li {
    position: relative;
    list-style-type: none;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}

.y-mobile-menu li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    transition: 0.2s;
    line-height: 1.3;
    font-weight: 500;
    font-size: 18px;
}

.y-mobile-register li a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    transition: 0.2s;
    line-height: 1.3;
    font-weight: 500;
    font-size: 18px;
}

/* .y-mobile-menu li.active > a {
  color: #00B140;
} */

.y-mobile-menu li.has-submenu a {
    padding-right: 35px;
}

.y-mobile-register li.has-submenu a {
    padding-right: 35px;
}

.y-mobile-menu li>a:before {
    content: "";
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    display: block;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 0;
}

.y-mobile-register li>a:before {
    content: "";
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    display: block;
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 0;
}

.has-submenu>a {
    position: relative;
}

.has-submenu>a .btn-toggle-sub {
    width: 40px;
    height: 42px;
    max-height: 100%;
    position: absolute;
    top: 5px;
    right: 0;
    color: #000;
    z-index: 2;
}

.has-submenu>a .btn-toggle-sub:before {
    content: "\f067";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 18px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.has-submenu.opened>a .btn-toggle-sub:before {
    content: "\f2d1";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.has-submenu-2.opened-submenu .text-sub-m, .has-submenu-2.opened-submenu .custom-sub-m-icon {
    color: #ee1b2e;
}

.has-submenu.opened .custom-m-icon, .has-submenu.opened .text-m {
    color: #ee1b2e;
    top: 0;
}

.has-submenu.opened>a, .has-submenu-2.opened-submenu>a {
    border-bottom: 1px solid #ddd;
}

.has-submenu-2>a {
    position: relative;
}

.has-submenu-2>a .btn-toggle-sub {
    width: 40px;
    height: 42px;
    max-height: 100%;
    position: absolute;
    top: 15px;
    right: 0;
    color: #000;
    z-index: 2;
}

.has-submenu-2>a .btn-toggle-sub:before {
    content: "\f067";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 18px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.has-submenu-2.opened-submenu>a .btn-toggle-sub:before {
    content: "\f2d1";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.has-submenu-2 .sub-menu-lv2 {
    /* padding-left: 20px; */
    display: none;
    background: #f2f2f2;
}

.has-submenu .sub-menu {
    /* padding-left: 20px; */
    display: none;
}

.has-submenu .sub-menu li a {
    /* font-size: 14px; */
    display: flex;
    align-items: center;
}

/* .custom-box {
    padding-left: 10px;
} */

.overlay-menu.active {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    z-index: 888;
}

.has-submenu-2.opened-submenu>a:before {
    content: "";
    background-color: #3b3b3b;
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.has-submenu-2.opened-submenu>a:after {
    content: "";
    width: 120%;
    height: 10px;
    display: block;
    position: absolute;
    left: -28px;
    bottom: 0;
    box-shadow: 0 5px 5px #ddd;
}

.sub-menu-lv2 {
    display: block;
    position: relative;
    width: 100%;
}

.sub-menu-lv2 li a {
    padding-left: 30px;
}

.sub-menu-lv2 li {
    display: block;
    width: 100%;
    position: relative;
}

.has-submenu .active-sm, .has-submenu-2 .active-sm {
    display: block;
}

.has-submenu .hidden-sm, .has-submenu-2 .hidden-sm {
    display: none;
}

.sub-menu .has-submenu-2 a .box-img {
    max-width: 94px;
}

.sub-menu .has-submenu-2 a span {
    padding-left: 10px;
}

/* btn Menu mobile */

.y-header-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: grey;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 7px 15px;
    box-sizing: border-box;
    z-index: 777;
}

.mobile-menu-btn {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 26px;
    position: absolute;
    top: 70%;
    right: 15px;
    transform: translateY(-50%);
    display: flex;
}

.mobile-menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.mobile-menu-btn span:not(:last-child) {
    margin-bottom: 6px;
}

.box-header {
    background-color: #000;
    position: relative;
    transition: all .3s ease;
    top: 0;
    display: block;
}

.box-header.menu-header-fixed {
    position: fixed;
    top: -40px;
    left: 0;
    right: 0;
    z-index: 999;
}

.box-header.menu-header-mt {
    display: none;
}

.navbar-contact {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
    border-bottom: 1px solid #373737;
}

.box-menu-header .logo-header .img-mobile {
    display: none;
}

.box-menu-header .logo-header a {
    display: block;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-header .phone-header a {
    color: #fff;
}

.phone-icon {
    background: url(../images/phone-icon.svg);
    width: 16px;
    height: 16px;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.contact-header .vehicle-header {
    padding-left: 26px;
    text-transform: uppercase;
}

.contact-header .vehicle-header .vehicle-item {
    position: relative;
    display: inline-block;
    background: #000;
    margin-right: -4px;
}

.contact-header .vehicle-header .vehicle-item a {
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
}

.contact-header .vehicle-header .active a {
    background: #ee1b2e;
    color: #fff;
    transition: ease-in-out 0.5s;
    border-radius: 2px;
}

.contact-header .vehicle-header:hover .line-custom:after {
    position: absolute;
    left: 5px;
    bottom: -10px;
    height: 2px;
    content: "";
    width: 80%;
    background: #ee1b2e;
}

/* .contact-header .vehicle-header .vehicle-item:not(:first-child) {
  border-left: 1px solid #dedede;
} */

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-right {
    padding-right: 30px;
}

.content-header .gift-box a {
    color: #fff;
}

.content-header .test-drive-box:hover a, .content-header .gift-box:hover a {
    color: #ee1b2e;
    /* transition: ease-in-out 0.5s; */
}

.content-header .test-drive-box a {
    color: #fff;
}

.section-inner {
    padding-top: 50px;
}

.box-menu-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    transition: all .3s ease;
}

.box-menu-header.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.menu-header {
    text-align: center;
    text-transform: uppercase;
}

.logo-header {
    padding: 10px 0px;
    margin-left: -15px;
}

.menu-header li {
    display: inline-block;
    margin-right: 0;
}

.menu-header li .link {
    color: #fff;
    padding: 35px 10px 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-header li .search-btn {
    font-size: 16px;
    width: 50px;
}

.menu-header li .search-btn .icon-close {
    display: none;
}

.menu-header li .search-btn .icon-search {
    display: none;
}

.active-search {
    display: block !important;
}

.box-title {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 5px;
    /* padding-top: 30px; */
}

.box-title h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #0a0a0a;
    width: calc(18% - 15px);
    padding-left: 15px;
}

.box-title h3 {
    font-size: 16px;
    color: #241e20;
    width: 82%;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-box .flex-width {
    width: 50%;
}

.flex-box .flex-width.y-box-img {
    padding-bottom: 66.66%;
}

.flex-box .flex-width.y-box-img img {
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

.flex-box .flex-small-width {
    width: 33.33%;
}

.bg-main {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.bg-main2 {
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url("../images/item-box8.jpg"); */
    display: block;
}

.flex-width .img-main {
    display: none;
}

.flex-width .item-box .img-box-small {
    background-image: url("../images/ctsp4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.flex-width .item-box .img-box-small .img-mobile {
    opacity: 0;
}

.item {
    display: flex;
    flex-wrap: wrap;
}

.item .item-slider {
    display: flex;
    flex-wrap: wrap;
}

.item .item-slider .info {
    width: calc(35% - 20px);
    margin: 0 10px;
}

.item .item-slider .info .title-section h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    color: #000;
}

.item .item-slider .info .title-section p {
    font-size: 18px;
    text-transform: uppercase;
    color: #dc260a;
    font-weight: 600;
}

.item .item-slider .image {
    width: 45%;
}

.item .item-slider .details {
    width: 20%;
    padding-left: 50px;
}

.item .item-slider .text {
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    color: #000;
    border-left: 8px solid #ee1b2e;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.item .item-slider .text p {
    color: #000;
}

/* .item .item-slider .text::before {
    border: 4px solid #ee1b2e;
    height: 142px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
} */

.padding-top {
    padding-top: 30px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.custom-padding {
    padding-bottom: 30px;
}

.details .item {
    display: flex;
    flex-direction: column;
}

.details .item span {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.details .item p {
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
}

.home-slider2 .owl-dots {
    bottom: 0px;
}

.section-inner2 {
    padding-top: 30px;
    text-align: center;
}

.section-inner2 .flex-box .flex-item-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-box .item-box .y-box-img {
    padding-bottom: 66.66%;
}

.flex-item-box .item-box .y-box-img img {
    top: 0;
    left: 0;
    transform: unset;
}

.flex-item .item-box {
    width: 50%;
}

.flex-item .item-box .text-box {
    min-height: 230px;
    text-align: center;
    background: #000;
    color: #ffff;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-item .item-box .text-box p {
    text-transform: none;
    max-width: 280px;
}

.btn-viewmore {
    width: max-content;
    padding: 10px 16px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    text-transform: none;
    background: #da291c;
    color: #ffffff !important;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn-viewmore:hover {
    color: #da291c !important;
    border: 1px solid #da291c;
    background: transparent;
}

.box-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-blog .item-blog-main {
    width: 60%;
}

.item-blog-custom {
    width: 100% !important;
}

.box-blog .list-item-blog {
    width: 40%;
    padding-left: 38px;
}

.list-item-blog .item-blog-inline {
    display: flex;
    flex-wrap: wrap;
}

.list-item-blog .item-blog-inline:not(:last-child) {
    margin-bottom: 25px;
}

.list-item-blog .item-blog-inline .blog-img {
    width: 50%;
}

.list-item-blog .item-blog-inline .blog-info {
    width: 50%;
}

.item-blog .y-box-img {
    padding-bottom: 66.66% !important;
}

.item-blog-relate .y-box-img {
    padding-bottom: 66.66% !important;
}

.item-blog-main .item-blog-ct .y-box-img {
    padding-bottom: 66.66%;
}

.item-blog-inline .y-box-img img, .item-blog-main .item-blog-ct .y-box-img img {
    top: unset;
    left: unset;
    transform: unset;
}

.item-blog-inline .y-box-img {
    padding-bottom: 33%;
}

.item-blog-inline {
    position: relative;
}

.item-blog-inline .blog-info .blog-title {
    padding: 5px 15px 0;
    /* padding-bottom: 15px; */
    font-size: 30px;
    font-weight: bold;
}

.item-blog-inline .blog-info .blog-desc {
    text-align: justify;
}

.item-blog-inline .blog-info .blog-desc p {
    padding: 0 15px 3px;
    padding-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.item-blog-inline .blog-info .blog-title a {
    color: #000;
    display: block;
    /* padding-top: 10px; */
}

.item-blog-inline .blog-info {
    background: #fff;
    /* min-height: 75px; */
}

.item-blog-inline .blog-info:hover {
    background: #ee1b2e;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.item-blog-inline .blog-info .blog-desc a {
    padding: 11px 14px 11px 15px;
    color: #000;
    font-size: 15px;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 80px;
}

.item-blog-inline .blog-info:hover .blog-title a, .item-blog-inline .blog-info:hover .blog-desc a {
    color: #fff;
}

.item-blog-inline .blog-info .blog-date .month-year {
    font-size: 12px;
}

.item-blog-inline .blog-info .blog-date {
    display: flex;
    flex-direction: column;
    /* align-items: center;
  justify-content: center; */
    text-align: center;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    color: #000;
    width: 60px;
    height: 60px;
}

.item-blog-main .item-blog-inline .blog-info .blog-date {
    background: #000;
    color: #fff;
}

.item-blog-inline .blog-info .blog-date .day {
    font-weight: bold;
    font-size: 20px;
}

.overlay-footer {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, #000000 100%);
    padding-top: 55px;
}

.item-footer {
    color: #fff;
    margin-bottom: 10px;
}

.item-footer .contact-footer {
    padding-top: 10px;
}

.item-footer .contact-footer .hotline {
    font-weight: bold;
}

.item-footer .contact-footer a {
    color: #fff;
    font-size: 14px;
}

.item-footer .title-footer {
    font-weight: bold;
    font-size: 18px;
}

.item-footer .brand-footer ul li {
    margin-top: 0;
    margin-bottom: 1rem;
}

.item-footer .brand-footer ul li a {
    color: #fff;
}

.item-footer .brand-footer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-footer .list-social-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    position: relative;
}

.list-social-footer ul li a img {
    height: 27px !important;
    margin-bottom: 5px;
}

.list-social-footer ul li a:hover img {
    transition: all .4s;
}

.list-social-footer ul li a img:first-child {
    border-radius: 50%;
}

.list-social-footer ul li a .img-hidden {
    border-radius: 50%;
}

.list-social-footer ul li a .img-hv:hover {
    background: #ee1b2e;
}

.item-footer .list-social-footer span {
    width: 50%;
}

.item-footer .list-social-footer ul {
    width: 50%;
    display: flex;
}

.item-footer .list-social-footer ul li {
    font-size: 30px;
    padding-left: 27px;
}

.item-footer .list-social-footer ul li a {
    color: #fff;
}

.item-footer .list-custom ul li {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-footer .list-custom ul li a {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-footer .list-custom ul li a .box-img {
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-footer .list-custom ul li:hover {
    color: #d32936;
}

.border-line-bottom {
    border-bottom: 1px solid #313131;
}

.footer-bottom .copyright {
    color: #fff;
    text-align: center;
    padding: 27px 0 14px;
}

.menu-fixed {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 1000;
    transform: translateY(-50%);
    /* height: 400px; */
}

.menu-fixed li {
    position: relative;
    width: 100%;
    padding: 0px;
    height: 47px;
}

/* .menu-fixed li:hover {
  background: #FEFEFC;
  color: #C71E2D;
} */

.menu-fixed li a {
    display: flex;
    flex-wrap: wrap;
}

.menu-fixed li a .text-menu {
    display: flex;
    align-items: center;
    right: 46px;
    background: #fefefc;
    min-width: 250px;
    color: #c71e2d;
    padding: 12px 18px;
    transform: translateX(150%);
    opacity: 0;
    transition: ease-out 0.5s;
    height: 46px;
    position: absolute;
}

.menu-fixed li a .icon-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background: #ee1b2e;
    color: #fff;
    z-index: 2;
    transition: ease-out 1s;
    margin-bottom: 1px;
    font-size: 18px;
}

.menu-fixed li a .icon-menu:hover {
    background: #fefefc;
    color: #ee1b2e;
}

.hidden-xs {
    display: none !important;
}

.visible-xs {
    display: none;
}

.hover {
    transform: translateX(0%) !important;
    opacity: 1 !important;
}

.menu-header .drop-down .sub-menu {
    position: absolute;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: 2000;
    background: #fff;
    display: none;
    transition: ease-out 1s;
}

.menu-header .drop-down .sub-menu .sub-menu-item {
    color: #241e20;
    cursor: pointer;
    position: relative;
    background: linear-gradient(#f1f1f1, #fff);
    text-align: center;
    display: block;
}

.menu-header .drop-down .sub-menu .sub-menu-item:not(:nth-child(4)) {
    border-right: 1px solid #fff;
}

/* .box-sub-menu .box-img {
  padding: 20px;
} */

.box-sub-menu .y-box-img {
    padding-bottom: 66.66%;
}

.prod-collection .prod-box .prod-collection-item.active-menu, .menu-header .drop-down .sub-menu .sub-menu-item.active-menu {
    color: #fff;
    background: #585858;
}

.prod-collection h4 {
    font-size: 22px;
    text-align: left;
}

.hide-active {
    color: #241e20 !important;
    background: linear-gradient(#f1f1f1, #fff) !important;
}

.active-menu:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #dedede;
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px);
}

.sub-menu-item-bh.active-menu:before {
    content: "";
    width: 0;
    height: 0;
    border: unset !important;
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.custom-bf.active-menu:before {
    content: "";
    width: 0;
    height: 0;
    border: unset !important;
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.prod-collection .prod-collection-item:hover, .sub-menu .sub-menu-2 .sub-menu-item-2:hover, .sub-menu .sub-menu-item:hover {
    background: #d32936 !important;
    color: #fff !important;
    transition: background 0.2s ease-in;
}

.sub-menu .sub-menu-item:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid #dadada;
    display: none;
}

.sub-menu .sub-menu-2 .sub-menu-item-2 .text, .sub-menu .sub-menu-item .text {
    padding: 40px 30px;
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
}

.text-custom {
    font-size: 16px !important;
}

.sub-menu .sub-menu-item-2 .box-sub-menu .text {
    text-align: center;
}

.menu-header .drop-down .sub-menu-custom {
    position: absolute;
    top: 100%;
    width: 200px;
    background-color: #eeeeee;
    z-index: 100;
    display: none;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.menu-header .drop-down .sub-menu-custom li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-header .drop-down .sub-menu-custom li:hover:last-child {
    border-radius: 0px 0px 3px 3px;
}

.menu-header .drop-down .sub-menu-custom li a {
    color: #333;
    text-align: left;
    display: block;
    padding: 5px 10px;
}

.menu-header .drop-down .sub-menu-custom li:hover, .menu-header .drop-down .sub-menu-custom li a:hover {
    color: #fff !important;
    background: #ee1b2e;
    display: block;
}

.show {
    display: block !important;
}

.drop-down:hover .sub-menu {
    display: block;
}

.sub-menu .sub-menu-item {
    position: relative;
}

.sub-menu .sub-menu-2 {
    position: relative;
    width: 500%;
    background: #dadada;
    display: none;
    z-index: 789;
}

.sub-menu .sub-menu-2:last-child {
    margin-bottom: 40px;
}

.sub-menu-2 .sub-menu-item-2 a {
    display: block;
    padding-bottom: 10px;
}

/* .sub-menu-2 .sub-menu-item-2 a p {
  color: #241e20;
} */

/* .drop-down:not(:last-child):hover .link:after {
  position: absolute;
  left: 0;
  bottom: 30px;
  height: 2px;
  content: "";
  width: 100%;
  background: #ee1b2e;
  transition: all .5s linear;
} */

.drop-down:hover .link {
    color: #ee1b2e !important;
    font-weight: bold;
    /* transition: all 0.5s ease-out; */
}

.drop-down .link.active {
    color: #ee1b2e !important;
    font-weight: bold;
}

.flex-item {
    position: relative;
}

.flex-item .image {
    position: relative;
}

.flex-item .image a {
    display: block;
}

.flex-item .image:before {
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    top: 0;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.flex-item:hover .image:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 98%, rgba(0, 0, 0, 0.8) 100%);
}

.flex-item .name {
    position: absolute;
    bottom: 50px;
    left: 0px;
    z-index: 20;
    color: #ffff;
    text-transform: uppercase;
    font-size: 15px;
    transition: ease-out 0.5s;
    font-size: 20px;
    font-weight: normal;
}

.flex-item:hover .name {
    bottom: 50%;
    transition: ease-out 0.5s;
}

.flex-item .name:before {
    background: #ee1b2e;
    position: absolute;
    left: 0;
    bottom: 5px;
    content: "";
    width: 60px;
    height: 17px;
}

.flex-item .name span {
    padding-left: 70px;
}

.special {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ee1b2e;
    text-transform: none !important;
    color: #fff !important;
}

.special a {
    color: #fff !important;
}

.special i {
    position: absolute;
    right: 30px;
    font-size: 22px;
}

.special-contact {
    background: #f1f1f1;
    text-transform: none !important;
}

.m-menu__title .box-product {
    display: flex;
}

.m-menu__title .box-product .prod-box-item .prod-item {
    padding-right: 4px;
    padding-left: 4px;
    color: #fff;
}

.m-menu__title .box-product .prod-box-item.active a {
    color: #fff;
    background: #ee1b2e;
    padding: 6px;
}

.m-menu__title .box-product .prod-box-item.active a:after {
    border-bottom: 1px solid #ee1b2e;
}

/* .m-menu__title .box-product .prod-box-item:not(:first-child) {
  border-left: 1px solid #dedede;
} */

/* btn fb chat */

.fb-livechat, .fb-widget {
    display: none;
}

.ctrlq.fb-button, .ctrlq.fb-close {
    position: fixed;
    right: 24px;
    cursor: pointer;
}

.ctrlq.fb-button {
    text-decoration: none;
    z-index: 999;
    background: url("../images/messager.png") center no-repeat #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    bottom: 60px;
    right: 10px;
    border: 0;
    outline: 0;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
    -webkit-transition: box-shadow 0.2s ease;
    background-size: 60%;
    transition: all 0.2s ease-in-out;
    color: #ee1b2e;
}

/* .ctrlq.fb-button:focus,
.ctrlq.fb-button:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24);
} */

.fb-widget {
    background: #fff;
    z-index: 1000;
    position: fixed;
    width: 360px;
    height: 435px;
    overflow: hidden;
    opacity: 0;
    bottom: 0;
    right: 24px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
}

.fb-credit {
    text-align: center;
    margin-top: 8px;
}

.fb-credit a {
    transition: none;
    color: #bec2c9;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
    border: 0;
    font-weight: 400;
}

.ctrlq.fb-overlay {
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-transition: opacity 0.4s, visibility 0.4s;
    transition: opacity 0.4s, visibility 0.4s;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.05);
    display: none;
}

.ctrlq.fb-close {
    z-index: 4;
    padding: 0 6px;
    background: #365899;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    margin: 8px;
    border-radius: 3px;
}

.ctrlq.fb-close::after {
    content: "X";
    font-family: sans-serif;
}

.bubble {
    width: 20px;
    height: 20px;
    background: #c00;
    color: #fff;
    position: absolute;
    z-index: 999999999;
    text-align: center;
    vertical-align: middle;
    top: -2px;
    left: -5px;
    border-radius: 50%;
}

.bubble-msg {
    width: 120px;
    left: -140px;
    top: 5px;
    position: relative;
    background: rgba(59, 89, 152, 0.8);
    color: #fff;
    padding: 5px 8px;
    border-radius: 8px;
    text-align: center;
    font-size: 13px;
}

/* Trang collection */

/* breadcrum */

.y-breadcrumb {
    padding: 10px 0 0;
    list-style: none;
    background: #fff;
}

.y-breadcrumb ul {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.y-breadcrumb ul:after {
    content: "";
    border-bottom: 1px solid #e2e2e2;
    background: #e2e2e2;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.y-breadcrumb li {
    display: inline;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.y-breadcrumb li .active {
    color: #241e20;
}

.y-breadcrumb li+li:before {
    color: #e2e2e2;
    padding: 10px 10px;
    content: "/\00a0";
    font-size: 28px;
}

.y-breadcrumb li a {
    color: #a8a9ae;
    text-decoration: none;
}

.y-breadcrumb li a:hover {
    color: #ee1b2e;
}

/* css collection */

.section-banner {
    position: relative;
}

.section-banner:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 1;
    z-index: 1;
    position: absolute;
    top: 0;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
}

.prod-collection {
    /* background: #fff; */
    padding-bottom: 40px;
    text-align: center;
    margin-top: -6px;
}

.prod-loadmore {
    border: 1px solid #dedede;
    padding: 10px;
    background: #d32936;
    color: #fff !important;
    display: block;
    max-width: 200px;
    margin: 30px auto 0px;
    cursor: pointer;
}

.prod-loadmore:hover {
    color: #d32936 !important;
    background: #f7f7f7;
}

.prod-collection .prod-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.prod-collection .prod-collection-item {
    border: 1px solid #dedede;
    background: #fff;
    padding: 5px;
    position: relative;
    min-height: 340px;
}

/* .prod-collection .prod-collection-item:nth-child(1),
.prod-collection .prod-collection-item:nth-child(2),
.prod-collection .prod-collection-item:nth-child(3),
.prod-collection .prod-collection-item:nth-child(4) {
  border-top: unset;
}
.prod-collection .prod-collection-item:nth-child(3n + 1),
.prod-collection .prod-collection-item:nth-child(3n + 2),
.prod-collection .prod-collection-item:nth-child(3n + 3) {
  border-left: unset;
} */

/* .prod-collection .prod-collection-item:nth-child(4n + 4) {
  border-right: unset;
} */

.prod-collection .prod-collection-item a {
    display: block;
    color: #241e20;
}

.prod-collection-item .price a {
    color: #ee1b2e;
    font-weight: bold;
    /* padding: 5px 0px; */
}

.prod-collection-item .price a span {
    font-size: 12px;
    text-decoration: underline;
    position: absolute;
    padding-left: 2px;
}

/* trang product.html */

.menu-blog {
    overflow: hidden;
    position: relative;
    top: 0;
    transition: top .5s ease;
}

.menu-blog ul {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}

.menu-blog ul li {
    position: relative;
    flex: 0 0 auto;
    width: 14.28%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu-blog ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 10px;
    width: 100%;
}

.menu-blog ul li:last-child:after {
    display: none;
}

.menu-blog ul li:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #383636;
    transform: translateY(-50%);
}

.menu-blog ul .active {
    font-weight: bold;
    background: #c4c4c4;
}

.menu-blog ul li.active a {
    background: #c4c4c4;
    color: #ee1b2e;
}

.product-box {
    background: #fff;
    text-align: center;
    color: #241e20;
    padding-top: 20px;
    position: relative;
}

.product-box .product-box-item .text-product h3 {
    font-size: 40px;
}

.product-box .product-box-item .text-product p {
    max-width: 600px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

/* .owl-carousel .owl-item img {
  width: max-content;
  margin: 0 auto;
} */

.product-box .product-img-item .box-text {
    width: max-content;
    margin: 0 auto;
}

.owl-carousel .owl-item.active.current .box-text p {
    color: #d32936;
    border-bottom: 1px solid #d32936;
}

.product-details .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-details .details .item {
    width: 20%;
    border: 1px solid #e2e2e2;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.product-details .details .item:first-child {
    border-left: unset;
}

.product-details .details .item:last-child {
    border-right: unset;
}

.product-details .details .item p {
    margin-top: 16px;
    margin-bottom: 0;
}

.product-details .details .item .index {
    margin-bottom: 16px;
}

.product-details .details .item-register {
    padding: 20px;
}

.product-details .details .item .register-drive, .product-details .details .item .register-price {
    margin-bottom: 7px;
    margin-top: 7px;
    width: 100%;
    text-align: center;
}

.product-details .details .item .register-drive a, .product-details .details .item .register-price a {
    padding: 5px 18px;
    display: block;
}

.product-details .details .item .register-drive {
    background: #d32936;
    border-radius: 4px;
}

.product-details .details .item .register-drive a {
    color: #fff;
}

.product-details .details .item .register-price {
    background: #d6d6d6;
    border-radius: 4px;
}

.product-details .details .item .register-price a {
    color: #241e20;
}

.product-slider .prod-box-slider .box-img, .product-slider .prod-box-slider2 .box-img {
    display: flex;
    flex-wrap: wrap;
}

.product-slider {
    text-align: center;
    padding-top: 20px;
    background: #fff;
}

.product-slider .prod-box-slider, .product-slider .prod-box-slider2 {
    padding-bottom: 40px;
    border-bottom: 1px solid #e2e2e2;
}

.product-slider .prod-box-slider .box-img-item, .product-slider .prod-box-slider2 .box-img-item {
    position: relative;
    /* height: 270px; */
    display: block;
    width: 100%;
}

/* .product-slider .prod-box-slider .box-img-item {
    min-height: 370px;
} */

.box-img-custom-main::before {
    background: unset !important;
}

.prod-box-slider .box-img-main .box-img-custom-main:hover:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%) !important;
    opacity: 1;
    position: absolute;
    top: 0;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
}

.prod-box-slider .box-img-custom:before, .product-slider .prod-box-slider2 .box-img-item:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 1;
    position: absolute;
    top: 0;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
}

.prod-box-slider .box-img-custom:hover:before, .product-slider .prod-box-slider2 .box-img-item:hover:before {
    opacity: 0;
}

.prod-box-slider .box-img-main .box-img-custom-main:before {
    opacity: 1;
}

.product-slider .prod-box-slider .box-img-item:hover p, .product-slider .prod-box-slider2 .box-img-item:hover p {
    color: #fff;
}

.product-slider .prod-box-slider .box-img-item p, .product-slider .prod-box-slider2 .box-img-item p {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
}

.img1 {
    flex: 1;
}

.img2 {
    flex: 1.3223;
}

.img3 {
    flex: 1;
}

.section-tskt {
    text-align: center;
    color: #241e20;
}

.section-tskt table {
    border: 1px solid #dedede;
    margin: 0 auto;
}

.section-tskt table tr {
    background: #eeeeee;
}

.section-tskt table tr:nth-child(2n+1) {
    background: #d6d6d6;
}

.section-tskt table tr td {
    text-align: left;
    border: 1px solid #dedede;
    padding: 10px;
    padding-right: 146px;
    font-size: 14px;
}

.bg-color {
    background: #fff;
}

.section-register-drive .form-register-drive {
    background-image: url(../images/bg-section.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 50px;
    /* padding-top: 40px; */
    color: #241e20;
    max-width: 1140px;
}

.section-register-drive .form-register-drive h3 span {
    color: #d32936;
    display: inline;
}

.section-register-drive .check-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prod-register .prod-box .prod-sub-menu .check-box {
    padding: 16px !important;
}

.cs-radio {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 20px;
}

.cs-custom a {
    color: #ee1b2e;
}

.cs-custom a:hover {
    color: #000;
}

.cs-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
}

.prod-cs .prod-item .cs-radio .checkmark {
    background-color: #e5e5e5;
}

.cs-radio input:checked~.checkmark:after {
    display: flex;
}

.cs-radio .checkmark:after {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    content: "\f00c";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 15px;
    color: #000;
    display: none;
}

.form-register-drive .box-customer {
    display: block;
}

.form-register-drive .box-customer .list-customer {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin-left: -8px;
    margin-right: -8px;
}

.form-register-drive .box-customer .customer {
    width: 50%;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
}

.date-time i {
    position: absolute;
    right: 12px;
    font-size: 20px;
    top: 55%;
    pointer-events: none;
}

.form-register-drive .box-customer input {
    width: 100%;
    border: 1px solid #d9d9d9;
    min-height: 40px;
}

.form-register-drive .box-customer .flex-max-width {
    width: 100%;
}

.custom-max-width {
    max-width: 600px;
}

.form-register-drive .box-customer .flex-max-width textarea {
    height: 120px;
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 5px;
}

.form-register-drive .box-customer .flex-max-width .register-drive {
    background: #d32936;
    border-radius: 4px;
    width: max-content;
}

.form-register-drive .box-customer .flex-max-width .register-drive a {
    color: #fff;
    padding: 5px 55px;
    display: block;
    font-size: 16px;
}

.form-register-drive .box-customer .flex-max-width .register-drive button {
    color: #fff;
    padding: 5px 55px;
    display: block;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}

.box-customer .customer .hidden-text {
    font-style: italic;
    color: #929292;
}

.list-product {
    text-align: center;
    color: #241e20;
}

/* Collection_baoho */

.section-banner h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    z-index: 20;
    font-size: 55px;
    text-align: center;
}

/* .section-banner h2:hover {
    color: #ee1b2e;
} */

/* Trang about */

.section-banner-about {
    background: #fff;
}

.section-about {
    text-align: left;
    background: #fff;
}

.section-about .box-about {
    width: 70%;
    margin: 0 auto;
}

.section-about .box-about h2 {
    text-align: center !important;
}

.section-about .box-about .bold {
    font-weight: bold;
}

.maps {
    background: #fff;
}

.maps-footer {
    max-width: 305px;
}

.maps iframe {
    height: 500px;
}

/* Trang product_phukien */

.flex-item .item-box .box-fix {
    height: 156px;
}

.product-slider-pk .slick-list, .product-thumbs .slick-list {
    padding: 0 !important;
}

.product-thumbs .slick-prev, .product-thumbs .slick-next {
    display: none !important;
}

.product-thumbs .product-img-item {
    border: 1px solid #dedede;
    margin: 5px 0px;
}

.product-img-item {
    position: relative;
}

.product-img-item:before:last-child {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 50;
    content: "";
}

.prod-detail-page {
    text-align: left;
    color: #241e20;
}

.prod-detail-property h2 {
    font-size: 30px;
}

.prod-detail-property .price {
    font-size: 25px;
    font-weight: bold;
    color: #ee1b2e;
}

.prod-detail-property .price a {
    position: relative;
}

.prod-detail-property .price a:hover {
    color: #ee1b2e;
}

.prod-detail-property .price span {
    font-size: 16px;
    position: absolute;
    right: -10px;
    text-decoration: underline;
}

.prod-detail-property .text-property {
    margin-bottom: 7px;
}

.prod-detail-property .list-property {
    padding-left: 0;
}

.prod-detail-property .list-property li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 8px;
}

.prod-detail-property .list-property li a {
    position: relative;
    display: block;
    padding: 0px 12px 0 0;
    text-decoration: none;
    color: #000;
    border: 1px solid #e6e6e6;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
}

.prod-detail-property .list-property li a.active {
    border: 1px solid #fe302e;
}

.prod-detail-property .list-property li a.active:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
}

.prod-detail-property .list-property li a .input-color {
    display: none;
}

.prod-detail-property .form-control-item {
    width: 30%;
    min-height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 8px;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 4px;
    color: #241e20;
    background-color: #fff;
}

.prod-detail-property .form-width {
    width: 25%;
}

.prod-detail-property .prod-detail-order {
    background: #d32936;
    text-align: center;
    padding: 5px 10px;
    max-height: 40px;
    width: 50%;
    /* margin-left: 20px; */
}

.prod-detail-property .prod-detail-order a {
    color: #fff;
    font-size: 20px;
    display: block;
}

/* Trang register */

.prod-register {
    text-align: center;
    padding-top: 50px;
}

.prod-register .prod-box .prod-sub-menu {
    display: none;
    background: #dadada;
}

.prod-register .prod-box .prod-sub-menu .check-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Trang blog */

.banner-contact {
    background-image: url(../images/banner-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-contact:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 1;
    z-index: 1;
    position: absolute;
    top: 0;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
}

.banner-contact .contact-social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.banner-contact .contact-social .social-custom {
    padding-left: 80px;
}

.blog-box {
    padding-top: 25px;
    /* padding-bottom: 50px; */
}

.blog-box .item-blog-main .item-blog-inline {
    padding-bottom: 30px;
}

.blog-box .item-blog-main .item-blog-inline .blog-info .blog-title {
    font-size: 20px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
}

.blog-box .item-blog-main .item-blog-inline .blog-info .blog-title:hover {
    color: #fff;
}

.blog-info .blog-subscription {
    color: #9c9c9c;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    height: 30px;
}

.blog-info:hover .blog-subscription {
    color: #fff !important;
}

.blog-box .item-blog-main .item-blog-inline .blog-info .blog-date {
    color: #000;
    background: #fff;
}

.blog-box .box-btn-viewmore {
    margin: 15px 0px 20px;
    text-align: center;
}

.blog-box .box-btn-viewmore .btn-viewmore {
    border: 1px solid #dedede;
    background: #d32936;
    border-radius: 4px;
    color: #fff !important;
    padding: 10px 40px;
}

/* Trang article */

.bg-custom {
    background: unset;
    padding-bottom: 30px;
}

.section-article h2 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}

.section-article .y-box-img {
    padding-bottom: 66.66%;
}

.section-article .article-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.section-article .article-item .btn-return {
    color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-article .article-item .btn-return:hover {
    color: #ee1b2e;
}

.section-article .article-item .btn-return i {
    font-size: 30px;
    padding-right: 5px;
}

.section-article .list-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-article .list-social ul {
    display: flex;
}

.section-article .list-social ul li {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.section-article .list-social ul li a {
    color: #0a0a0a;
}

.section-article .list-social ul li a:hover {
    color: #ee1b2e;
}

.section-article .list-social ul li a img {
    height: 27px;
    margin-bottom: 7px;
    background: #000;
}

.section-article .list-social ul li a img:hover {
    background: #ee1b2e;
}

.section-article .list-social ul li a img:nth-child(1), .section-article .list-social ul li a img:nth-child(2) {
    border-radius: 50%;
}

.section-article .qc {
    padding-bottom: 50px;
    text-align: center;
}

.font-custom {
    font-weight: bold;
}

.owl-dots .owl-dot.active {
    border: 2px solid #ee1b2e;
    border-radius: 50%;
}

.owl-dots .owl-dot.active span {
    background: transparent !important;
}

.item-footer .maps iframe {
    display: block;
    height: 150px;
}

.item-footer .social-footer iframe {
    display: block;
    height: 250px;
}

.coccoc-alo-ph-circle {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    transition: visibility 0.5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-ph-circle-fill {
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.coccoc-alo-ph-img-circle {
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: rgba(30, 30, 30, 0.1) url(https://drive.google.com/uc?id=1V3N2b79QjDWetC_ss9wI3c-xpWDymn9R) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: #00aff2;
    opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle, .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: #75eb50;
    opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill, .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: rgba(117, 235, 80, 0.5);
    opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle, .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: #75eb50;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}

.footer .item-footer a:hover {
    color: #ee1b2e;
}

.logo-header a img {
    height: 68px;
}

.custom-title {
    width: 25% !important;
}

.custom-title-2 {
    width: 75% !important;
}

.footer-bottom {
    border-top: 1px solid #313131;
}

.box-desktop-custom {
    display: block !important;
}

.box-mobile-custom {
    display: none !important;
}

.phone-custom-color {
    transform: rotate(90deg);
}

.category-products {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    padding: 10px;
}

.category-products h3 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.category-products ul {
    display: flex;
    align-items: center;
}

.category-products ul li {
    margin: 0 10px;
}

.product-sort {
    position: relative;
    padding-left: 20px;
    margin: 0;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-sort input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark-category {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 50%;
    margin-top: 4px;
}

.checkmark-category:after {
    content: "";
    position: absolute;
    display: none;
}

.product-sort:hover input:checked~.checkmark-category, .product-sort input:checked~.checkmark-category {
    background-color: #fff;
    border: 1px solid #dedede;
}

.product-sort input:checked~.checkmark-category:after {
    display: block;
}

.product-sort:hover .checkmark-category:after {
    display: block;
}

.product-sort:hover .checkmark-category:after, .product-sort .checkmark-category:after {
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ee1b2e;
}

.box-sort-mobile {
    text-align: center;
    display: flex;
}

@media (max-width: 767px) {
    .box-desktop-custom {
        display: none !important;
    }
    .box-mobile-custom {
        display: block !important;
    }
}

.video-content {
    /* position: relative; */
    /* display: block; */
    /* overflow: hidden; */
    /* padding-bottom: 100%; */
}

.video-content video {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    top: 0;
}

.item-custom {
    display: block !important;
}

.search-box {
    position: relative;
}

.search-box .input-bar {
    position: absolute;
    z-index: 99;
    right: 10px;
    display: block;
    width: 0px;
    transition: all 0.5s ease;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    top: 4px;
}

.search-box .input-bar.active-wts {
    width: 400px !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.search-box .input-bar input {
    width: 100%;
    height: 40px;
    border: unset;
    padding-left: 10px;
}

.search-box .input-bar .search-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}

.search-box .input-bar .search-icon a {
    color: #ee1b2e;
}

.box-prod-detail {
    display: flex;
    flex-wrap: wrap;
    /* padding-top: 10px; */
    /* background: #fff; */
    justify-content: center;
}

.prod-menu-detail ul {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #f4f4f4;
    overflow: auto;
    margin-top: 15px;
    padding-left: 15px;
    max-height: 250px;
}

.prod-menu-detail ul .prod-cs {
    padding-left: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.prod-menu-detail ul li .prod-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.prod-menu-detail ul .prod-cs i {
    padding-right: 8px;
    /* visibility: hidden; */
}

.prod-menu-detail-custom ul {
    max-height: unset;
}

ul .prod-cs a {
    display: block;
}

.prod-menu-detail ul .prod-cs a.active, .prod-menu-detail ul .prod-cs a.active .cs-radio .checkmark:after, .prod-menu-detail ul .prod-cs a:hover, .prod-menu-detail ul .prod-cs a:hover .cs-radio .checkmark:after {
    color: #c71e2d;
    /* visibility: visible; */
}

.prod-collection {
    width: 100%;
}

.prod-collection-custom {
    width: 70%;
}

.prod-menu-detail {
    width: calc(30% - 20px);
    margin-right: 20px;
}

.bg-box {
    background: #fff;
}

.custom-box-zoom {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.custom-box-zoom span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    z-index: 100;
}

.img-overlay {
    position: relative;
}

.img-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.img-overlay a {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    font-weight: normal;
    z-index: 200;
    color: #fff;
    font-size: 16px;
}

.img-overlay h1 {
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.sweep-to-right {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 100ms;
    transition: color 100ms;
}

.sweep-to-right.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: -1;
    left: 0;
    bottom: 33px;
    background: #ee1b2e;
    transform: unset;
    transition: unset;
}

.sweep-to-right:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    z-index: -1;
    left: 0;
    bottom: 33px;
    background: #ee1b2e;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
}

.sweep-to-right.active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: -1;
    left: 0;
    bottom: 30px;
    background: #ee1b2e;
    transform: unset;
    transition: unset;
}

.sweep-to-right:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    z-index: -1;
    left: 0;
    bottom: 30px;
    background: #ee1b2e;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
}

.sweep-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.sweep-to-right:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.box-menu-transition:hover .box-img {
    transform: translateY(-13px);
    display: block;
    transition: all 0.3s ease-in-out;
}

.box-menu-transition .y-box-img {
    padding-bottom: 66.66%;
}

/* .bg-transition:before {
  background: unset !important;
} */

.hidden {
    display: none;
}

.hidden-img {
    display: none !important;
}

.item-expanded {
    margin: 0 !important;
    transition: all ease-in 0.6s !important;
}

.menu-header-fixed {
    position: fixed;
    padding: 0;
    margin: 0 auto;
    z-index: 999;
    background: #000;
    flex-wrap: wrap;
    max-width: 1920px;
}

.menu-header-fixed .logo-header {
    margin-left: -160px !important;
    width: 42%;
    text-align: right;
}

.menu-header-fixed .menu-header {
    width: 70%;
    text-align: left;
    padding-left: 70px;
}

.menu-header-fixed .mobile-menu-btn {
    top: 68%;
}

.overflow-custom {
    overflow-y: scroll;
    height: 610px;
}

.custom-form {
    width: 100% !important;
}

.list-customer-custom {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.list-customer-custom .customer {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.custom-input {
    width: 100% !important;
}

.icon-phone-desk {
    display: block !important;
}

.icon-phone-m {
    display: none !important;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-50px);
        -moz-transform: translatey(-50px);
        -o-transform: translatey(-50px);
        transform: translatey(-50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@-moz-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-50px);
        -moz-transform: translatey(-50px);
        -o-transform: translatey(-50px);
        transform: translatey(-50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translatey(-50px);
        -moz-transform: translatey(-50px);
        -o-transform: translatey(-50px);
        transform: translatey(-50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.in-down {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translatey(10px);
        -moz-transform: translatey(10px);
        -o-transform: translatey(10px);
        transform: translatey(10px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}

.in-up {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.in-up:nth-child(1) {
    animation-delay: 0s;
}

.in-up:nth-child(2) {
    animation-delay: 0.25s;
}

.in-up:nth-child(3) {
    animation-delay: 0.5s;
}

.in-up:nth-child(4) {
    animation-delay: 0.75s;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translatex(5px);
        -moz-transform: translatex(5px);
        -o-transform: translatex(5px);
        transform: translatex(5px);
    }
    to {
        opacity: 1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

.in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/* collection */

.main-content {
    background: #fff;
}

/* .box-img {
  padding: 20px;
} */

.prod-collection-item .text {
    padding: 30px 20px;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    height: 125px;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prod-collection .prod-collection-item:hover a {
    color: #fff !important;
}

/* product */

.owl-carousel .owl-nav .custom-dot-prev {
    left: -50px;
    top: 45%;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav .custom-dot-next {
    right: -50px;
    top: 45%;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav .custom-dot-prev i, .owl-carousel .owl-nav .custom-dot-next i {
    color: #000;
    font-size: 50px;
}

.prod-title-main {
    font-size: 35px;
    padding-bottom: 20px !important;
    padding-top: 30px;
    text-transform: uppercase;
}

.customer .checkbox {
    width: auto !important;
}

/* .box-custom {
    height: 250px !important;
} */

.custom-bg {
    background: #f2f2f2;
}

.menu-btn-custom {
    margin: 10px auto;
}

.custom-img {
    margin-bottom: 0 !important;
}

/* .list-social-footer ul li a .custom-img:hover {
    background: unset;
} */

.list-social-custom li a:hover .text {
    color: #ee1b2e;
    transition: 0.2s ease-in;
}

.menu-blog-fixed {
    position: fixed;
    top: 25px;
    background: #f7f7f7;
    z-index: 300;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 !important;
}

.custom-dots {
    bottom: 50px !important;
}

/* .custom-dot {
  width: 13px;
  height: 13px;
}
.owl-carousel .custom-dots .custom-dot span {
  width: 13px;
  height: 13px;
} */

.custom-box-img {
    padding-bottom: 10px;
}

.custom-row {
    margin: 0 !important;
}

.custom-modal {
    max-width: 1200px;
}

.list-img {
    display: block;
}

.list-img li {
    padding: 5px;
}

.list-img li a {
    display: block;
}

.title-form {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.title-custom {
    margin-bottom: 3px;
}

.custom-height-box {
    height: 250px;
}

.padding-section-custom {
    padding-bottom: 38px;
}

.padding-custom {
    padding: 30px;
}

.list-social-custom {
    width: 100% !important;
}

.list-social-custom li {
    padding-left: 50px !important;
}

.list-social-custom li a .custom-img {
    height: 100px !important;
    width: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-social-custom li a .custom-img img {
    height: 70px !important;
    width: 70px !important;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0px;
}

.list-social-custom .text {
    text-align: center;
    font-size: 16px;
}

.contact-social-custom {
    display: flex !important;
}

.roland-garros-babolat>div {
    /*display: table-cell;
  vertical-align: top;*/
}

.example-container {
    display: block;
    width: 100%;
}

.roland-garros-babolat .selectors {
    width: 85px;
    padding-right: 1px;
    float: left;
}

@media (max-width: 320px) {
    .example-container .selectors {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .roland-garros-babolat .selectors>a {
        width: 120px;
    }
    .y-breadcrumb li a {
        font-size: 11px;
    }
    .prod-title-main {
        font-size: 30px;
    }
}

a[data-zoom-id], .mz-thumb, .mz-thumb:focus {
    display: inline-block;
    line-height: 0;
    outline: none;
}

.roland-garros-babolat .selectors>a {
    margin-bottom: 10px;
}

a[data-zoom-id] img, .mz-thumb img {
    border: 0;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.overlay-zoom {
    position: relative;
    display: block;
    z-index: 50;
}

.overlay-zoom:after {
    position: absolute !important;
    width: 84px !important;
    height: 84px !important;
    left: 0;
    top: 0;
    z-index: 10;
    content: "";
    background: rgba(0, 0, 0, 0.8) !important;
}

.overlay-zoom .stt {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    display: block;
    font-size: 40px;
    color: #fff;
    z-index: 52;
}

@media (max-width: 767px) {
    .overlay-zoom .stt {
        font-size: 30px;
    }
}

@media (max-width: 475px) {
    .overlay-zoom .stt {
        font-size: 20px;
    }
}

.overlay-zoom:after {
    position: absolute;
    background: #000;
    opacity: 0.7;
    z-index: 51;
    width: max-content;
    height: max-content;
    left: 0;
    content: "";
}

.display-custom {
    display: flex;
}

/* Feedback 17/07/2020 */

.tags {
    position: absolute;
    top: 0;
    right: 0;
    background: #ee1b2e;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px;
    display: block;
}

.tags a {
    color: #fff !important;
}

.custom-img-slide {
    width: 45% !important;
    margin: 0 auto;
}

.vs-custom {
    visibility: hidden;
    display: block;
}

.vs-custom2 {
    visibility: visible;
}

.box-img-item:hover .vs-custom2 {
    visibility: hidden;
}

.product-slider .prod-box-slider .box-img-item:hover .vs-custom {
    visibility: visible;
}

.box-img-item {
    cursor: pointer;
}

.custom-modal-gallery {
    max-width: 100%;
}

.custom-modal-body {
    max-width: 1000px;
}

.blog-date-custom {
    left: 15px !important;
}

.blog-img-m {
    width: 100%;
}

.blog-info-m {
    width: 100%;
}

.product-detail-series {
    text-align: center;
}

.product-detail-series p.des {
    width: 30%;
    margin: 15px auto;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #666666;
}

.title {
    text-align: center;
}

.title p {
    font-size: 16px;
    width: 45%;
    margin: 0 auto;
}

.product-img-slider .item.active {
    opacity: 1;
    border: 2px solid #ec1b2e;
    transition: 0.5s;
}

.product-img-slider .item {
    height: 100%;
    opacity: 0.7;
    padding: 10px;
    margin: 0 10px;
    display: block;
    border: 2px solid transparent;
}

.product-img-slider .item img {
    width: 65% !important;
    margin: 0 auto;
}

.blog-date-custom {
    left: 15px !important;
}

.blog-img-m {
    width: 100%;
}

.blog-info-m {
    width: 100%;
}

.wrapper {
    width: 100%;
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
}

.wrapper ul {
    display: none;
}

.wrapper ul li:not(:last-child) {
    border-bottom: 1px solid #dedede;
}

.wrapper ul li a {
    color: #fefefe;
    padding: 5px;
    background: #000;
    display: block;
    font-size: 14px;
}

.wrapper a i {
    padding-right: 5px;
}

.mobile-sort-btn {
    display: block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 5px;
    color: #000;
    border: 1px solid #1a1a1a;
    padding: 20px 10px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-width: 120px;
    margin: 20px 5px;
    text-align: center;
}

.btn-register-drive {
    display: block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 5px;
    color: #000;
    border: 1px solid #1a1a1a;
    padding: 20px 30px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-width: 120px;
    margin: 20px 0px;
}

.blog-title-m {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-box-custom {
    min-height: 185px !important;
}

.box-mobile .sub-menu {
    position: relative;
    width: 100%;
}

.register-m {
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.register-m a {
    padding: 0px 0px 10px;
    width: 100%;
    display: block;
    overflow: hidden;
}

.register-m .sub-menu-lv2 li a {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.register-m a:hover {
    color: #ee1b2e;
}

.register-m>a .btn-toggle-sub {
    top: 0px;
    right: 0;
}

.register-m>a .text-sub-m {
    text-transform: uppercase;
}

.register-m .sub-menu-lv2 {
    text-transform: uppercase;
}

.register-m .checkmark-ct {
    top: 0px;
}

/* .register-m img {
    padding-left: 20px;
} */

.register-m .box-img {
    max-width: 165px;
}

.register-m.opened-submenu .text-sub-m, .register-m.opened-submenu .custom-sub-m-icon {
    color: #ee1b2e;
}

.has-submenu.opened>a, .register-m.opened-submenu>a {
    border-bottom: 1px solid #ddd;
}

.register-m>a {
    position: relative;
    display: flex;
    align-items: center;
}

.register-m>a .btn-toggle-sub {
    width: 40px;
    height: 42px;
    max-height: 100%;
    position: absolute;
    top: 25px;
    right: 0;
    color: #000;
    z-index: 2;
}

.register-m>a .btn-toggle-sub:before {
    content: "\f067";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 18px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.register-m.opened-submenu>a .btn-toggle-sub:before {
    content: "\f2d1";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.register-m .sub-menu-lv2 {
    /* padding-left: 20px; */
    display: none;
    background: #f2f2f2;
}

.register-m.opened-submenu>a:before {
    content: "";
    background-color: #3b3b3b;
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.register-m.opened-submenu>a:after {
    content: "";
    width: 120%;
    height: 10px;
    display: block;
    position: absolute;
    left: -28px;
    bottom: 0;
    box-shadow: 0 5px 5px #ddd;
}

.box-title-m {
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-bottom: 15px;
    font-size: 16px;
}

.box-m-register {
    padding-top: 20px;
    width: 100%;
}

.banner-blog {
    padding-bottom: 20px;
    /* padding-top: 20px; */
}

.banner-blog .qc {
    padding-bottom: 15px;
}

.success-section .y-text-editor {
    font-size: 16px;
}

.success-section .icon-success i {
    color: rgb(63, 184, 70);
    font-style: normal;
}

.success-section .icon-success {
    display: block;
    font-size: 70px;
    text-align: center;
}

.success-section .y-text-editor p span {
    color: #ee1b2e;
    font-weight: bold;
}

.success-section .y-text-editor ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 30px;
}

.success-section .y-text-editor .title-main {
    text-align: center !important;
    padding-top: 0;
}

.success-section .y-text-editor ul li {
    display: flex !important;
}

.success-section .y-text-editor ul li a {
    display: block;
    padding-left: 10px;
}

.success-section .y-text-editor ul li a:hover {
    color: #ee1b2e;
}

.success-section .y-text-editor ul li h4 {
    font-size: 20px;
    font-weight: bold;
}

.modal-dialog-custom {
    max-width: 600px;
}

.fix-img {
    width: 100% !important;
}

.fix-padding {
    padding: 0 !important;
}

.fix-padding p {
    margin-bottom: 10px;
}

.modal-content-custom {
    background: #f6f6f6;
}

.prod-title-main-ct {
    padding: 20px 0 0;
}

/* .blog-info-custom {
    max-height: 70px !important;
} */

.active-select {
    background: #a480802e;
}

select {
    min-height: 28px;
    width: 190px;
    border-radius: 4px;
}

.box-desktop-blog {
    display: block;
}

.select2-container {
    width: 190px !important;
}

.text-content {
    font-size: 33px;
    color: #ee1b2e;
    font-weight: bold;
}

#gallery-2 img, #gallery-3 img {
    display: none;
}

.box-img-nb img {
    height: 270px;
    object-fit: cover;
}

.prev-arrow {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #ee1b2e;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(90deg);
    background: transparent;
    margin-bottom: 10px;
}

.next-arrow {
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #ee1b2e;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(90deg);
    background: transparent;
    margin-top: 10px;
}

.bg {
    background: url('/images/item-box8.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .7s;
}

.bg:hover {
    transform: scale(1.2);
}

.mz-expand .mz-expand-stage {
    background: #fff;
}

#voucher-online .modal-body {
    background-color: #000;
    padding: 0;
}

#voucher-online .form-voucher-online {
    color: #fff;
}

#voucher-online input, #voucher-online select {
    width: 100%;
    border: 1px solid #d9d9d9;
    min-height: 35px;
    margin-bottom: 15px;
    padding-left: 10px;
}

#voucher-online .select2-container {
    display: block;
    width: 100% !important;
    min-height: 35px !important;
    margin-bottom: 15px;
}

#voucher-online .select2-selection--single {
    height: 35px;
}

#voucher-online .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}

#voucher-online button {
    color: #fff;
    padding: 5px 55px;
    display: block;
    font-size: 16px;
    background-color: #ee1b2e;
    width: 100%;
    border: none;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}

#voucher-online h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#voucher-online .col-left {
    padding: 0;
}

#voucher-online .col-right {
    padding: 30px;
    max-height: 380px;
}

#voucher-online .modal-dialog-large {
    max-width: 700px;
}

#voucher-online .col-left img {
    width: 100%;
}

.fixed-btn {
    margin: 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.y-sort-menu.show .fixed-btn {
    display: block;
}

.fixed-btn a {
    width: 50%;
    float: left;
    height: 48px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 48px;
}

.fixed-btn a.delete-filter {
    background-color: #fff;
    border-top: 1px solid #f0f1f5;
    border-bottom: 1px solid #f0f1f5;
    color: #4d4d4d;
}

.fixed-btn a.apply-filter {
    background-color: #dc0021;
    border-top: 1px solid #f0f1f5;
    color: #fff;
}

.text-color {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .section-register-drive .form-register-drive h3 .moto-name {
        display: none !important;
    }
}

.img-bct {
    max-width: 200px;
    display: block;
}

@media (max-width: 767px) {
    .img-bct {
        margin: 0 auto;
    }
}

/* Product-img-slider */

.product-details {
    padding-top: 15px;
}

.product-img-slider .owl-dots {
    bottom: 0 !important;
}