extends ./../layout.pug
block pre-include
  - var menu = 'gallery'
  - var childMenu = 'create'
  title Tạo gallery

block post-include
  script(src=staticURI() + '/js/admin/gallery.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li
        a(href='/admin/gallery') Gallery
      li
        a Thêm mới

    ol.button-right.col-md-4.col-sm-5.col-xs-12
      li
        a.btn.btn-admin.btn-create.btn-create-update-gallery
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content.gallery
    .row
      .col-xs-12.col-sm-12.col-md-7
        .box.box-info-gallery.box-info
          .form-horizontal
            .box-title.clearfix
              .pull-left.title-tab THÔNG TIN
              if multiLang
                include ../snippet/nav-tabs-lang
            .box-body
              .tab-content
                #tab-vi.tab-pane.fade.in.active
                  .form-group
                    .col-lg-2.col-md-12.control-label Tiêu đề
                      strong.required  *
                    .col-lg-10.col-md-12
                      input.form-control.title(name="title", placeholder="Tiêu đề")
                  .form-group
                    .col-lg-2.col-md-12.control-label Đường dẫn
                      strong.required  *
                    .col-lg-10.col-md-12
                      .input-group
                        span.hidden-xs.input-group-addon=generateUrl("", "gallery", 'vi')
                        input.form-control.handle(name="handle", placeholder="duong-dan")
                        i.icon-refresh-handle.fa.fa-refresh
                  .form-group
                    .col-sm-2.control-label Mô tả
                    .col-sm-10
                      textarea.form-control.tinymce#description
                if multiLang
                  each item, index in languages()
                    .tab-pane.fade.in(id="tab-" + item data-lang=item)
                      .form-group
                        .col-sm-2.control-label Tiêu đề
                        .col-sm-10
                          input.form-control.title(name="title_" + item, placeholder="Tiêu đề")
                      .form-group
                        .col-sm-2.control-label Đường dẫn
                        .col-sm-10
                          .input-group
                            span.input-group-addon=generateUrl("", "gallery", item)
                            input.form-control.handle(name="handle_" + item, placeholder="duong-dan")
                            i.icon-refresh-handle.fa.fa-refresh
                      .form-group
                        .col-sm-2.control-label Mô tả
                        .col-sm-10
                          textarea.tinymce.form-control(id="description_" + item)
      .col-xs-12.col-sm-12.col-md-5
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title GALLERY CHA
            .box-body
              select.form-control(name="parent_id")
                option(value="-1" selected) Chọn gallery cha
                each item in list_gallery
                  option(value=item.id)=item.title
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title ĐỘ ƯU TIÊN
            .box-body
              input.form-control.value(type="text" name="priority" maxlength="8" value=1000 min=1)
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title TRẠNG THÁI
            .box-body
              select.form-control(name="status")
                option(value="active") Hiển thị
                option(value="inactive") Ẩn

    #modal-edit-photo.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Cập nhật thông tin
          .modal-body
            .form-horizontal.clearfix
              .form-group.clearfix
                span.col-sm-2.control-label Tiêu đề
                .col-sm-10
                  input.form-control(name="title" placeholder="Tiêu đề")
              .form-group.clearfix
                span.col-sm-2.control-label Mô tả
                .col-sm-10
                  textarea.form-control(name="description" placeholder="Mô tả")
              .form-group.clearfix
                span.col-sm-2.control-label Link
                .col-sm-10
                  include ../snippet/search-link
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Hủy
              button.btn.btn-primary.btn-update-photo Cập nhật
