extends ./../layout.pug
block pre-include
  - var menu = 'gallery'
  - var childMenu = 'list'
  title=gallery.title

block post-include
  script(src=staticURI() + '/js/admin/gallery.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li
        a(href='/admin/gallery') Gallery
      li
        a=gallery.title

    ol.button-right.col-md-4.col-sm-5.col-xs-12
      li
        a.btn.btn-admin.btn-create.btn-create-update-gallery(data-id=gallery.id)
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content.gallery
    .row
      .col-xs-12.col-sm-12.col-md-7
        .box.box-info-gallery.box-info
          .form-horizontal
            .box-title.clearfix
              .pull-left.title-tab THÔNG TIN
              if multiLang
                include ../snippet/nav-tabs-lang
            .box-body
              .tab-content
                #tab-vi.tab-pane.fade.in.active
                  .form-group
                    .col-sm-2.control-label Tiêu đề
                      strong.required  *
                    .col-sm-10
                      input.form-control(name="title", placeholder="Tiêu đề" value=gallery.title)
                  .form-group
                    .col-sm-2.control-label Đường dẫn
                      strong.required  *
                    .col-sm-10
                      .input-group
                        span.hidden-xs.input-group-addon=generateUrl('', "gallery", "vi")
                        input.form-control.handle(name="handle", placeholder="duong-dan", value=gallery.handle disabled)
                  .form-group
                    .col-sm-2.control-label Mô tả
                    .col-sm-10
                      textarea.form-control.tinymce#description=gallery.description
                if multiLang
                  each item, index in languages()
                    - var data_lang = getObjectLanguage(gallery.id, "gallery", item)
                    input(type="hidden" name="translattion_" + item value=data_lang.id)
                    .tab-pane.fade.in(id="tab-" + item data-lang=item)
                      .form-group
                        .col-sm-2.control-label Tiêu đề
                        .col-sm-10
                          input.form-control(name="title_" + item, placeholder="Tiêu đề" value=data_lang.title)
                      .form-group
                        .col-sm-2.control-label Đường dẫn
                        .col-sm-10
                          .input-group
                            span.input-group-addon=generateUrl("", "gallery", item)
                            input.form-control.handle(name="handle_" + item, placeholder="duong-dan", value=data_lang.handle)
                            i.icon-refresh-handle.fa.fa-refresh
                      .form-group
                        .col-sm-2.control-label Mô tả
                        .col-sm-10
                          textarea.form-control.tinymce(id="description_" + item)=data_lang.description
      .col-xs-12.col-sm-12.col-md-5
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title GALLERY CHA
            .box-body
              select.form-control(name="parent_id" data-value=gallery.parent_id)
                option(value="-1" selected) Chọn gallery cha
                each item in list_gallery
                  option(value=item.id)=item.title
        .box
          .form-horizontal
            .box-title.gallery-title.clearfix
              .col-xs-12.title DANH SÁCH PHOTO
            .box-body
              .check-all-gallery.checkbox
                label
                  input.select-all(type="checkbox" name="check-all-gallery")
                  | Chọn tất cả
              .action-box.action-box-photo.hidden
                .dropdown
                  button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                    i.fa.fa-share
                    |  Chọn thao tác (đang chọn
                    span.num-select
                    |  gallery) &ensp;
                    span.caret
                  ul.dropdown-menu
                    li
                      a.btn-remove-checked(data-value='delete') Xóa
                    li
                      a.btn-hidden-checked(data-value='inactive') Ẩn
                    li
                      a.btn-active-checked(data-value='inactive') Hiện
              .list-photos(data-id=gallery.id)
                if (photos && countArr(photos))
                  each photo in photos
                    .item-photo.clearfix.created(data-id=photo.id)
                      .checkbox-left
                        input(type="checkbox" name="check-gallery")
                      .item-left
                        img(src='/uploads/' + photo.image)
                      .item-right
                        a(href="/admin/photo/" + photo.id target="_blank").name=photo.title
                        a.link(href=photo.link, target='_blank')=photo.link
                      .group-button
                        if photo.status == 'active'
                          span.galery-status-icon.galery-status-icon-active
                            i.fa.fa-eye 
                        else
                          span.galery-status-icon.galery-status-icon-inactive
                            i.fa.fa-eye-slash
                        span.galery-edit-icon
                          a.edit(href="/admin/photo/" + photo.id target="_blank")
                            i.fa.fa-pencil-square-o
                        span.remove.btn-remove-photo(data-id=photo.id)
                          i.fa.fa-trash
              a.btn.btn-default.btn-add-photo(href="/admin/photo/create?gallery_id=" + gallery.id target="_blank") Thêm photo
        - var templates = getViewTemplate('gallery');
        if countArr(templates)
          .box
            .form-horizontal
              .box-title.clearfix
                .col-xs-6.title GIAO DIỆN
              .box-body
                select.form-control(name="template" data-value=gallery.template)
                  option(value="") Mặc định
                  each item in templates
                    option(value=item)=item
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-6.title TRẠNG THÁI
            .box-body
              select.form-control(name="status", data-value=gallery.status)
                option(value="active") Hiển thị
                option(value="inactive") Ẩn

    #modal-edit-photo.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Cập nhật thông tin
          .modal-body
            .form-horizontal.clearfix
              .form-group.clearfix
                span.col-sm-2.control-label Tiêu đề
                .col-sm-10
                  input.form-control(name="title" placeholder="Tiêu đề")
              .form-group.clearfix
                span.col-sm-2.control-label Title
                .col-sm-10
                  input.form-control(name="title_en" placeholder="Title")
              .form-group.clearfix
                span.col-sm-2.control-label Mô tả
                .col-sm-10
                  textarea.form-control(name="description" placeholder="Mô tả")
              .form-group.clearfix
                span.col-sm-2.control-label Description
                .col-sm-10
                  textarea.form-control(name="description_en" placeholder="Description")
              .form-group.clearfix
                span.col-sm-2.control-label Link
                .col-sm-10
                  include ../snippet/search-link
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Hủy
              button.btn.btn-primary.btn-update-photo Cập nhật
