{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ page.title }}</title>
{% endblock %}

{% block content %}

<div class="xs-inner-banner inner-banner2" style="background-image:url('{{ themeURI() }}/images/banner/2.jpg')">
  <div class="container">
      <div class="row">
          <div class="col-md-7 mx-auto">
          </div>
      </div>
  </div>
</div>
<!--breadcumb end here-->
<!-- End welcome section -->
<div class="container">
  <div class="page-404 text-center">
      <div class="img-404">
          <img src="{{ themeURI() }}/images/404.png" alt="404">
      </div>
      <div class="desc-404 hidden">
          <p>Trang không tồn tại</p>
      </div>
      <div class="">
          <a href="/" class="btn btn-primary btn-yellow">Về trang chủ</a>
      </div>
  </div>
</div>

{% endblock %}