{% extends "layout.twig" %}

{% block pre_include %}

<title>{{ article.title }}</title>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<style>

  [class*='mtpt-cp-'] {
    cursor: pointer;
  }


</style>

{% endblock %}

{% block post_include %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

<script>

  $(".js-example-disabled").select2();

  $(document).on('click', '*[class^="mtpt-cp-"]', function() {
    var cp = $(this).attr('class');
    $('#voucher-online').find('input[name="data[class]"]').val(cp);
    $('#voucher-online').modal('show');
  });

  $(document).on('click', '.mtpt-nonvoucher', function() {
    $('#voucher-online').modal('show');
  });

  $(document).on('click', '*[class^="mtpt-cp-"]', function() {
    var cp = $(this).attr('class');
    $('#voucher-online').find('input[name="data[class]"]').val(cp);
    $('#voucher-online').modal('show');
  });

  $('.form-voucher-online').submit(function(e) {
    e.preventDefault();
    var data = $(this).serialize();

    var utm_source = getCookie('utm_source');
    var utm_medium = getCookie('utm_medium');
    var utm_campaign = getCookie('utm_campaign');

    if (utm_source) data += '&utm_source=' + utm_source;
    if (utm_medium) data += '&utm_medium=' + utm_medium;
    if (utm_campaign) data += '&utm_campaign=' + utm_campaign;

    $.LoadingOverlay("show");

    $.post('/api/contact', data, function(res) {
      $('#voucher-online').modal('hide');
      $.LoadingOverlay("hide");
      setTimeout(function() {
        location.href = '/{{ lang }}/dang-ky-voucher-online-thanh-cong';
      }, 500);
    });

  });

</script>

{% endblock %}

{% block content %}

<!-- main content -->
<div class="y-breadcrumb bg-custom">
  <div class="container">
      <ul>
          <li><a href="/{{ lang }}"><i class="fas fa-home"></i></a></li>
          {% if article.blogs and article.blogs[0] %}
            <li><a href="{{ article.blogs[0].url }}">{{ article.blogs[0].title }}</a></li>
          {% endif %}
          <li><a class="active">{{ article.title }}</a></li>
      </ul>
  </div>
</div>
<div class="section-article container">
  <div class="row">
      <div class="col-lg-8 col-md-6">
          {% if article.image %}
            <div class="box-img y-box-img">
                <img src="{{ article.image | upload_url }}" alt="{{ article.title }}">
            </div>
          {% endif %}

          <h2>{{ article.title }}</h2>

          <section>{{ article.content | raw }}</section>
          <br>
          <div class="article-item">
              <a href="{{ article.blogs[0].url }}" class="btn-return"><i class="fas fa-chevron-left"></i> {{ __('BACK') }}</a>
              <div class="list-social">
                  <span>{{ __('SHARE') }}:</span>
                  <ul>
                      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ article.url }}" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                      <li>
                        <a class="img-hover" href="https://zalo.me/1910734825981978813" target="_blank">
                          <img class="img-hv" src="{{ theme.uri }}/images/icon-zalo.gif" />
                          <img class="img-hidden hidden-img" src="{{ theme.uri }}/images/ic-zalo.jpg" />
                        </a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="col-lg-4 col-md-6 box-desktop">
        {% for i in [1, 2, 3, 4, 5] %}
          {% set img = 'banner_article_' ~ i %}
          {% if settings[img] %}
            {% set link = 'link_banner_article_' ~ i %}
            {% set title = 'title_banner_article_' ~ i %}
            <div class="qc">
              <a href="{{ settings[link]}}" title="{{ settings[title] }}">
                <img src="{{ settings[img] | upload_url }}" alt="{{ settings[title] }}">
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
  </div>
</div>

{% set related_articles = relatedArticles(3) %}
{% if related_articles %}

<div class="blog-box container">
  <h3>{{ __('RELATED_ARTICLES') }}</h3>
  <div class="row">
    {% for item in related_articles %}
        <div class="col-lg-4 col-md-6">
          <div class="item-blog-main">
              <div class="item-blog-inline item-blog-relate">
                  <div class="blog-img box-zoom y-box-img">
                      <a href="{{ item.url }}">
                          <img src="{{ item.image | upload_url }}" alt="{{ item.title }}">
                      </a>
                  </div>
                  <div class="blog-info">
                      <h3 class="blog-title">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                      </h3>
                      <a href="{{ article.blogs[0].url }}"><span class="blog-subscription">{{ article.blogs[0].title }}</span></a>
                      <div class="blog-date">
                          <span class="day">{{ item.created_at | date('d') }}</span>
                          <span class="month-year">{{ item.created_at | date('m-Y') }}</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="banner-blog box-mobile container">
  {% if settings.banner_article_1 %}
    <div class="qc">
        <a href="{{ settings.link_banner_article_1}}" title="{{ settings.title_banner_article_1 }}">
          <img src="{{ settings.banner_article_1 | upload_url }}" alt="{{ settings.title_banner_article_1 }}">
        </a>
    </div>
  {% endif %}
  {% if settings.banner_article_2 %}
    <div class="qc">
        <a href="{{ settings.link_banner_article_2}}" title="{{ settings.title_banner_article_2 }}">
          <img src="{{ settings.banner_article_2 | upload_url }}" alt="{{ settings.title_banner_article_2 }}">
        </a>
    </div>
  {% endif %}
</div>


{% set banner_promotion = CustomField(article.id, 'article', 'banner-voucher-online') %}


<div class="modal fade prod-to-lease" id="voucher-online" tabindex="-1" role="dialog">
  <div class="{{ banner_promotion ? 'modal-dialog modal-dialog-large' : 'modal-dialog' }}">
      <div class="modal-content">
          <div class="modal-body">
              <form class="container form-voucher-online">
                <input type="hidden" name="type" value="promotion">
                <input type="hidden" name="content" value="Để lại thông tin nhận khuyến mãi">
                <input type="hidden" name="data[register_at]" value="{{ "now" | date("d/m/Y") }}">
                <input type="hidden" name="data[url]" value="{{ article.url }}">
                <input type="hidden" name="data[class]">

                <div class="row">
                  {% if banner_promotion %}
                  <div class="col-lg-6 col-left">
                    <img src="{{ banner_promotion | upload_url }}">
                  </div>
                  {% endif %}
                  <div class="{{ banner_promotion ? 'col-lg-6 col-right' : 'col-12 col-right' }}">
                    <h3>{{ __('LEAVE_YOUR_CONTACT_TO_GET_PROMOTION') }}</h3>
                    <div class="box-customer custom-form">
                      <input type="text" name="name" placeholder="{{ __('NAME') }}" required>
                      <input type="number" name="phone" placeholder="{{ __('PHONE') }}" required>
                      <input type="email" name="email" placeholder="Email" required>
                      {% set regions = Region() %}
                      <select name="data[region]" class="js-example-disabled region" required>
                        <option value="" disabled selected="selected">{{ __('REGION') }}</option>
                        {% for item in regions %}
                          <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                      </select>

                      <select name="data[subregion]" class="js-example-disabled subregion" required>
                        <option value="" disabled selected="selected">{{ __('SUBREGION') }}</option>
                      </select>

                      <div class="customer flex-max-width">
                        <div class="register-drive" style="margin: 0 auto;">
                          <button type="submit">{{ __('SUBMIT') }}</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}