{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ blog.title }}</title>
{% endblock %}

{% block post_include %}

<script>

  var page = 2;
  $('.btn-viewmore').click(function() {
    var id = $(this).data('id');
    $.get('/api/blog/view-more?id=' + id + '&page=' + page, function(html) {
      if (html) {
        $('.blog-box-bottom .row').append(html);
        page++;
      }
    });
  });

</script>

{% endblock %}

{% block content %}

<!-- main content -->
<div class="blog-section container padding-top">
  <div class="box-title">
      <h2 class="custom-title" style="padding-left: 12px;">{{ blog.title }}</h2>
      <h3 class="custom-title-2">{{ blog.description }}</h3>
  </div>
  <div class="box-blog">
      <div class="item-blog-custom item-blog-main row">
        {% for item in blog.articles %}
          {% if loop.index0 < 2 %}
            <div class="item-blog-inline col-lg-6 col-md-12 col-xs-12 item-blog-ct  {{ loop.index0 == 1 ? 'flex-box-m' : '' }} {{ loop.index0 == 1 ? 'item-blog-m' : '' }}">
              <div class="blog-img box-zoom y-box-img {{ loop.index0 == 1 ? 'blog-img-m' : '' }}">
                  <a href="{{ item.url }}"><img src="{{ item.image | upload_url }}" alt="{{ item.title }}"></a>
              </div>
              <div class="blog-info {{ loop.index0 == 1 ? 'blog-info-m' : '' }}">
                  <h3 class="blog-title">
                      <a href="{{ item.url }}">{{ item.title }}</a>
                  </h3>
                  {% if item.blogs and item.blogs[0] %}
                    <a href="{{ item.blogs[0].url }}"><span class="blog-subscription">{{ item.blogs[0].title }}</span></a>
                  {% endif %}
                  <div class="blog-date custom-date blog-date-custom {{ loop.index0 == 1 ? 'blog-d-custom-m' : '' }}">
                      <span class="day">{{ item.created_at | date('d') }}</span>
                      <span class="month-year">{{ item.created_at | date('m-Y') }}</span>
                  </div>
                  <div class="blog-desc {{ loop.index0 == 1 ? 'box-desktop box-desktop-blog' : '' }}">
                    <p>{{ item.description }}</p>
                  </div>
              </div>
          </div>
          {% endif %}
        {% endfor %}

        {% if blog.articles | length > 2 %}
          <div class="blog-box container" style="padding-top: 15px;">
              <div class="row">
                {% for item in blog.articles %}
                  {% if loop.index0 > 1 and loop.index0 < 5 %}
                    <div class="col-lg-4 col-md-12">
                      <div class="item-blog-main item-blog-custom">
                          <div class="item-blog-inline item-blog-m item-blog-ct flex-box-m">
                              <div class="blog-img box-zoom blog-img-m y-box-img">
                                  <a href="{{ item.url }}">
                                    <img src="{{ item.image | upload_url }}" alt="{{ item.title }}">
                                  </a>
                              </div>
                              <div class="blog-info blog-info-m blog-info-custom">
                                  <h3 class="blog-title">
                                    <a href="{{ item.url }}">{{ item.title }}</a>
                                  </h3>
                                  {% if item.blogs and item.blogs[0] %}
                                    <a href="{{ item.blogs[0].url }}"><span class="blog-subscription">{{ item.blogs[0].title }}</span></a>
                                  {% endif %}
                                  <div class="blog-date">
                                      <span class="day">{{ item.created_at | date('d') }}</span>
                                      <span class="month-year">{{ item.created_at | date('m-Y') }}</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
          </div>
        {% endif %}
      </div>
  </div>
</div>
<div class="banner-contact" style="background-image: url('{{ settings.background_blog | upload_url }}')">
  <div class="item-footer contact-social contact-social-custom text-center">
      <div class="list-social-footer list-custom">
          <ul class="list-social-custom">
              <li>
                  <a href="{{ settings.facebook }}" target="_blank">
                      <div class="box-img custom-img">
                          <img src="{{ theme.uri }}/images/facebook.jpg" alt="">
                      </div>
                      <p class="text">Facebook</p>
                  </a>
              </li>
              <li>
                  <a href="{{ settings.instagram }}" target="_blank">
                      <div class="box-img custom-img">
                          <img src="{{ theme.uri }}/images/instagram.jpg" alt="">
                      </div>
                      <p class="text">Instagram</p>
                  </a></li>
              <li>
                  <a href="{{ settings.youtube }}"
                      target="_blank">
                      <div class="box-img custom-img">
                          <img src="{{ theme.uri }}/images/youtube.jpg" alt="">
                      </div>
                      <p class="text">Youtube</p>
                  </a>
              </li>
              <li>
                  <a href="{{ settings.zalo }}" target="_blank">
                      <div class="box-img custom-img">
                          <img style="border-radius: unset" src="{{ theme.uri }}/images/zalo.jpg" alt="">
                      </div>
                      <p class="text">Zalo</p>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>

{% if blog.articles | length > 4 %}

  <div class="blog-box container blog-box-bottom">
    <div class="row">
        {% for item in blog.articles %}
          {% if loop.index0 > 4 and loop.index0 < 11 %}
            <div class="col-lg-4 col-md-6">
              <div class="item-blog-main">
                  <div class="item-blog-inline item-blog-ct">
                      <div class="blog-img box-zoom y-box-img">
                          <a href="{{ item.url }}">
                              <img src="{{ item.image | upload_url }}" alt="{{ item.title }}">
                          </a>
                      </div>
                      <div class="blog-info">
                          <h3 class="blog-title">
                            <a href="{{ item.url }}">{{ item.title }}</a>
                          </h3>
                          {% if item.blogs and item.blogs[0] %}
                            <a href="{{ item.blogs[0].url }}"><span class="blog-subscription">{{ item.blogs[0].title }}</span></a>
                          {% endif %}
                          <div class="blog-date">
                              <span class="day">{{ item.created_at | date('d') }}</span>
                              <span class="month-year">{{ item.created_at | date('m-Y') }}</span>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>

    {% if blog.articles | length > 10 %}
      <div class="box-btn-viewmore">
        <a class="btn-viewmore" data-id="{{ blog.id }}">{{ __('VIEW_MORE') }} (12 {{ __('NEWS') }})</a>
      </div>
    {% endif %}
  </div>

  {% endif %}
{% endblock %}
