{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ collection.title }}</title>
{% endblock %}

{% block post_include %}
<script type="text/javascript">
  var page = 1;
  var perpage = 9;
  var is_viewmore = false;

  $(document).on('click', '.prod-loadmore', function () {
    is_viewmore = true;
    if (page == 1) page++;
    renderFilter();
  });

  $('.delete-filter').on('click', function () {
    $('input[name="collection_id"]:checked').prop('checked', false);
    $('input[name="option_3"]:checked').prop('checked', false);
    $('input[name="option_2"]:checked').prop('checked', false);
    $('input[name="price_range"]:checked').prop('checked', false);
    $(".y-sort-menu").removeClass("show");
    renderFilter();
  });

  $('.apply-filter').on('click', function () {
    $(".y-sort-menu").removeClass("show");
    renderFilter();
  })

  if ($(window).width() > 768) {
    $('input[type="checkbox"][name="collection_id"]').change(renderFilter);
    $('input[type="checkbox"][name="option_3"]').change(renderFilter);
    $('input[type="checkbox"][name="option_2"]').change(renderFilter);
    $('input[type="radio"][name="sortby"]').change(renderFilter);
    $('input[name="price_range"]').change(function () {
      if (this.checked) {
        $('.list-price-range input[type="checkbox"]').prop('checked', false);
        $(this).prop('checked', true);
      }
      renderFilter();
    });
  }

  $('.sort-product-mobile li a').click(function() {
    $(this).closest('ul').find('a.active').removeClass('active');
    $(this).addClass('active');
    $('.sort-category').slideToggle(280);
    renderFilter();
  });

  function renderFilter() {
    if (!is_viewmore) page = 1;
    var url = '/api/filter-collection';
    url += '?page=' + page;
    url += '&perpage=' + perpage;

    var collection_ids = [];
    var collection_id = $('input[name="main_collection_id"]').val();
    if ($('input[name="collection_id"]:checked').length) {
      $('input[name="collection_id"]:checked').each(function () {
        collection_ids.push($(this).val());
      });
      if (collection_ids.length) {
        collection_id = collection_ids.join(';');
      }
    }
    url += '&collection_id=' + collection_id;


    var list_option_3 = [];
    if ($('input[name="option_3"]:checked').length) {
      $('input[name="option_3"]:checked').each(function () {
        list_option_3.push($(this).val());
      });
      if (list_option_3.length) {
        var option_3 = list_option_3.join(';');
        url += '&option_3=' + option_3;
      }
    }

    var list_option_2 = [];
    if ($('input[name="option_2"]:checked').length) {
      $('input[name="option_2"]:checked').each(function () {
        list_option_2.push($(this).val());
      });
      if (list_option_2.length) {
        var option_2 = list_option_2.join(';');
        url += '&option_2=' + option_2;
      }
    }

    if ($('input[name="price_range"]:checked').length) {
      var price_range = $('input[name="price_range"]:checked').val();
      url += '&price_range=' + price_range;
    }

    if ($(window).width() > 768) {
      if ($('input[name="sortby"]:checked').length) {
        var sortby = $('input[name="sortby"]:checked').val();
        url += '&sortby=' + sortby;
      }
    } else {
      if ($('.sort-product-mobile li a.active').length) {
        var sortby = $('.sort-product-mobile li a.active').data('value');
        url += '&sortby=' + sortby;
      }
    }

    url += '&view=view-more-collection-phukien';

    $.get(url, function (html) {
      if (html) {
        if (is_viewmore) {
          $('.prod-collection .prod-box').append(html);
          is_viewmore = false;
        } else {
          $('.prod-collection .prod-box').html(html);
        }
        page++;
      } else {
        $('.prod-collection .prod-box').html('');
        page = 1;
      }
    });

  }
</script>
{% endblock %}

{% block content %}

{% set brands = listOfAttributeOptions(9) %}
{% set materials = listOfAttributeOptions(8) %}
{% set filter_price = settings.collection_filter_price %}

{% set list_collection = collection.children %}
{% if collection.parent_id != -1 %}
{% set parent_collection = CollectionsById(collection.parent_id) %}
{% set list_collection = parent_collection.children %}
{% endif %}

<input type="hidden" name="main_collection_id" value="{{ collection.id }}">
<div class="main-content">
  <div class="section-banner">
    <img class="fix-img" src="{{ collection.image | upload_url }}" alt="{{ collection.title }}">
    <h2>{{ collection.title }}</h2>
  </div>
  <div class="y-breadcrumb">
    <div class="container">
      <ul>
        <li><a href="/{{ lang }}"><i class="fas fa-home"></i></a></li>
        <li><a class="active">{{ collection.title }}</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid bg-box">
    <div class="box-prod-detail container">

      <div class="wrapper box-mobile">
        <div class="main-nav">{{ __('SORT_PRODUCT') }}<i class="fas fa-caret-down"></i></div>
        <ul class="sort-category sort-product-mobile">
          <li><a data-value="product-hot" href="#">{{ __('HOT_PRODUCT') }}</a></li>
          <li><a data-value="variant.price-desc" href="#">{{ __('PRICE_DESC') }}</a></li>
          <li><a data-value="variant.price-asc" href="#">{{ __('PRICE_ASC') }}</a></li>
        </ul>
      </div>

      <div class="mobile-sort-btn box-mobile"><a href="javascript:;">{{ __('PRODUCT_FILTERS') }}</a></div>

      <div class="prod-menu-detail box-desktop">

        {% if list_collection | length %}
        <ul>
          <li>
            <h5 class="prod-title">{{ __('PRODUCT') }}</h5>
          </li>
          {% for item in list_collection %}
          <li class="prod-cs">
            <a class="prod-item" href="#">
              <label class="cs-radio">{{ item.title }}
                {% if item.id == collection.id %}
                <input class="checkbox" type="checkbox" name="collection_id" value="{{ item.id }}" checked>
                {% else %}
                <input class="checkbox" type="checkbox" name="collection_id" value="{{ item.id }}">
                {% endif %}
                <span class="checkmark"></span>
              </label>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <ul>
          <li>
            <h5 class="prod-title">{{ __('BRAND') }}</h5>
          </li>
          {% for item in brands %}
          <li class="prod-cs">
            <a class="prod-item" href="#">
              <label class="cs-radio">{{ item.name }}
                <input class="checkbox" type="checkbox" name="option_3" value="{{ item.name }}">
                <span class="checkmark"></span>
              </label>
            </a>
          </li>
          {% endfor %}
        </ul>

        {% if filter_price %}
        {% set array_prices = filter_price | split("\n") %}
        <ul class="list-price-range">
          <li>
            <h5 class="prod-title">{{ __('PRICE') }}</h5>
          </li>
          {% for item in array_prices %}
          <li class="prod-cs">
            <a class="prod-item" href="#">
              {% set temp = item | split("-") %}
              <label class="cs-radio">{{ __('FROM') }} {{ temp[0] | number_format }} - {{ temp[1] | number_format }}
                <input class="checkbox" type="checkbox" name="price_range" value="{{ item }}">
                <span class="checkmark"></span>
              </label>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        <ul>
          <li>
            <h5 class="prod-title">{{ __('MATERIAL') }}</h5>
          </li>
          {% for item in materials %}
          <li class="prod-cs">
            <a class="prod-item" href="#">
              <label class="cs-radio">{{ lang == 'en' and item.name_en ? item.name_en : item.name }}
                <input class="checkbox" type="checkbox" name="option_2" value="{{ item.name }}">
                <span class="checkmark"></span>
              </label>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="prod-collection prod-collection-custom">

        <div class="category-products box-desktop">
          <h3>{{ __('SORTBY') }}:</h3>
          <ul>
            <li>
              <label class="product-sort">{{ __('HOT_PRODUCT') }}
                <input type="radio" name="sortby" value="product-hot">
                <span class="checkmark-category"></span>
              </label>
            </li>
            <li>
              <label class="product-sort">{{ __('PRICE_DESC') }}
                <input type="radio" name="sortby" value="variant.price-desc">
                <span class="checkmark-category"></span>
              </label>
            </li>
            <li>
              <label class="product-sort">{{ __('PRICE_ASC') }}
                <input type="radio" name="sortby" value="variant.price-asc">
                <span class="checkmark-category"></span>
              </label>
            </li>
          </ul>
        </div>

        {% if collection.products | length > 0 %}
        <div class="prod-box">
          {% for item in collection.products %}
          {% if loop.index0 < 9 %}
          <div class="prod-collection-item col-lg-4 col-md-6">
            <a class="box-menu-transition" href="{{ item.url }}">
              <p class="text">{{ item.title }}</p>
              <div class="box-img y-box-img">
                <img src="{{ item.variants[0].image | upload_url }}" alt="{{ item.title }}">
              </div>
              <div class="price">
                {% if item.price %}
                <a>{{ item.price | money }}<span>đ</span></a>
                {% else %}
                <a>{{ __('CONTACT') }}</a>
                {% endif %}
              </div>
            </a>
            {% if item.tags %}
            <div class="tags"><a>{{ item.tags[0] }}</a></div>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
        {% if collection.products | length > 9 %}
        <a class="prod-loadmore" data-id="{{ collection.id }}">{{ __('VIEW_MORE') }} (12 {{ __('PRODUCT') }})</a>
        {% endif %}
        {% else %}
        <div class="prod-box" style="padding: 30px;">
          {{ __('NO_PRODUCT_FOUND') }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="y-sort-menu">
      <div class="m-menu__title">
        <a href="javascript:;" class="m-menu-close"><i class="fas fa-times"></i></a>
        <div class="box-product">
          <div class="prod-box-item">
            <a href="javascript:;" data-toggle="modal" data-target="#loginModal"
              class="prod-item">{{ __('PRODUCT_FILTERS') }}</a>
          </div>
        </div>
      </div>
      <div class="prod-menu-detail prod-menu-detail-custom">
        {% if list_collection | length %}
        <ul style="margin: 30px;">
          <li>
            <h5 class="prod-title">{{ __('PRODUCT') }}</h5>
          </li>
          {% for item in list_collection %}
          <li class="prod-cs">
            <a class="prod-item" href="#">
              <label class="cs-radio">{{ item.title }}
                {% if item.id == collection.id %}
                <input class="checkbox" type="checkbox" name="collection_id" value="{{ item.id }}" checked>
                {% else %}
                <input class="checkbox" type="checkbox" name="collection_id" value="{{ item.id }}">
                {% endif %}
                <span class="checkmark"></span>
              </label>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <ul style="margin: 30px;">
          <li>
            <h5 class="prod-title">{{ __('BRAND') }}</h5>
          </li>
          {% for item in brands %}
          <li class="prod-cs">
            <a class="prod-item" href="#">
              <label class="cs-radio">{{ item.name }}
                <input class="checkbox" type="checkbox" name="option_3" value="{{ item.name }}">
                <span class="checkmark"></span>
              </label>
            </a>
          </li>
          {% endfor %}
        </ul>

        {% set filter_price = settings.collection_filter_price %}

        {% if filter_price %}
        {% set array_prices = filter_price | split("\n") %}
        <ul style="margin: 30px;" class="list-price-range">
          <li>
            <h5 class="prod-title">{{ __('PRICE') }}</h5>
          </li>
          {% for item in array_prices %}
          <li class="prod-cs">
            <a class="prod-item" href="#">
              {% set temp = item | split("-") %}
              <label class="cs-radio">{{ __('FROM') }} {{ temp[0] | number_format }} - {{ temp[1] | number_format }}
                <input class="checkbox" type="checkbox" name="price_range" value="{{ item }}">
                <span class="checkmark"></span>
              </label>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <ul style="margin: 30px;">
          <li>
            <h5 class="prod-title">{{ __('MATERIAL') }}</h5>
          </li>
          {% for item in materials %}
          <li class="prod-cs">
            <a class="prod-item" href="#">
              <label class="cs-radio">{{ item.name }}
                <input class="checkbox" type="checkbox" name="option_2" value="{{ item.name }}">
                <span class="checkmark"></span>
              </label>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="fixed-btn">
        <a class="delete-filter">{{ __('CLEAR_FILTER') }}</a>
        <a class="apply-filter">{{ __('APPLY_FILTER') }}</a>
      </div>
    </div>
  </div>
</div>

{% set banner_bottom = CustomField(collection.id, 'collection', 'banner-bottom') %}
<div class="banner-bot">
  <img class="fix-img" src="{{ banner_bottom | upload_url }}" alt="Banner bottom">
</div>

{% endblock %}