{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ collection.title }}</title>
{% endblock %}

{% block post_include %}
<script type="text/javascript">

  var page = 2;
  var perpage = 8;
  $('.prod-loadmore').click(function() {
    var id = $(this).data('id');
    $.get('/api/collection/view-more?id=' + id + '&page=' + page + '&perpage=' + perpage + '&view=view-more-collection', function(html) {
      if (html) {
        $('.prod-collection .prod-box').append(html);
        page++;
      }
    });
  });

</script>
{% endblock %}

{% block content %}

<div class="main-content">
  <div class="section-banner">
      <img class="fix-img" src="{{ collection.image | upload_url }}" alt="{{ collection.title }}">
      <h2>{{ collection.title }}</h2>
  </div>
  <div class="y-breadcrumb">
      <div class="container">
          <ul>
              <li><a href="/{{ lang }}"><i class="fas fa-home"></i></a></li>
              <li><a class="active">{{ collection.title }}</a></li>
          </ul>
      </div>
  </div>
  <div class="prod-collection">
    {% if collection.products | length > 0 %}
        <div class="prod-box container">
            {% for item in collection.products %}
              {% if loop.index0 < 8 %}
                <div class="prod-collection-item col-lg-3 col-md-6">
                  <a class="box-menu-transition" href="{{ item.url }}">
                      <p class="text">{{ item.title }}</p>
                      <div class="box-img y-box-img"><img src="{{ (item.option_6 ?: item.variants[0].image) | upload_url }}" alt="{{ item.title }}">
                      </div>
                  </a>
                  {% if item.tags %}
                    <div class="tags"><a>{{ item.tags[0] }}</a></div>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
        {% if collection.products | length > 8 %}
          <a class="prod-loadmore" data-id="{{ collection.id }}">{{ __('VIEW_MORE') }} (8 {{ __('PRODUCT') }})</a>
        {% endif %}
    {% else %}
    <div class="prod-box container">
      <div class="prod-box" style="padding: 30px;">
        {{ __('NO_PRODUCT_FOUND') }}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% set banner_bottom = CustomField(collection.id, 'collection', 'banner-bottom') %}
<div class="banner-bot">
  <img class="fix-img" src="{{ banner_bottom | upload_url }}" alt="Banner bottom">
</div>

{% endblock %}