{% extends "layout.twig" %}

{% block pre_include %}
<title>Liên hệ</title>
{% endblock %}

{% block post_include %}

<style>
  .disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
</style>

<script>
  $('.contact-form').submit(function (e) {
    e.preventDefault();
    var data = $(this).serialize();
    var self = $(this);
    self.find('button[type="submit"]').addClass('disabled');
    AT.sendContact(data, function (res) {
      Swal.fire(
        'Thành công',
        'Bạn đã gửi liên hệ thành công',
        'success'
      )
      self.find('button[type="submit"]').removeClass('disabled');
      self.find('input, textarea').val('');
      AT.sendEmailContactAdmin(res.contact_id, function(res) {
        console.log(res);
      });
    });
  });
</script>

{% endblock %}

{% block content %}


<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <ul>
        <li class="home"> <a href="index.html">Trang chủ</a><span>&mdash;›</span></li>
        <li class="category13"><strong>Liên hệ</strong></li>
      </ul>
    </div>
  </div>
</div>
<!-- main-container -->
<div class="main-container col2-right-layout">
  <div class="main container">
    <div class="row">
      <section class="col-main col-sm-9">
        <div class="page-title">
          <h2>Liên hệ</h2>
        </div>
        <div class="static-contain">
          <form class="group-select contact-form">
            <ul>
              <li id="billing-new-address-form">
                <div>
                  <ul>
                    <li>
                      <div class="customer-name">
                        <div class="input-box name-firstname">
                          <label for="fullname">{{ __('NAME') }}<span class="required">*</span></label>
                          <br>
                          <input type="text" id="fullname" name="name" title="{{ __('NAME') }}" class="input-text" required>
                        </div>
                        <div class="input-box name-lastname">
                          <label for="email"> Địa chỉ email <span class="required">*</span> </label>
                          <br>
                          <input type="email" id="email" name="email" title="Địa chỉ email" class="input-text" required>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="input-box">
                        <label for="company">Công ty</label>
                        <br>
                        <input type="text" id="company" name="company" value="" title="Công ty" class="input-text">
                      </div>
                      <div class="input-box">
                        <label for="phone">{{ __('PHONE') }}<span class="required">*</span></label>
                        <br>
                        <input type="number" name="phone" id="phone" title="{{ __('PHONE') }}"
                          class="input-text validate-email" required>
                      </div>
                    </li>
                    <li class="">
                      <label for="comment">Tin nhắn liên hệ<em class="required">*</em></label>
                      <br>
                      <div style="float:none" class="">
                        <textarea name="content" id="message" title="Nội dung liên hệ" class="required-entry input-text"
                          cols="5" rows="3" required></textarea>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <p class="require"><em class="required">* </em>Trường bắt buộc</p>
              <div class="buttons-set">
                <button type="submit" title="Gửi tin nhắn" class="button submit"> <span> Gửi tin nhắn </span> </button>
              </div>
            </ul>
          </form>
        </div>
      </section>
      <aside class="col-right sidebar col-sm-3">
        <div class="block block-company">

          <div class="block-title"><span>Thông tin liên hệ</span></div>
          <div class="block-content">
            <br>
            <section>{{ settings.contact_info | raw }}</section>
          </div>

        </div>
      </aside>
    </div>
  </div>
</div>
<!--End main-container -->

{% endblock %}