{% extends "layout.twig" %}

{% block pre_include %}

<title>{{ settings.website_name }}</title>

{% endblock %}

{% block content %}


{% include "snippet/index-slider.twig" %}
{% include "snippet/index-moto-types.twig" %}
{% include "snippet/index-hot-motos.twig" %}
{% include "snippet/index-category.twig" %}
{% include "snippet/index-news.twig" %}


{% endblock %}