<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
  <meta name='revisit-after' content='1 day' />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="vi">
  <link rel="canonical" href="https://yosu.vn/current-page">
  <link href="{{ theme.uri }}/images/faviicon.png" rel="shortcut icon">
  <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
  <link rel="stylesheet" href="{{ theme.uri }}/css/font-awesome-5.css">
  <link rel="stylesheet" href="{{ theme.uri }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ theme.uri }}/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{{ theme.uri }}/css/style.css?v=2">
  <link rel="stylesheet" href="{{ theme.uri }}/css/responsive.css">
  <div id="fb-root"></div>
  {% include "snippet/seo.twig" %}
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0">
  </script>

  {% block pre_include %}{% endblock %}

  {% if settings.google_tagmanager %} {{ settings.google_tagmanager | raw }} {% endif %}

</head>

<body>

  {% if settings.google_tagmanager_body %} {{ settings.google_tagmanager_body | raw }} {% endif %}

  {% include "snippet/header.twig" %}

  {% block content %}{% endblock %}

  {% include "snippet/footer.twig" %}

  <ul id="menu-fixed" class="menu-fixed">
    <li class="hidden">
      <a href="{{ settings.header_item_4_link }}">
        <div class="icon-menu">
          <i class="fas fa-gift"></i>
          <div class="text-menu">{{ __('PROMOTION') }}</div>
        </div>
      </a>
    </li>
    <li>
      <a href="/{{ lang }}{{ __('REGISTER_URL') }}">
        <div class="icon-menu">
          <i class="fas fa-motorcycle"></i>
          <div class="text-menu">{{ __('REGISTER_FOR_A_DRIVING_TEST') }}</div>
        </div>
      </a>
    </li>
    <li>
      <a href="tel:{{ settings.hotline | replace({' ': ''}) }}" data-toggle="modal" data-target="#hotline"
        class="icon-phone-desk">
        <div class="icon-menu active">
          <i class="fas fa-phone active-icon"></i>
          <div class="text-menu">Hotline: {{ settings.hotline }} ({{ __('FREE') }})</div>
        </div>
      </a>
      <a href="tel:{{ settings.hotline | replace({' ': ''}) }}" class="icon-phone-m">
        <div class="icon-menu active">
          <i class="fas fa-phone active-icon"></i>
          <div class="text-menu">Hotline: {{ settings.hotline }} ({{ __('FREE') }})</div>
        </div>
      </a>
    </li>
    <li>
      <a href="/{{ lang }}{{ __('PRODUCT_PRICE_URL') }}">
        <div class="icon-menu">
          <i class="fas fa-dollar-sign"></i>
          <div class="text-menu">{{ __('QUOTATION') }}</div>
        </div>
      </a>
    </li>
    <li class="hidden js-scroll-top">
      <a href="#">
        <div class="icon-menu">
          <i class="fas fa-arrow-up"></i>
        </div>
      </a>
    </li>
  </ul>

  <div class="modal fade prod-to-lease" id="hotline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom" role="document">
      <div class="modal-content modal-content-custom">
        <div class="modal-body">
          <form class="container form-register-drive form-contact-hotline">
            <input type="hidden" name="type" value="contact">
            <input type="hidden" name="content" value="Nhận cuộc gọi tư vấn miễn phí từ Moto Phát Tiến">
            <input type="hidden" name="email" value="someone@gmail.com">
            <h3>{{ __('BOOK_A_FREE_CONSULTATION_CALL') }}</h3>
            <div class="box-customer custom-form">
              <h4 style="font-size: 16px;padding-bottom: 20px;">{{ __('LEAVE_YOUR_CONTACT') }}</h4>
              <div class="customer custom-form fix-padding">
                <p>{{ __('NAME') }}</p>
                <input type="text" name="name" placeholder="{{ __('NAME') }}" required>
              </div>
              <div class="customer custom-form fix-padding">
                <p>{{ __('PHONE') }}</p>
                <input type="number" name="phone" placeholder="{{ __('PHONE') }}" required>
              </div>
              <div class="customer flex-max-width">
                <div class="register-drive" style="margin: 0 auto;">
                  <button type="submit">{{ __('SUBMIT') }}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {{ settings.chat_online | raw }}

  <!-- Main JS -->
  <script src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9"></script>
  <script src="{{ theme.uri }}/js/jquery-3.4.1.min.js"></script>
  <script src="{{ theme.uri }}/js/bootstrap.min.js"></script>
  <script src="{{ theme.uri }}/js/owl.carousel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="{{ theme.uri }}/js/script.js?v=5"></script>

  <script>
    $('.icon-menu').hover(function () {
      $(this).parent().find('.text-menu').addClass('hover');
    }, function () {
      $('.text-menu').removeClass('hover');
    });

    $('.form-contact-hotline').submit(function (e) {
      e.preventDefault();
      var data = $(this).serialize();
      var phone = $(this).find('input[name="phone"]').val();
      if (!validatePhone(phone)) {
        Swal.fire("{{ __('ERROR') }}", "{{ __('PHONE_NUMBER_IS_INVALID') }}", 'error');
        return false;
      }

      var utm_source = getCookie('utm_source');
      var utm_medium = getCookie('utm_medium');
      var utm_campaign = getCookie('utm_campaign');

      if (utm_source) data += '&utm_source=' + utm_source;
      if (utm_medium) data += '&utm_medium=' + utm_medium;
      if (utm_campaign) data += '&utm_campaign=' + utm_campaign;


      $.post('/api/contact', data, function (res) {
        location.href = '/{{ lang }}/contact-success';
      });

    });
  </script>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=962139317506064&autoLogAppEvents=1">
  </script>
  {% block post_include %}{% endblock %}
</body>

</html>