{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ page.title }}</title>
{% endblock %}

{% block post_include %}

<script>


  $('.form-contact').submit(function(e) {
    e.preventDefault();
    var data = $(this).serialize();

    var utm_source = getCookie('utm_source');
    var utm_medium = getCookie('utm_medium');
    var utm_campaign = getCookie('utm_campaign');

    if (utm_source) data += '&utm_source=' + utm_source;
    if (utm_medium) data += '&utm_medium=' + utm_medium;
    if (utm_campaign) data += '&utm_campaign=' + utm_campaign;

    $.post('/api/contact', data, function(res) {
      location.href = '/{{ lang }}/contact-success';
    });
  });

</script>

{% endblock %}

{% block content %}

<div class="main-content">
  {% if page.image %}
  <div class="section-banner-about padding-bottom">
      <img class="fix-img" src="{{ page.image | upload_url }}" alt="{{ page.title }}">
  </div>
  {% endif %}
  <div class="section-about padding-bottom">
      <div class="box-about container">
          <h2 class="title-main">{{ page.title }}</h2>
          <section>{{ page.content | raw }}</section>
      </div>
  </div>
  <div class="maps padding-bottom">
      {{ settings.google_map | raw }}
  </div>
  <div class="section-register-drive padding-bottom container">
      {% set bg = settings.bg_form_contact ? settings.bg_form_contact | upload_url : '' %}
      <form class="container form-register-drive container form-contact" {% if bg %}style="background-image: url({{ bg }})"{% endif %}
      >
          <h3 class="title-main">{{ __('CONTACT') }}</h3>
          <input type="hidden" name="type" value="about-us">
          <div class="box-customer">
              <div class="list-customer">
                  <div class="customer">
                      <p class="title-custom">{{ __('NAME') }} <span>*</span></p>
                      <input type="text" name="name" required>
                  </div>
                  <div class="customer">
                      <p class="title-custom">{{ __('PHONE') }} <span>*</span></p>
                      <input type="number" name="phone" required>
                  </div>
                  <div class="customer flex-max-width">
                      <p class="title-custom">Email <span>*</span></p>
                      <input type="email" name="email" required>
                  </div>
                  <div class="customer flex-max-width">
                      <p class="title-custom">{{ __('CONTENT') }} <span>*</span></p>
                      <textarea name="content" cols="30" rows="10" required></textarea>
                  </div>
                  <div class="customer flex-max-width">
                      <div class="register-drive" style="margin: 0 auto;">
                          <button class="send-contact">{{ __('SUBMIT') }}</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>

{% endblock %}