{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ product.title }}</title>
{% endblock %}

{% block post_include %}

<script>
  $('.btn-muangay').click(function () {
    var id = $(this).data('id');
    var quantity = $('input[name="qty"]').val();
    if (quantity < 1) {
      return Swal.fire('Lỗi', 'Số lượng tối thiểu là 1', 'error')
    }
    AT.addToCart(id, quantity, function (res) {
      if (!res.success) {
        location.href = '/dat-hang';
      } else {
        Swal.fire('Lỗi', res.message, 'error');
      }
    });
  });
</script>

{% endblock %}

{% block content %}

<div class="main-content">
  <div class="prod-collection prod-register container">
    <h3 class="prod-title-main">Đăng ký báo giá dòng xe <span class="box-desktop"> CBR 1000RR</span></h3>
    <h4 style="text-align: center;" class="prod-name box-mobile">CBR 1000RR</h4>
    <div class="section-register-drive padding-bottom container">
      <form class="container form-register-drive">
        <h4 style="padding-top: 20px;">{{ __('CUSTOMER_INFORMATION') }}</h4>
        <div class="box-customer">
          <div action="" class="list-customer">
            <div class="customer">
              <p class="title-custom">{{ __('NAME') }}<span>*</span></p>
              <input type="text" name="customer-name" placeholder="{{ __('NAME') }}">
            </div>
            <div class="customer">
              <p class="title-custom">{{ __('PHONE') }}<span>*</span></p>
              <input type="number" name="customer-name" placeholder="{{ __('PHONE') }}">
            </div>
            <!-- <div class="customer">
                    <p class="title-custom">Email</p>
                    <input type="text" name="customer-name">
                </div>
                <div class="customer date-time">
                    <p class="title-custom">Ngày lái thử</p>
                    <input type="text" name="customer-name">
                    <i class="far fa-calendar"></i>
                </div> -->
            <div class="customer">
              <label for="tp">{{ __('REGION') }}</label>
              <select name="tp" id="tp" class="js-example-disabled">
                <option disabled selected="selected">Select</option>
                <option value="TPHCM">TP.Hồ Chí Minh</option>
                <option value="HANOI">Hà Nội</option>
              </select>
            </div>
            <div class="customer">
              <div class="none-select" style="pointer-events: none;">
                <label for="quan">{{ __('SUBREGION') }}</label>
                <select name="none" id="quan-none" class="active-select">
                  <option disabled selected="selected">Chọn</option>
                </select>
              </div>
            </div>
            <div class="customer flex-max-width">
              <p class="title-custom">{{ __('CONTENT') }}</p>
              <textarea name="" id="" cols="30" rows="10" placeholder="{{ __('CONTENT') }}"></textarea>
            </div>
            <div class="customer flex-max-width custom-max-width">
              <p class="hidden-text">Thông tin xe và thời gian lái thử có thể thay đổi, vui lòng kiểm
                tra
                email và nhận điện
                thọai cho nhân viên tư vấn để có lịch hẹn chính xác nhất.</p>
            </div>
            <div class="customer flex-max-width">
              <div class="check-box">
                <label class="cs-radio cs-custom">
                  <a href="javascript:;" data-toggle="modal" data-target="#file">Tôi đồng ý với
                    quy
                    định từ Honda Môtô Phát Tiến</a>
                  <input class="checkbox" type="checkbox" name="radio">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="customer flex-max-width">
              <div class="register-drive">
                <a href="success_price_details.html">Đăng ký báo giá</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}