{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ product.title }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ theme.uri }}/css/magiczoomplus.css">
<link rel="stylesheet" href="{{ theme.uri }}/css/magiczoomplus-style.css">
<link rel="stylesheet" href="{{ theme.uri }}/css/slick.css">

{% endblock %}

{% block post_include %}
<script src="{{ theme.uri }}/js/magiczoomplus.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="{{ theme.uri }}/js/slick.js"></script>
<script>
  $('.btn-gallery').on('click', function (event) {
    event.preventDefault();
    var gallery = $(this).attr('href');
    $(gallery).magnificPopup({
      delegate: 'img',
      type: 'image',
      gallery: {
        enabled: true
      },
      callbacks: {
        elementParse: function (item) {
          item.src = item.el.attr('src');
        }
      }
    }).magnificPopup('open');
  });
  $(".js-example-disabled").select2();
  $('.accessories-slide').slick({
    dots: false,
    vertical: true,
    slidesToShow: 5,
    slidesToScroll: 5,
    verticalSwiping: true,
    prevArrow: '<button class="slide-arrow prev-arrow"></button>',
    nextArrow: '<button class="slide-arrow next-arrow"></button>'
  });
  $('.responsive').slick({
    dots: false,
    infinite: false,
    slidesToShow: 5,
    slidesToScroll: 5,
    responsive: [{
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 5,
        infinite: true,
        dots: false,
        arrows: false
      }
    }, {
      breakpoint: 768,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 5,
        dots: false,
        arrows: false
      }
    }, {
      breakpoint: 600,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 5,
        dots: false,
        arrows: false
      }
    }, {
      breakpoint: 480,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 4,
        dots: false,
        arrows: false
      }
    }]
  });

  var variant_id = null;

  $('.prod-detail-order').click(function () {

    var data_id = $(this).data('id');
    if (data_id) {
      $('#order input[name="variant_id"]').val(data_id);
      $('#order').modal('show');
      return false;
    }

    var color = $('.color-detail .color.active').data('name');
    if (!color) {
      return Swal.fire("{{ __('ERROR') }}", "{{ __('PLEASE_SELECT_A_COLOR') }}", 'error');
    }

    var size = $('select[name="size"]').val();
    if (!size) {
      return Swal.fire("{{ __('ERROR') }}", "{{ __('PLEASE_SELECT_A_SIZE') }}", 'error');
    }

    var variants = $('input[name="variants"]').val();
    if (variants) variants = JSON.parse(variants);

    $.each(variants, function (index, elem) {
      if (elem.option_1 == color && elem.option_2 == size) {
        variant_id = elem.id;
      }
    });

    if (!variant_id) {
      return Swal.fire("{{ __('ERROR') }}", "{{ __('PRODUCT_NOT_FOUND') }}", 'error');
    }

    $('#order input[name="variant_id"]').val(variant_id);
    $('#order').modal('show');
  });

  $('.form-order').submit(function (e) {
    var self = $(this);
    e.preventDefault();
    var data = $(this).serialize();

    var utm_source = getCookie('utm_source');
    var utm_medium = getCookie('utm_medium');
    var utm_campaign = getCookie('utm_campaign');

    if (utm_source) data += '&utm_source=' + utm_source;
    if (utm_medium) data += '&utm_medium=' + utm_medium;
    if (utm_campaign) data += '&utm_campaign=' + utm_campaign;

    self.find('button[type="submit"]').prop('disabled', true);
    $.post('/api/cart/add', {
      variant_id: variant_id,
      quantity: 1
    }, function (res) {
      $.post('/api/order', data, function (res) {
        self.find('button[type="submit"]').prop('disabled', false);
        if (!res.code) {
          location.href = "/{{ lang }}/order-success";
        } else {
          return Swal.fire("{{ __('ERROR') }}", res.message, 'error');
        }
      });
    });
  });
</script>

{% endblock %}

{% block content %}

<div class="main-content">
  <div class="y-breadcrumb">
    <div class="container">
      <ul>
        <li>
          <a href="/{{ lang }}">
            <i class="fas fa-home"></i>
          </a>
        </li>
        {% if product.collection and product.collection[0] %}
        <li>
          <a href="{{ product.collections[0].url }}">{{ product.collections[0].title }}</a>
        </li>
        {% endif %}
        <li>
          <a class="active">{{ product.title }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="row">
            <div class="example-container col-lg-3 col-md-4 col-sm-4 box-desktop-custom">
              <div class="roland-garros-babolat">
                <div class="selectors accessories-slide">
                  {% for item in product.variant_images %}
                  <a {% if loop.index0 == product.variant_images | length - 1 %} class="overlay-zoom" {% endif %}
                    data-zoom-id="rg-babolat" href="{{ item.name | upload_url }}"
                    data-zoom-image-2x="{{ item.name | upload_url }}" data-image="{{ item.name | upload_url }}"
                    data-image-2x="{{ item.name | upload_url }}" class="y-box-img">
                    <img class="img-responsive" alt="{{ product.title }}" src="{{ item.name | upload_url }}"
                      srcset="{{ item.name | upload_url }} 2x" />
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="babolat-preview col-lg-9 col-md-8 col-xs-12">
              <a class="MagicZoom" id="rg-babolat" href="{{ product.variant_images[0].name | upload_url }}"
                data-zoom-image-2x="{{ product.variant_images[0].name | upload_url }}"
                data-mobile-options="zoomPosition:right;zoomWidth:130%; zoomHeight:100%; zoomDistance:40;"
                data-options="zoomPosition: #rg-babolat-zoom; zoomWidth:470; zoomHeight:410; selectorTrigger: hover; transitionEffect: false;">
                <img class="img-responsive" alt="{{ product.title }}"
                  src="{{ product.variant_images[0].name | upload_url }}"
                  srcset="{{ product.variant_images[0].name | upload_url }} 2x" />
              </a>
            </div>
            <div class="example-container col-md-12 box-mobile-custom">
              <div class="roland-garros-babolat">
                <div class="selectors responsive">
                  {% for item in product.variant_images %}
                  <a {% if loop.index0 == product.variant_images | length - 1 %} class="overlay-zoom" {% endif %}
                    data-zoom-id="rg-babolat" href="{{ item.name | upload_url }}"
                    data-zoom-image-2x="{{ item.name | upload_url }}" data-image="{{ item.name | upload_url }}"
                    data-image-2x="{{ item.name | upload_url }}">
                    <img class="img-responsive" alt="{{ product.title }}" src="{{ item.name | upload_url }}"
                      srcset="{{ item.name | upload_url }} 2x" /></a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="prod-detail-page col-lg-6 col-md-12">
          <div class="prod-detail-property">
            <h2>{{ product.title }}</h2>
            {% if is_dobaoho == 1 %}
              {% if product.option_3 %}
                <p>{{ __('BRAND') }}: {{ product.option_3 }}</p>
              {% endif %}
            {% else %}
              {% if product.option_1 %}
                <p>{{ __('BRAND') }}: {{ product.option_1 }}</p>
              {% endif %}
            {% endif %}
            <p>{{ product.description | nl2br }}</p>
            <div class="price">
              {% if product.variants[0].price %}
                <a>{{ product.variants[0].price | money }}<span>đ</span></a>
              {% else %}
                <a>{{ __('CONTACT') }}</a>
              {% endif %}
            </div>
          </div>

          {% set colors = [] %}
          {% set sizes = [] %}
          {% for item in product.variants %}
          {% if item.option_1 not in colors %}
          {% set colors = colors | merge([item.option_1]) %}
          {% endif %}

          {% if item.option_2 not in sizes %}
          {% set sizes = sizes | merge([item.option_2]) %}
          {% endif %}

          {% endfor %}


          <input type="hidden" name="is_dobaoho" value="{{ is_dobaoho }}">
          {% if is_dobaoho == 1 %}

            {% if colors | length %}
            <div class="prod-detail-property">
              <p class="text-property">{{ __('COLOR') }}: <span class="text-color hidden"></span></p>
              <ul class="list-property color-detail">
                {% for color in getColors() %}
                {% if color.name in colors %}
                <li>
                  <a class="color" data-name="{{ color.name }}" style="background-color: {{ color.value }}; cursor: pointer;">
                    <input class="input-color" type="text">
                  </a>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            {% if sizes | length %}
            <div class="prod-detail-property">
              <p class="text-property">Size</p>
              <select name="size" class="form-control-item">
                <option value="" selected>{{ __('SELECT_SIZE') }}</option>
                {% for item in sizes %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>

              {% if product.collections and product.collections[0].id %}
                {% set sizechart = CustomField(product.collections[0].id, 'collection', 'cach-chon-size') %}
                {% if sizechart %}
                  <a class="btn-gallery" href="#gallery-3" style="padding-left: 10px; color: #007bff;">{{ __('SIZECHART') }}</a>
                  <div id="gallery-3" class="hidden">
                    <img src="{{ sizechart | upload_url }}">
                  </div>
                {% endif %}
              {% endif %}

            </div>
            {% endif %}

            <input type="hidden" name="variants" value="{{ product.variants }}">

            <div class="prod-detail-property flex-box">
              <div class="prod-detail-order" style="cursor: pointer;">
                <a>{{ __('ORDER') }}</a>
              </div>
            </div>

          {% else %}

            <div class="prod-detail-property flex-box">
              <div class="prod-detail-order" style="cursor: pointer; margin-top: 10px;" data-id="{{ product.variants[0].id }}">
                <a>{{ __('ORDER') }}</a>
              </div>
            </div>

          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% set images = product.product_images %}
  {% if images | length %}
  <div class="section-inner2" id="tva">
    <div class="container">
      <h3 class="prod-title-main">{{ __('GALLERY') }}</h3>
      <div class="flex-box">
        <div class="flex-item flex-width box-zoom">
          <div class="bg" style="background-image: url('{{ images[0].name | upload_url }}')"></div>
          <img class="visible-xs" src="{{ images[0].name | upload_url }}" alt="{{ product.title }}">
        </div>
        <div class="flex-item flex-width flex-item-box">
          <div class="item-box">
            <a href="#gallery-3" class="box-zoom y-box-img btn-gallery">
                <img src="{{ images[1].name | upload_url }}" alt="{{ product.title }}">
            </a>
            <a href="#gallery-3" class="box-zoom y-box-img btn-gallery">
                <img src="{{ images[2].name | upload_url }}" alt="{{ product.title }}">
            </a>
          </div>
          <div class="item-box">
            <a href="#gallery-3" class="box-zoom y-box-img btn-gallery">
                <img src="{{ images[3].name | upload_url }}" alt="{{ product.title }}">
            </a>

            {% set hinh_conlai = images | length - 4 %}

            <div class="text-box text-box-custom">
              {% if hinh_conlai > 0 %}
                <h3>{{ hinh_conlai }} {{ __('IMAGE') }}</h3>
              {% endif %}
              <a href="#gallery-3" class="btn-viewmore btn-gallery">{{ __('VIEW_MORE') }}</a>
            </div>

            <div id="gallery-3" class="hidden">
              {% for item in images %}
              <img src="{{ item.name | upload_url }}">
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% set related_products = relatedProducts(10) %}

  {% if related_products and related_products | length %}
    <div class="prod-collection list-product">
      <h3 class="prod-title-main">{{ __('RELATED_PRODUCTS') }}</h3>
      <div class="prod-type-slider owl-carousel owl-theme container">
        {% for item in related_products %}
        <div class="prod-collection-item">
          <a class="box-menu-transition" href="{{ item.url }}">
            <p class="text">{{ item.title }}</p>
            <div class="box-img">
              <img src="{{ item.variants[0].image | upload_url }}" alt="{{ item.title }}">
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="prod-collection list-product">
    <h3 class="prod-title-main">{{ __('OTHER_PRODUCTS') }}</h3>
    <div class="prod-type-slider owl-carousel owl-theme container">
      {% for item in otherProducts('accessories', 10) %}
      <div class="prod-collection-item">
        <a class="box-menu-transition" href="{{ item.url }}">
          <p class="text">{{ item.title }}</p>
          <div class="box-img">
            <img src="{{ item.variants[0].image | upload_url }}" alt="{{ item.title }}">
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal fade prod-to-lease" id="order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-custom" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form class="container form-register-drive form-order">
          <input type="hidden" name="variant_id">
          <h3>{{ __('PRODUCT_ORDERING') }}</h3>
          <h4 style="text-align: center; text-transform: uppercase;" class="prod-name text-content">{{ product.title }}
          </h4>
          <p>{{ __('PLEASE_ENTER_YOUR_INFO_BELOW') }}</p>
          <div class="box-customer custom-form">
            <div class="list-customer-custom">
              <div class="customer custom-form fix-padding">
                <p>{{ __('NAME') }}</p>
                <input type="text" name="name" placeholder="{{ __('NAME') }}" required>
              </div>
              <div class="customer custom-form fix-padding">
                <p>{{ __('PHONE') }}</p>
                <input type="number" name="phone" placeholder="{{ __('PHONE') }}" required>
              </div>
              <div class="customer">
                <label>{{ __('REGION') }}</label>
                {% set regions = Region() %}
                <select name="region" class="js-example-disabled region" required>
                  <option value="" disabled selected="selected">{{ __('SELECT') }}</option>
                  {% for item in regions %}
                  <option value="{{ item.id }}">{{ item.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="customer">
                <div>
                  <label>{{ __('SUBREGION') }}</label>
                  <select name="subregion" class="active-select subregion" required>
                    <option disabled selected="selected">{{ __('SELECT') }}</option>
                  </select>
                </div>
              </div>
              <div class="customer flex-max-width">
                <div class="register-drive order-phukien" style="margin: 0 auto; cursor: pointer;">
                  <button type="submit">{{ __('ORDER') }}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}