{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ product.title }}</title>

<link rel="stylesheet" href="{{ theme.uri }}/css/jquery-ui.min.css">
<link rel="stylesheet" href="{{ theme.uri }}/css/jquery-ui-timepicker-addon.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

{% endblock %}

{% block post_include %}

<script src="{{ theme.uri }}/js/jquery-ui.min.js"></script>
<script src="{{ theme.uri }}/js/jquery-ui-timepicker-addon.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<script>


  function currentDate() {
    var d = new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    return [year, month, day].join('-');
  }

  let timeoutDebounce = null;
  $('.date-to-test').keypress(function () {
    var self = $(this);
    clearTimeout(timeoutDebounce);
    timeoutDebounce = setTimeout(function () {
      var value = self.val();
      if (new Date(value).getTime() < new Date(currentDate())) {
        Swal.fire("{{ __('ERROR') }}", "{{ __('INVALID_DATE') }}", 'error');
        self.val(currentDate());
      }
    }, 800);
  });

  $('.btn-gallery').on('click', function (event) {
    event.preventDefault();

    var gallery = $(this).attr('href');

    $(gallery).magnificPopup({
      delegate: 'img',
      type: 'image',
      gallery: {
        enabled: true
      },
      callbacks: {
        elementParse: function (item) {
          item.src = item.el.attr('src');
        }
      }
    }).magnificPopup('open');
  });

  $(function () {
    $('.product-img-slider .item').click(function () {
      var imgtarget = $(this).data('img');
      var imgSrc = $(this).find('img').attr('src');
      var title = $(this).data('title');

      $('.product-detail-series .des i').text(title);
      $('.product-detail-series').find('img').attr('src', imgtarget);
      $('.product-img-slider .item').removeClass('active');
      $(this).addClass('active');

    });
  });

  $(".js-example-disabled").select2();

  $('.form-register-drive').submit(function (e) {
    var product_title = $('.product_title').val();
    if (!product_title) {
      Swal.fire("{{ __('ERROR') }}", "{{ __('PLEASE_SELECT_A_MOTO') }}", 'error');
      return false;
    }
    e.preventDefault();
    var data = $(this).serialize();

    var utm_source = getCookie('utm_source');
    var utm_medium = getCookie('utm_medium');
    var utm_campaign = getCookie('utm_campaign');

    if (utm_source) data += '&utm_source=' + utm_source;
    if (utm_medium) data += '&utm_medium=' + utm_medium;
    if (utm_campaign) data += '&utm_campaign=' + utm_campaign;

    $.post('/api/contact', data, function (res) {
      location.href = '/{{ lang }}/register-success';
    });
  });
  $(document).scroll(function () {
  var y = $(this).scrollTop();
  if (y > 180) {
    $(".menu-blog").addClass("menu-blog-fixed");
    $(".box-header").addClass("menu-header-mt");
  } else {
    $(".menu-blog").removeClass("menu-blog-fixed");
    $(".box-header").removeClass("menu-header-mt");
  }
});
</script>

{% endblock %}

{% block content %}

{% set dac_tinh_noi_bat = CustomField(product.id, 'product', 'dac-tinh-noi-bat') %}
{% set thong_so_ky_thuat = CustomField(product.id, 'product', 'thong-so-ky-thuat') %}
{% set bg_form_dk = CustomField(product.id, 'product', 'background-form-dang-ky') %}


<div class="main-content">
  <div class="menu-blog container">
    <ul>
      <li class="active"><a href="#sp" class="scroll-to-target">{{ product.title }}</a></li>
      {% if product.khuyenmai %}
      <li><a href="#km" class="scroll-to-target" style="text-transform:none;">{{ __('PROMOTION') }}</a></li>
      {% endif %}
      {% if dac_tinh_noi_bat %}
      <li><a href="#dtnb" class="scroll-to-target" style="text-transform:none;">{{ __('OUTSTANDING_FEATURE') }}</a></li>
      {% endif %}
      <li><a href="#tva" class="scroll-to-target" style="text-transform:none;">{{ __('GALLERY') }}</a></li>
      {% if thong_so_ky_thuat %}
      <li><a href="#tskt" class="scroll-to-target" style="text-transform:none;">{{ __('SPECIFICATIONS') }}</a></li>
      {% endif %}
      <li><a href="#dklt" class="scroll-to-target"
          style="text-transform:none;">{{ __('REGISTER_FOR_A_DRIVING_TEST') }}</a></li>
      <li><a href="#dongxe" class="scroll-to-target" style="text-transform:none;">{{ __('OTHER_VEHICLES') }}</a></li>
    </ul>
  </div>
  <div class="y-breadcrumb">
    <div class="container">
      <ul>
        <li><a href="/{{ lang }}"><i class="fas fa-home"></i></a></li>
        {% if product.collection and product.collection[0] %}
        <li><a href="{{ product.collections[0].url }}">{{ product.collections[0].title }}</a></li>
        {% endif %}
        <li><a class="active">{{ product.title }}</a></li>
      </ul>
    </div>
  </div>
  <div class="container" id="sp">
    <div class="title">
      <h3 class="prod-title-main prod-title-main-ct">{{ product.title }}</h3>
      <p>{{ product.description }}</p>
    </div>
    <div class="product-detail-series">
      <img src="{{ product.variants[0].images[0].name | upload_url }}" alt="{{ product.variants[0].title }}" />
      <p class="des text-center"><i>{{ product.variants[0].title }}</i></p>
    </div>
    <div class="owl-carousel product-img-slider owl-theme padding-bottom">
      {% for item in product.variants %}
      <a class="item {{ loop.index0 ? '' : 'active' }} " data-title="{{ item.title }}"
        data-img="{{ item.images[0].name | upload_url }}">
        <img src="{{ item.images[0].name | upload_url }}" alt="{{ item.title }}" />
      </a>
      {% endfor %}

    </div>
    <div class="product-details container">
      <div class="details">
        {% set thongsocoban = product.thongsocoban %}
        <div class="item">
          <p>{{ __('LENGTH') }}</p>
          <div class="index"><span>{{ thongsocoban['Chiều dài'] }}</span></div>
        </div>
        <div class="item">
          <p>{{ __('WIDTH') }}</p>
          <div class="index"><span>{{ thongsocoban['Chiều rộng'] }}</span></div>
        </div>
        <div class="item">
          <p>{{ __('SEAT_HEIGHT') }}</p>
          <div class="index"><span>{{ thongsocoban['Chiều cao yên'] }}</span></div>
        </div>
        <div class="item">
          <p>{{ __('WEIGHT') }}</p>
          <div class="index"><span>{{ thongsocoban['Trọng lượng'] }}</span></div>
        </div>
        <div class="item">
          <div class="register-drive">
            <a href="#dklt" class="scroll-to-target">{{ __('REGISTER_FOR_A_DRIVING_TEST') }}</a>
          </div>
          <div class="register-price">
            <a href="/{{ lang }}/product-price">{{ __('QUOTATION') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if product.khuyenmai %}
  <div class="product-slider" id="km">
    <h3 class="prod-title-main">{{ __('PROMOTION') }}</h3>
    <div class="container">
      <div class="prod-box-slider owl-carousel owl-theme">
        {% for item in product.khuyenmai %}
        <a href="{{ item.link }}">
          <div class="box-img-item box-img-flex box-main box-img-custom">
            <img src="{{ item.image | upload_url }}" alt="{{ item.title }}">
            <p>{{ item.title }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if dac_tinh_noi_bat %}
  {% set gallery = Gallery(dac_tinh_noi_bat) %}
  <div class="product-slider" id="dtnb">
    <h3 class="prod-title-main">{{ __('TOP_FEATURES') }}</h3>
    <div class="container">
      <div class="prod-box-slider2 owl-carousel owl-theme">
        {% for item in gallery.photos %}
        <div class="box-img-flex box-img-nb">
          <a href="#gallery-2" class="box-img-item btn-gallery">
            <img src="{{ item.image | upload_url }}">
            <p class="vs-custom2">{{ item.title }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="gallery-2" class="hidden">
      {% for item in gallery.photos %}
      {% set img = item.description | striptags('<img>') %}
      {{ img | raw }}
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% set images = product.images %}
  {% if images and images | length %}
  <div class="section-inner2" id="tva">
    <div class="container">
      <h3 class="prod-title-main">{{ __('GALLERY') }}</h3>
      <div class="flex-box">
        <div class="flex-item flex-width box-zoom">
          <div class="bg" style="background-image: url('{{ images[0].name | upload_url }}')"></div>
          <img class="visible-xs" src="{{ images[0].name | upload_url }}" alt="{{ product.title }}">
        </div>
        <div class="flex-item flex-width flex-item-box">
          <div class="item-box">
            <a href="#gallery-3" class="box-zoom y-box-img btn-gallery">
                <img src="{{ images[1].name | upload_url }}" alt="{{ product.title }}">
            </a>
            <a href="#gallery-3" class="box-zoom y-box-img btn-gallery">
                <img src="{{ images[2].name | upload_url }}" alt="{{ product.title }}">
            </a>
          </div>
          <div class="item-box">
            <a href="#gallery-3" class="box-zoom y-box-img btn-gallery">
                <img src="{{ images[3].name | upload_url }}" alt="{{ product.title }}">
            </a>

            {% set hinh_conlai = images | length - 4 %}

            <div class="text-box text-box-custom">
              {% if hinh_conlai > 0 %}
                <h3>{{ hinh_conlai }} {{ __('IMAGE') }}</h3>
              {% endif %}
              <a href="#gallery-3" class="btn-viewmore btn-gallery">{{ __('VIEW_MORE') }}</a>
            </div>

            <div id="gallery-3" class="hidden">
              {% for item in images %}
              <img src="{{ item.name | upload_url }}">
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="section-tskt padding-bottom container" id="tskt">
    <h3 class="prod-title-main">{{ __('SPECIFICATIONS') }}</h3>
    {% set tskt = CustomField(product.id, 'product', 'thong-so-ky-thuat', lang) %}
    {% if tskt %}
    <section>{{ tskt | raw }}</section>
    {% endif %}
  </div>

  {% set bg = bg_form_dk ?: settings.dklt_bg %}

  <div class="section-register-drive container" id="dklt">
    <form class="container form-register-drive" style="background-image: url('{{ bg | upload_url }}');">
      <input type="hidden" name="data[product_title]" class="product_title" value="{{ product.title }}">
      <input type="hidden" name="type" value="register">
      <h3 class="prod-title-main" style="text-align: left;">{{ __('REGISTER_FOR_A_DRIVING_TEST') }} <span
          class="box-desktop">{{ product.title }}</span></h3>
      <h4 class="prod-name box-mobile">{{ product.title }}</h4>
      <h4 class="prod-name-m">{{ __('DO_YOU_HAVE_A2') }}</h4>
      <div class="check-box">
        <label class="cs-radio">{{ __('YES') }}
          <input type="radio" checked="checked" name="data[a2]" value="yes">
          <span class="checkmark"></span>
        </label>
        <label class="cs-radio">{{ __('NO') }}
          <input type="radio" name="data[a2]" value="no">
          <span class="checkmark"></span>
        </label>
      </div>
      <h4>{{ __('CUSTOMER_INFORMATION') }}</h4>
      <div class="box-customer">
        <div action="" class="list-customer">
          <div class="customer">
            <p class="title-custom">{{ __('NAME') }}<span>*</span></p>
            <input type="text" name="name" placeholder="{{ __('NAME') }}">
          </div>
          <div class="customer">
            <p class="title-custom">{{ __('PHONE') }}<span>*</span></p>
            <input type="number" name="phone" placeholder="{{ __('PHONE') }}">
          </div>
          <div class="customer">
            <p class="title-custom">Email</p>
            <input type="text" name="email">
          </div>
          <div class="customer date-time">
            <p class="title-custom">{{ __('DATE_TO_TEST') }}</p>
            <input class="date-to-test" type="date" name="data[date]" required min="{{ "now" | date("Y-m-d")  }}">
          </div>
          <div class="customer">
            <label for="tp">{{ __('REGION') }}</label>
            {% set regions = Region() %}
            <select name="data[region]" class="js-example-disabled region" required>
              <option value="" disabled selected="selected">{{ __('SELECT') }}</option>
              {% for item in regions %}
              <option value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="customer">
            <div class="none-select">
              <label>{{ __('SUBREGION') }}</label>
              <select name="data[subregion]" class="active-select subregion" required>
                <option disabled selected="selected" value="">{{ __('SELECT') }}</option>
              </select>
            </div>
          </div>
          <div class="customer flex-max-width">
            <p class="title-custom">{{ __('CONTENT') }}</p>
            <textarea name="content" cols="30" rows="10" required placeholder="{{ __('CONTENT') }}"></textarea>
          </div>
          <div class="customer flex-max-width">
            <label class="cs-radio cs-custom">
              <a href="javascript:;" data-toggle="modal" data-target="#file">{{ __('I_AGREE_TO_THE') }}</a>
              <input class="checkbox" type="checkbox" name="radio">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="customer flex-max-width">
            <div class="register-drive" style="margin: 0 auto; cursor: pointer;">
              <button type="submit" class="btn-register">{{ __('REGISTRATION') }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="prod-collection list-product" id="dongxe">
    <h3 class="prod-title-main">{{ __('OTHER_PRODUCTS') }}</h3>
    <div class="prod-type-slider owl-carousel owl-theme container">
      {% for item in otherProducts('moto', 10) %}
      <div class="prod-collection-item">
        <a class="box-menu-transition" href="{{ item.url }}">
          <p class="text">{{ item.title }}</p>
          <div class="box-img">
            <img src="{{ item.variants[0].image | upload_url }}" alt="{{ item.title }}">
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal fade special-file" id="file" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog custom-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <section class="y-text-editor">{{ settings.dklt_quy_dinh | raw }}</section>
      </div>
    </div>
  </div>
</div>


{% endblock %}