{% extends "layout.twig" %}

{% block pre_include %}

<title>{{ __('SUCCESS') }}</title>

{% endblock %}

{% block post_include %}

<script>
  var contact_id = $('input[name="contact_id"]').val();
  $.get('/api/contact/' + contact_id + '/sendEmailAdmin', function(res) {

  });
</script>

{% endblock %}

{% block content %}

<input type="hidden" name="contact_id" value="{{ id }}">

<div class="main-content">
  <div class="success-section padding-section">
      <div class="y-text-editor container">
          <div class="icon-success"><i class="fas fa-check-circle"></i></div>
          {% set content = settings.page_drive_success %}
          {% set content = content | replace({ '{{name}}': contact.name, '{{phone}}': contact.phone }) %}
          {{ content | raw }}
      </div>
  </div>
</div>


{% endblock %}