{% extends "layout.twig" %}

{% block pre_include %}

<title>{{ __('SUCCESS') }}</title>

{% endblock %}

{% block content %}

<div class="main-content">
  <div class="success-section padding-section">
      <div class="y-text-editor container">
          <div class="icon-success"><i class="fas fa-check-circle"></i></div>
          {% set content = settings.register_voucher_success %}
          {% set content = content | replace({ '{{name}}': contact.name, '{{phone}}': contact.phone }) %}
          {{ content | raw }}
      </div>
  </div>
</div>


{% endblock %}