{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ __('SEARCH') }}</title>
{% endblock %}

{% block post_include %}
<script type="text/javascript">

  var page = 2;
  var perpage = 8;
  $('.prod-loadmore').click(function() {
    var terms = $(this).data('terms');
    $.get('/search?q=' + terms + '&page=' + page + '&perpage=' + perpage + '&view=view-more-search', function(html) {
      if (html) {
        $('.prod-collection .prod-box').append(html);
        page++;
      }
    });
  });

</script>
{% endblock %}

{% block content %}

<div class="main-content">
  <div class="y-breadcrumb">
      <div class="container">
          <ul>
              <li><a href="/{{ lang }}"><i class="fas fa-home"></i></a></li>
              <li><a class="active">{{ __('SEARCH_RESULTS_FOR_KEYWORDS') }} "{{ search.terms }}"</a></li>
          </ul>
      </div>
  </div>
  <div class="prod-collection">
    {% if search.data | length > 0 %}
        <div class="prod-box container">
            {% for item in search.data %}
              {% if loop.index0 < 8 %}
                <div class="prod-collection-item col-lg-3 col-md-6">
                  <a class="box-menu-transition" href="{{ item.url }}">
                      <p class="text">{{ item.title }}</p>
                      <div class="box-img y-box-img">
                        <img src="{{ item.variants[0].image | upload_url }}" alt="{{ item.title }}">
                      </div>
                      {% if item.type == 'accessories' %}
                        <div class="price">
                          {% if item.variants[0].price %}
                            <a>{{ item.variants[0].price | money }}<span>đ</span></a>
                          {% else %}
                            <a>{{ __('CONTACT') }}</a>
                          {% endif %}
                        </div>
                      {% endif %}
                  </a>
                  {% if item.tags %}
                    <div class="tags"><a>{{ item.tags[0] }}</a></div>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
        </div>
        {% if search.data | length > 8 %}
          <a class="prod-loadmore" data-terms="{{ search.terms }}">{{ __('VIEW_MORE') }} (8 {{ __('PRODUCT') }})</a>
        {% endif %}
    {% else %}
    <div class="prod-box container">
      <div class="prod-box" style="padding: 30px;">
        {{ __('NO_PRODUCT_FOUND') }}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}