{% for item in products %}
  {% if loop.index0 < 8 %}
    <div class="prod-collection-item col-lg-3 col-md-6">
      <a class="box-menu-transition" href="{{ item.url }}">
          <p class="text">{{ item.title }}</p>
          <div class="box-img y-box-img"><img src="{{ (item.option_6 ?: item.variants[0].images[0].name) | upload_url }}" alt="{{ item.title }}">
          </div>
      </a>
      {% if item.tags %}
        <div class="tags"><a>{{ item.tags[0] }}</a></div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}

{% if products | length < 9 %}
<script>
  $('.prod-loadmore').addClass('d-none');
</script>
{% endif %}