{% if products | length %}

  {% for item in products %}
    {% if loop.index0 < 9 %}
      <div class="prod-collection-item col-lg-4 col-md-6">
        <a class="box-menu-transition" href="{{ item.url }}">
            <p class="text">{{ item.title }}</p>
            <div class="box-img y-box-img">
              <img src="{{ item.variants[0].images[0].name | upload_url }}" alt="{{ item.title }}">
            </div>
            <div class="price">
              {% if item.variants[0].price %}
                <a>{{ item.variants[0].price | money }}<span>đ</span></a>
              {% else %}
                <a>{{ __('CONTACT') }}</a>
              {% endif %}
            </div>
          </a>
          {% if item.tags %}
            <div class="tags"><a>{{ item.tags[0] }}</a></div>
          {% endif %}
      </div>
    {% endif %}
  {% endfor %}

  {% if products | length < 10 %}
    <script>$('.prod-loadmore').addClass('d-none');</script>
  {% else %}
    <script>$('.prod-loadmore').removeClass('d-none');</script>
  {% endif %}

{% else %}
  <div style="padding: 30px;">{{ __('NO_PRODUCTS_WERE_FOUND') }}</div>
  <script>
    $('.prod-loadmore').addClass('d-none');
  </script>
{% endif %}