{% for item in articles %}
  <div class="col-lg-4 col-md-6">
    <div class="item-blog-main">
        <div class="item-blog-inline">
            <div class="blog-img box-zoom">
                <a href="{{ item.url }}">
                    <img src="{{ item.image | upload_url }}" alt="{{ item.title }}">
                </a>
            </div>
            <div class="blog-info">
                <h3 class="blog-title">
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </h3>
                {% if item.blogs and item.blogs[0] %}{% endif %}
                <a href="{{ item.blogs[0].url }}"><span class="blog-subscription">{{ item.blogs[0].title }}</span></a>
                <div class="blog-date">
                    <span class="day">{{ item.created_at | date('d') }}</span>
                    <span class="month-year">{{ item.created_at | date('m-Y') }}</span>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endfor %}

{% if articles | length < 8 %}
<script>
  $('.box-btn-viewmore').addClass('d-none');
</script>
{% endif %}