extends ./../layout.pug
block pre-include
  - var menu = 'client'
  - var childMenu = 'client'
  title Chỉnh sửa

block post-include
  script(src=staticURI() + '/js/admin/client.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li
        a Đối tác
      li
        a Tiêu biểu

    ol.button-right.col-md-4.col-sm-5.col-xs-12
      li
        a.btn.btn-admin.btn-create-update(data-id=data.id)
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Cập nhật
  section.content.article
    .row
      .col-xs-12.col-sm-12.col-md-8
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-6.title THÔNG TIN
            .box-body
              .form-group
                .col-sm-2.control-label Tên
                  strong.required  *
                .col-sm-10
                  input.form-control(name="name", placeholder="Tên đối tác" value=data.name)
              .form-group
                .col-sm-2.control-label Địa chỉ
                .col-sm-10
                  input.form-control(name="address", placeholder="Địa chỉ" value=data.address)
              .form-group
                .col-sm-2.control-label Số điện thoại
                .col-sm-10
                  input.form-control(name="phone", placeholder="Số điện thoại" value=data.phone)
              .form-group
                .col-sm-2.control-label Số fax
                .col-sm-10
                  input.form-control(name="fax", placeholder="Số fax" value=data.fax)
              .form-group
                .col-sm-2.control-label Trang web
                .col-sm-10
                  input.form-control(name="website", placeholder="Trang web" value=data.website)
              .form-group
                .col-sm-2.control-label Mô tả
                .col-sm-10
                  textarea.form-control#description(name="description")=data.description
        - var post_type = 'client'
        - var post_id = data.id
        include ../snippet/box-custom-field.pug
      .col-xs-12.col-sm-12.col-md-4
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title ĐỘ ƯU TIÊN
            .box-body
              input.form-control.value(type="text" name="priority" maxlength="8" min=1 value=data.priority )
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title Logo
                if (getMetaAdmin("image_resolution_client_text"))
                  span.title-size=' (' + getMetaAdmin("image_resolution_client_text") + ')'
            .box-body
              if data.logo
                .item-choose-image.active(data-default=staticURI() + "/img/default.jpg")
                  img(src='/uploads/' + resize(data.logo, 480))
                  span.remove-image
                    i.fa.fa-times
                  input.value(type="hidden", name="logo", value=data.logo)
              else
                .item-choose-image(data-default=staticURI() + "/img/default.jpg")
                  img(src=staticURI() + "/img/default.jpg")
                  input.value(type="hidden", name="logo")
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title TRẠNG THÁI
            .box-body
              select.form-control(name="status" data-value=data.status)
                option(value="active") Hiển thị
                option(value="inactive") Ẩn
