<footer class="footer" style="background-image: url('{{ settings.bg_footer | upload_url }}');">
	<div class="overlay-footer">
		<div class="container custom-padding">
			<div class="row">
				<div class="col-md-4">
					<div class="item-footer">
						<div class="logo-footer">
							<img src="{{ settings.main_logo | upload_url }}" alt="">
						</div>
						<div class="contact-footer">
							<p>
								{{ __('ADDRESS') }}:
								<a href="#">{{ settings.address }}</a>
							</p>
							<p>
								Hotline
								{{ __('FREE') }}:
								<a href="tel:{{ settings.hotline | replace({' ': ''}) }}" class="hotline">{{ settings.hotline }}</a>
							</p>
							<p>
								{{ __('OPEN_HOURS') }}:
								<a href="tel:{{ settings.hotline | replace({' ': ''}) }}">{{ settings.open_hours }}</a>
							</p>
						</div>
						<div class="maps maps-footer">{{ settings.google_map | raw }}</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item-footer flex-box">
						{% set menu_footer = Menu('menu-footer') %}
						{% for item in menu_footer.children %}
							<div class="brand-footer">
								<ul>
									<li>
										<div class="title-footer">{{ item.title }}</div>
									</li>
									{% if item.children %}
										{% for child in item.children %}
											<li>
												<a href="{{ child.link }}">{{ child.title }}</a>
											</li>
										{% endfor %}
									{% endif %}
								</ul>
							</div>
						{% endfor %}
					</div>
					<div class="item-footer">
						<a target="_blank" href="http://online.gov.vn/Home/WebDetails/77251" class="img-bct">
							<img src="{{theme.uri}}/images/moto-phat-tien-bo-cong-thuong.png" alt="Hình Bộ Công Thương">
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="item-footer">
						<div class="title-footer">Facebook Like Page</div>
						<div class="social-footer">
							{{ settings.fanpage | raw }}
						</div>
						<div class="list-social-footer">
							<span>{{ __('CONNECT_WITH_US') }}:</span>
							<ul>
								<li><a class="img-hover"href="{{ settings.zalo }}" target="_blank"><img class="img-hv"src="{{ theme.uri }}/images/icon-zalo.gif"/><img class="img-hidden hidden-img"src="{{ theme.uri }}/images/ic-zalo.jpg"/></a></li>
								<li><ahref="{{settings.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><ahref="{{settings.youtube}}" target="_blank"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="footer-bottom">
				<div class="copyright">
					<p>{{ settings.copyright | raw }}</p>
				</div>
			</div>
		</div>
	</div>
</footer>
