{% set blog_promotion = Blog(settings.header_blog_promotion) %}
{% set menu_header = Menu('menu-header') %}
{% set hashCollection = hashCollection() %}

<header>
  <div class="box-header container-fluid">
    <div class="navbar-contact container">
      <div class="contact-header">
        <div class="phone-header font-custom">
          {% if deviceType() == 'desktop' %}
            <a href="tel:{{ settings.hotline | replace({' ': ''}) }}" data-toggle="modal" data-target="#hotline"><i class="fas fa-phone-alt phone-icon"></i> {{ settings.hotline }}</a>
          {% else %}
            <a href="tel:{{ settings.hotline | replace({' ': ''}) }}"><i class="fas fa-phone-alt phone-icon"></i> {{ settings.hotline }}</a>
          {% endif %}
        </div>
        <div class="vehicle-header">
          {% for i in [1, 2, 3] %}
            {% set header_item_title = 'header_item_' ~ i ~ '_title' %}
            {% set header_item_link = 'header_item_' ~ i ~ '_link' %}
            <div class="{{ loop.index0 == 1 ? 'vehicle-item active' : 'vehicle-item' }}">
              {% if loop.index0 == 0 %}
                <a ref="nofollow" href="{{ settings[header_item_link] }}">{{ settings[header_item_title] }}</a>
              {% else %}
                <a href="{{ settings[header_item_link] }}">{{ settings[header_item_title] }}</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="content-header">
        {% for i in [4, 5] %}
          {% set header_item_title = 'header_item_' ~ i ~ '_title' %}
          {% set header_item_link = 'header_item_' ~ i ~ '_link' %}
          {% if loop.index0 == 0 %}
            <div class="gift-box padding-right font-custom">
              <a href="{{ settings[header_item_link] }}">
                <i class="fas fa-gift"></i>
                {{ settings[header_item_title] }}
              </a>
            </div>
          {% endif %}
          {% if loop.index0 == 1 %}
            <div class="test-drive-box padding-right">
              <a href="{{ settings[header_item_link] }}">
                <i class="fas fa-motorcycle"></i>
                {{ settings[header_item_title] }}
              </a>
            </div>
          {% endif %}
        {% endfor %}

        <div class="translate-box padding-right">
          <div class="y-box-lang">
            <a href="/language/{{ lang == 'vi' ? 'en' : 'vi' }}?link={{ url }}" class="lang_button">
              <span class="lang-item lang-item-vi {{ lang == 'en' ? 'active' : '' }}">
                <img class=" " src="{{ theme.uri }}/images/icons/vi.jpg" alt="vi">VI</span>
              <span class="lang-item lang-item-en {{ lang == 'vi' ? 'active' : '' }}">
                <img class=" " src="{{ theme.uri }}/images/uk 1.png" alt="en">EN</span>
            </a>
          </div>
        </div>
      </div>
      <!-- ./ Header Mobile -->
      <a class="mobile-menu-btn box-mobile" href="javascript:;">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <div class="y-mobile-menu">
        <div class="m-menu__title">
          <a href="javascript:;" class="m-menu-close"><i class="fas fa-times"></i></a>
          <div class="box-product">
            {% for i in [1, 2, 3] %}
              {% set header_item_title = 'header_item_' ~ i ~ '_title' %}
              {% set header_item_link = 'header_item_' ~ i ~ '_link' %}
              <div class="{{ loop.index0 == 1 ? 'prod-box-item active' : 'prod-box-item' }}">
                <a href="{{ settings[header_item_link] }}" class="prod-item">{{ settings[header_item_title] }}</a>
              </div>
            {% endfor %}
          </div>
        </div>
        <ul>
          {% for item in menu_header.children %}
            {% if item.children %}
              <li class="has-submenu active">
                <a class="link text-m">
                  {{ item.title }}
                  <span class="btn-toggle-sub custom-m-icon"></span>
                </a>
                {% if loop.index0 < 2 %}
                  <!-- Check menu level 3 -->
                  {% if item.children[0].children %}
                    <ul class="sub-menu">
                      {% for sub in item.children %}
                        <li class="has-submenu-2 active">
                          <a>
                            <div class="box-img">
                              <img src="{{ sub.image | upload_url }}" alt="{{ sub.title }}">
                            </div>
                            <span class="text-sub-m custom-box">{{ sub.title }}{% if hashCollection[sub.collection_id] %}({{ hashCollection[sub.collection_id] }}){% endif %}
                            </span>
                            <span class="btn-toggle-sub custom-sub-m-icon"></span>
                          </a>
                          <ul class="sub-menu-lv2">
                            {% for sub2 in sub.children %}
                            <li class="active">
                              <a href="{{ sub2.link }}">
                              <div class="box-img">
                                <img src="{{ sub2.image | upload_url }}" alt="{{ sub2.title }}">
                              </div>
                                <span class="custom-box">{{ sub2.title }}</span>
                              </a>
                            </li>
                            {% endfor %}
                            <li class="active">
                              <a href="{{ sub.link }}" class="btn-viewmore menu-btn-custom">{{ __('VIEW_MORE') }}</a>
                            </li>
                          </ul>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <ul class="sub-menu custom-bg">
                      {% for sub in item.children %}
                        <li class="has-submenu-2">
                          <a href="{{ sub.link }}">
                          <div class="box-img">
                            <img src="{{ sub.image | upload_url }}" alt="{{ sub.title }}">
                          </div>
                            <span class="custom-box">{{ sub.title }}{% if hashCollection[sub.collection_id] %}({{ hashCollection[sub.collection_id] }}){% endif %}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% else %}
                  <ul class="sub-menu custom-bg">
                    {% for sub in item.children %}
                      <li><a href="{{ sub.link }}">{{ sub.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% else %}
            <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endif %}
          {% endfor %}

          <li class="special"><a href="{{ blog_promotion.url }}">{{ __('PROMOTION') }}</a><i class="fas fa-gift"></i></li>
          <li class="special"><a href="/{{ lang }}{{ __('REGISTER_URL') }}">{{ __('REGISTER_FOR_A_DRIVING_TEST') }}</a><i class="fas fa-motorcycle"></i>
          </li>
          <li class="special-contact">
            <div class="y-box-lang">
              <a href="/language/{{ lang == 'vi' ? 'en' : 'vi' }}?link={{ url }}" class="lang_button">
                <span class="lang-item en {{ lang == 'vi' ? 'active' : '' }}">
                  <img class=" " src="{{ theme.uri }}/images/uk 1.png" alt="en">English
                </span>
                <span class="lang-item vi {{ lang == 'en' ? 'active' : '' }}">
                  <img class=" " src="{{ theme.uri }}/images/icons/vi.jpg" alt="vi">Việt Nam
                </span>
              </a>
            </div>
          </li>
          <li class="special-contact"><a href="tel:{{ settings.hotline | replace({' ': ''}) }}"><i class="fas fa-phone phone-custom-color"></i>
            {{ settings.hotline }}</a></li>
        </ul>
      </div>
    </div>
    <div class="box-menu-header container">
      <div class="logo-header">
        <a href="/" class="img-desktop">
          <img src="{{ settings.main_logo | upload_url }}" alt="Logo">
        </a>
        <a href="/" class="img-mobile">
          <img src="{{ settings.main_logo | upload_url }}" alt="Logo">
        </a>
      </div>
      <a class="mobile-menu-btn box-mobile" href="javascript:;">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <ul class="list-inline menu-header">
        {% for item in menu_header.children %}
          {% if item.children %}
            {% if loop.index0 < 2 %}
              <!-- Check menu level 3 -->
              {% if item.children[0].children %}
                <li class="drop-down menu-mt">
                  <a class="link font-custom sweep-to-right" href="{{ item.link }}">{{ item.title }}</a>
                    <ul class="sub-menu sub-menu-mt sub-menu-vh">
                      <div class="container">
                        <div class="row overflow-custom">
                          {% for sub in item.children %}
                            {% if loop.index0 < 4 %}
                              <li class="col-md-6 col-lg-3 sub-menu-item sub-menu-item-bh in-up" data-id="menu-{{ sub.id }}">
                                <div class="box-sub-menu box-menu-transition">
                                  <p class="text">{{ sub.title }}{% if hashCollection[sub.collection_id] %}({{ hashCollection[sub.collection_id] }}){% endif %}</p>
                                  <div class="box-img y-box-img"><img
                                      src="{{ sub.image | upload_url }}" alt="{{ sub.title }}">
                                  </div>
                                </div>
                              </li>
                            {% endif %}
                          {% endfor %}

                          {% for sub in item.children %}
                            {% if sub.children and loop.index0 < 4 %}
                              <ul class="sub-menu-2 container" id="menu-{{ sub.id }}">
                                <div class="row">
                                  {% for sub2 in sub.children %}
                                    <li class="col-md-6 col-lg-3 sub-menu-item-2 in-up">
                                      <a href="{{ sub2.link }}" class="box-sub-menu box-menu-transition">
                                        <p class="text text-custom">{{ sub2.title }}</p>
                                        <div class="box-img y-box-img">
                                          <img src="{{ sub2.image | upload_url }}" alt="{{ sub2.title }}">
                                        </div>
                                      </a>
                                    </li>
                                  {% endfor %}
                                </div>
                              </ul>
                            {% endif %}
                          {% endfor %}

                          {% for sub in item.children %}
                            {% if loop.index0 > 3 and loop.index0 < 8 %}
                              <li class="col-md-6 col-lg-3 sub-menu-item sub-menu-item-bh in-up" data-id="menu-{{ sub.id }}">
                                <div class="box-sub-menu box-menu-transition">
                                  <p class="text">{{ sub.title }}{% if hashCollection[sub.collection_id] %}({{ hashCollection[sub.collection_id] }}){% endif %}</p>
                                  <div class="box-img y-box-img"><img
                                      src="{{ sub.image | upload_url }}" alt="{{ sub.title }}">
                                  </div>
                                </div>
                              </li>
                            {% endif %}
                          {% endfor %}

                          {% for sub in item.children %}
                            {% if sub.children and loop.index0 > 3 and loop.index0 < 8 %}
                              <ul class="sub-menu-2 container" id="menu-{{ sub.id }}">
                                <div class="row">
                                  {% for sub2 in sub.children %}
                                    <li class="col-md-6 col-lg-3 sub-menu-item-2 in-up">
                                      <a href="{{ sub2.link }}" class="box-sub-menu box-menu-transition">
                                        <p class="text text-custom">{{ sub2.title }}</p>
                                        <div class="box-img y-box-img">
                                          <img src="{{ sub2.image | upload_url }}" alt="{{ sub2.title }}">
                                        </div>
                                      </a>
                                    </li>
                                  {% endfor %}
                                </div>
                              </ul>
                            {% endif %}
                          {% endfor %}

                        </div>
                      </div>
                    </ul>
                </li>
              {% else %}
                <li class="drop-down menu-bh">
                  <a class="link font-custom sweep-to-right" href="{{ item.link }}">{{ item.title }}</a>
                  <ul class="sub-menu">
                    <div class="container">
                      <div class="row overflow-custom">
                        {% for sub in item.children %}
                          <li class="col-md-6 col-lg-3 sub-menu-item custom-bf in-up">
                            <a href="{{ sub.link }}" class="box-sub-menu box-menu-transition">
                              <p class="text">{{ sub.title }}{% if hashCollection[sub.collection_id] %}({{ hashCollection[sub.collection_id] }}){% endif %}</p>
                              <div class="box-img y-box-img">
                                <img src="{{ sub.image | upload_url }}" alt="{{ sub.title }}">
                              </div>
                            </a>
                          </li>
                        {% endfor %}
                      </div>
                    </div>
                  </ul>
                </li>
              {% endif %}
            {% else %}
            <li class="drop-down">
              <a class="link font-custom sweep-to-right" href="{{ item.link }}">{{ item.title }}</a>
              <ul class="sub-menu-custom in-down">
                {% for sub in item.children %}
                  <li><a href="{{ sub.link }}">{{ sub.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}
          {% else %}
            <li class="drop-down">
              <a class="link font-custom sweep-to-right" href="{{ item.link }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}

        <li class="drop-down">
          <a href="#" id="tool-tip" class="link search-btn" data-toggle="tooltip" data-placement="bottom"
            title="{{ __('SEARCH_PRODUCT_PLACEHOLDER') }}">
            <i class="fas fa-search icon-search active-search"></i>
            <i class="fas fa-times icon-close"></i>
          </a>
          <div class="search-box container">
            <form action="/{{ lang }}/search" id="form-search">
              <div class="input-bar">
                <input type="text" placeholder="{{ __('SEARCH_PRODUCT_PLACEHOLDER') }}" name="q">
                <div class="search-icon"><a onclick="document.getElementById('form-search').submit();"><i class="fas fa-search"></i></a>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>