<div class="section-inner container padding-bottom">
  <div class="box-title">
      <h2 style="padding-left: 0;">{{ settings.homepage_types_title }}</h2>
      <h3>{{ settings.homepage_types_description }}</h3>
  </div>
  <div class="flex-box">
      <div class="flex-item flex-width">
          <a href="{{ settings.homepage_types_link_1 }}" class="image image-main box-img-flex box-zoom">
              <img src="{{ settings.homepage_types_image_1 | upload_url }}" alt="{{ settings.homepage_types_title_1 }}">
          </a>
          <div class="name">
              <span>{{ settings.homepage_types_title_1 }}</span>
          </div>
      </div>
      <div class="flex-item flex-width flex-small-mobile">
          <a href="{{ settings.homepage_types_link_2 }}" class="image image-main box-img-flex box-zoom">
              <img src="{{ settings.homepage_types_image_2 | upload_url }}" alt="{{ settings.homepage_types_title_2 }}">
          </a>
          <div class="name">
              <span>{{ settings.homepage_types_title_2 }}</span>
          </div>
      </div>

      <div class="flex-item flex-small-width">
          <a href="{{ settings.homepage_types_link_3 }}" class="image image-small box-img-flex box-zoom img-flex-height-small">
            <img src="{{ settings.homepage_types_image_3 | upload_url }}" alt="{{ settings.homepage_types_title_3 }}">
          </a>
          <div class="name">
              <span>{{ settings.homepage_types_title_3 }}</span>
          </div>
      </div>

      <div class="flex-item flex-small-width">
          <a href="{{ settings.homepage_types_link_4 }}" class="image image-small box-img-flex box-zoom img-flex-height-small">
            <img src="{{ settings.homepage_types_image_4 | upload_url }}" alt="{{ settings.homepage_types_title_4 }}">
          </a>
          <div class="name">
              <span>{{ settings.homepage_types_title_4 }}</span>
          </div>
      </div>

      <div class="flex-item flex-small-width">
          <a href="{{ settings.homepage_types_link_5 }}" class="image image-small box-img-flex box-zoom img-flex-height-small">
            <img src="{{ settings.homepage_types_image_5 | upload_url }}" alt="{{ settings.homepage_types_title_5 }}">
          </a>
          <div class="name">
              <span>{{ settings.homepage_types_title_5 }}</span>
          </div>
      </div>

  </div>
</div>