{% set collection_1 = settings.index_collection_1 %}
{% if collection_1 %}
{% set collection_1 = Collection(collection_1) %}
<section class="main-container col1-layout home-content-container">
  <div class="container">
    <div class="std">
      <div class="best-seller-pro">
        <div class="slider-items-products">
          <div class="new_title center">
            <h2>{{ collection_1.title }}</h2>
          </div>
          <div id="best-seller-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4">

              {% for item in collection_1.products %}
                <div class="item">
                  <div class="product-block">
                    <div class="product-image">
                      <a href="{{ item.url }}">
                        <figure class="product-display">
                          {% if item.tags and 'Mới' in item.tags %}
                            <div class="new-label new-top-left">Mới</div>
                          {% endif %}
                          {% if item.price_compare and item.price_compare > item.price %}
                            {% set discount = item.price_compare - item.price %}
                            {% set percent = discount / item.price_compare * 100 %}
                            <div class="sale-label sale-top-right">-{{ percent | round(2, 'floor') }}%</div>
                          {% endif %}
                          <img src="{{ item.image | upload_url }}" class="product-mainpic" alt="{{ item.title }}">
                          <img class="product-secondpic" alt="{{ item.title }}" src="{{ item.image | upload_url }}">
                        </figure>
                      </a>
                    </div>
                    <div class="product-meta">
                      <div class="product-action">
                        <a class="addcart item-product-loop" data-id="{{ item.variants[0].id }}">
                          <i class="icon-shopping-cart">&nbsp;</i>
                          Mua ngay
                        </a>
                        <a class="quickview btn-quickview" data-id="{{ item.id }}">
                          <i class="icon-zoom">&nbsp;</i>Xem nhanh
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title">
                        <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
                      </div>
                      <div class="item-content">
                        <div class="item-price">
                          <div class="price-box">
                            {% if item.price_compare and item.price_compare > item.price %}
                              <p class="old-price">
                                <span class="price-label">Regular Price:</span>
                                <span class="price">{{ item.price_compare | money }}đ</span>
                              </p>
                            {% endif %}
                            <p class="special-price">
                              <span class="price-label">Special Price</span>
                              <span class="price">{{ item.price | money }}đ</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}