<div class="blog-section container padding-bottom">
  <div class="box-title">
      <h2 class="custom-title" style="padding: 0;">{{ settings.homepage_news_title }}</h2>
      <h3 class="custom-title-2">{{ settings.homepage_news_description }}</h3>
  </div>
  {% set homepage_news = settings.homepage_news_articles %}
  {% if homepage_news %}
  <div class="box-blog">
      <div class="item-blog-main">
        {% set homepage_news_first_article = Article(homepage_news[0]) %}
          <div class="item-blog-inline item-blog-ct item-blog">
              <div class="blog-img box-zoom y-box-img">
                  <a href="{{ homepage_news_first_article.url }}">
                      <img src="{{ homepage_news_first_article.image | upload_url }}" alt="{{ homepage_news_first_article.title }}">
                  </a>
              </div>
              <div class="blog-info">
                  <h3 class="blog-title">
                      <a href="{{ homepage_news_first_article.url }}" class="">{{ homepage_news_first_article.title }}</a>
                  </h3>
                  {% if homepage_news_first_article.blogs and homepage_news_first_article.blogs[0] %}
                    <a href="{{ homepage_news_first_article.blogs[0].url }}"><span class="blog-subscription">{{ homepage_news_first_article.blogs[0].title }}</span></a>
                  {% endif %}
                  <div class="blog-date custom-date">
                      <span class="day">{{ homepage_news_first_article.created_at | date('d') }}</span>
                      <span class="month-year">{{ homepage_news_first_article.created_at | date('m-Y') }}</span>
                  </div>
                  <div class="blog-desc">
                      <p>{{ homepage_news_first_article.description }}</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="list-item-blog">
        {% for temp in homepage_news %}
          {% set item = Article(temp) %}
          {% if loop.index0 > 0 and loop.index0 < 5 %}
            <div class="item-blog-inline item-blog-m">
              <div class="blog-img box-zoom y-box-img">
                  <a href="{{ item.url }}">
                      <img src="{{ item.image | upload_url }}" alt="{{ item.title }}">
                  </a>
              </div>
              <div class="blog-info">
                  <div class="blog-date">
                      <span class="day">{{ item.created_at | date('d') }}</span>
                      <span class="month-year">{{ item.created_at | date('m-Y') }}</span>
                  </div>
                  <div class="blog-desc">
                      <a href="{{ item.url }}" class="blog-title-m">{{ item.title }}</a>
                  </div>
                  {% if item.blogs and item.blogs[0] %}
                    <a href="{{ item.blogs[0].url }}"><span class="blog-subscription">{{ item.blogs[0].title }}</span></a>
                  {% endif %}
              </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
  </div>
  {% endif %}
</div>