<div class="section-inner2 padding-bottom">
  <div class="flex-box">
      <div class="flex-item flex-width bg-main box-zoom">
          <div class="bg" style="background-image: url('{{ settings.homepage_category_image_1 | upload_url }}')"></div>
          <img class="visible-xs" src="{{ settings.homepage_category_image_1 | upload_url }}" alt="Banner 1">
      </div>
      <div class="flex-item flex-width flex-item-box">
          <div class="item-box">
              <div class="text-box">
                  <h3>{{ settings.homepage_category_title_1 }}</h3>
                  <p>{{ settings.homepage_category_description_1 }}</p>
                  <a href="{{ settings.homepage_category_link_1 }}" class="btn-viewmore">{{ __('VIEW_MORE') }}</a>
              </div>
              <div class="image-box box-img-flex box-zoom">
                <img src="{{ settings.homepage_category_image_2 | upload_url }}" alt="Banner 2">

              </div>
          </div>
          <div class="item-box">
              <div class="image-box box-img-flex box-zoom">
                <img src="{{ settings.homepage_category_image_3 | upload_url }}" alt="Banner 3">
              </div>
              <div class="text-box">
                <h3>{{ settings.homepage_category_title_2 }}</h3>
                <p>{{ settings.homepage_category_description_2 }}</p>
                  <a href="{{ settings.homepage_category_link_2 }}" class="btn-viewmore">{{ __('VIEW_MORE') }}</a>
              </div>
          </div>
      </div>
  </div>
</div>