<!-- offer banner section -->
<div class="offer-banner-section">
  <div class="container">
    <div class="row">
      <div class="col over-effect col-lg-4 col-xs-12 col-sm-4"><img src="{{ settings.index_banner_sale_1 | upload_url }}"
          alt="offer banner1">
        <div class="mask"> <a href="javascript:void(0);" class="info">Read More</a> </div>
      </div>
      <div class="col over-effect col-lg-4 col-xs-12 col-sm-4"><img src="{{ settings.index_banner_sale_2 | upload_url }}"
          alt="offer banner2">
        <div class="mask"> <a href="javascript:void(0);" class="info">Read More</a> </div>
      </div>
      <div class="col over-effect col-lg-4 col-xs-12 col-sm-4"><img src="{{ settings.index_banner_sale_3 | upload_url }}"
          alt="offer banner3">
        <div class="mask"> <a href="javascript:void(0);" class="info">Read More</a> </div>
      </div>
    </div>
  </div>
</div>

<!-- end offer banner section -->