{% set device_type = deviceType() %}

<div class="padding-bottom">
  <div class="home-slider section-bg js-home-slider owl-carousel">
      {% if device_type == 'desktop' and settings.homepage_video %}
        <div class="item item-custom">
            <div class="item-slider">
                <div class="video-content box-desktop-custom">
                    <video preload="true" autoplay playsinline loop muted id="vid">
                        <source src="/files/{{ settings.homepage_video }}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
      {% endif %}

      {% if device_type != 'desktop' and settings.homepage_slider_mobile %}
        <div class="item item-custom">
            <div class="item-slider">
              <img class="img-mobile box-mobile-custom" src="{{ settings.homepage_slider_mobile | upload_url }}" alt="Banner mobile">
            </div>
        </div>
      {% endif %}

      {% if device_type == 'desktop' %}
        {% set homepage_slider = Gallery('slider-trang-chu') %}
      {% else %}
      {% set homepage_slider = Gallery('slider-trang-chu-mobile') %}
      {% endif %}
      {% for item in homepage_slider.photos %}
        <div class="item item-custom">
          <div class="item-slider" href="{{ item.link }}">
              <img class="img-desktop box-desktop-custom" src="{{ item.image | upload_url }}" alt="{{ item.title }}">
              <img class="img-mobile box-mobile-custom" src="{{ item.image | upload_url }}" alt="{{ item.title }}">
          </div>
        </div>
      {% endfor %}
  </div>
</div>