{% set hot_products = settings.homepage_hot_products %}

{% if hot_products | length %}

<div class="home-slider2 section-bg js-home-slider2 owl-carousel container padding-bottom">

  {% for item in hot_products %}
    {% set product = Product(item) %}
    {% if product %}
      <div class="item">
        <a class="item-slider" href="{{ product.url }}">
          <div class="info">
            <div class="title-section">
              <h2>{{ product.title }}</h2>
              <p>{{ __('OUTSTANDING_MOTORBIKE') }}</p>
            </div>
            <div class="text">{{ product.description }}</div>
          </div>
          <div class="image">
            <img src="{{ product.variants[0].images[0].name | upload_url }}" alt="{{ product.title }}">
          </div>
          <div class="details">
            {% set thongsocoban = product.thongsocoban %}
            <div class="item">
              <div class="index"><span>{{ thongsocoban['Chiều dài'] }}</span> </div>
              <p>{{ __('LENGTH') }}</p>
            </div>
            <div class="item">
              <div class="index"><span>{{ thongsocoban['Chiều rộng'] }}</span> </div>
              <p>{{ __('WIDTH') }}</p>
            </div>
            <div class="item">
              <div class="index"><span>{{ thongsocoban['Chiều cao yên'] }}</span> </div>
              <p>{{ __('SEAT_HEIGHT') }}</p>
            </div>
            <div class="item">
              <div class="index"><span>{{ thongsocoban['Trọng lượng'] }}</span> </div>
              <p>{{ __('WEIGHT') }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}

</div>
{% endif %}