<div id="mobile-menu">
  <ul>
    <li>
      <div class="mm-search">
        <form id="search" name="search">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
            </div>
            <input type="text" class="form-control simple" placeholder="Tìm kiếm ..." name="search" id="search">
          </div>
        </form>
      </div>
    </li>
    {% set menu_chinh = Menu('menu-chinh') %}
    {% for item in menu_chinh.children %}
      {% if loop.index0 == 0 %}
        <li>
          <div class="home">
            <a href="/" >
              <i class="icon-home"></i>
              Trang chủ</a>
            </div>
        </li>
      {% else %}
        <li>
          <a href="{{ item.link }}">{{ item.title }}</a>
          {% if item.children %}
            <ul>
              {% for child in item.children %}
                <li><a href="{{ child.link }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>