<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Xem nhanh sản phẩm</h4>
  </div>
  <div class="modal-body">
    <div class="product-view">
      <div class="product-essential">
        <div class="product-img-box col-lg-5 col-sm-6 col-md-5 col-xs-12">
          {% if product.tags %}
            <div class="new-label new-top-left">{{ product.tags[0] }}</div>
          {% endif %}
          <div class="product-image">
            <div class="large-image">
              <a href="{{ product.url }}" class="cloud-zoom" id="zoom1">
                <img src="{{ product.image | upload_url }}" alt="{{ product.title }}">
              </a>
            </div>
          </div>
        </div>
        <div class="product-shop col-lg-7 col-sm-6 col-md-7 col-xs-12">
          <div class="product-name">
            <h1>{{ product.title }}</h1>
          </div>
          {% if product.stock_quant %}
            <p class="availability in-stock"><span>Còn hàng</span></p>
          {% endif %}
          <div class="price-block">
            <div class="price-box">
              {% if product.price_compare > product.price %}
                <p class="old-price">
                  <span class="price-label">Giá gốc:</span>
                  <span id="old-price-48" class="price">{{ product.price_compare | money }}đ</span>
                </p>
              {% endif %}
              <p class="special-price">
                <span class="price-label">Giá mới</span>
                <span id="product-price-48" class="price">{{ product.price | money }}đ</span>
              </p>
            </div>
          </div>
          {% if product.description %}
            <div class="short-description">
              <h2>Mô tả</h2>
              <p>{{ product.description }}</p>
            </div>
          {% endif %}
          <div class="add-to-box">
            <div class="add-to-cart">
              <label for="qty">Số lượng:</label>
              <div class="pull-left">
                <div class="custom pull-left">
                  <button class="reduced items-count" type="button">
                    <i class="icon-minus">&nbsp;</i>
                  </button>
                  <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" name="qty">
                  <button class="increase items-count" type="button">
                    <i class="icon-plus">&nbsp;</i>
                  </button>
                </div>
              </div>
              <div class="pull-left">
                <button class="button btn-cart btn-muangay-modal-quickview" data-id="{{ product.variants[0].id }}" title="Thêm vào giỏ hàng" type="button">
                  <span>
                    <i class="icon-basket"></i>
                    Mua ngay
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>