<!-- Navbar -->
<nav>
  <div class="header container">
    <div class="row">
      <div class="col-xs-12">
        <div class="mm-toggle-wrap">
          <div class="mm-toggle">
            <i class="icon-align-justify"></i>
            <span class="mm-label">Menu</span>
          </div>
        </div>
        <!-- Header Logo -->
        <a class="logo box-img-flex" title="{{ settings.company_name }}" href="/">
          <img alt="Magento Commerce" src="{{ settings.logo | upload_url }}"></a>
        <!-- End Header Logo -->
        <div class="nav-inner">
          <ul id="nav">
            {% set menu_chinh = Menu('menu-chinh') %}
            {% for item in menu_chinh.children %}
              {% if item.handle == 'san-pham' %}
                <li class="level0 nav-6 level-top parent">
                  <a href="/tat-ca-san-pham" class="level-top"> <span>Sản phẩm</span> </a>
                  <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
                    <div class="level0-wrapper2">
                      <div class="nav-block nav-block-center">
                        <ul class="level0">
                          {% for child in item.children %}
                            <li class="level1 nav-6-1 parent item">
                              <a href="{{ child.link }}"><span>{{ child.title }}</span></a>
                              {% set subs = child.children %}
                              {% if subs and subs | length %}
                                <ul class="level1">
                                  {% for sub in subs %}
                                    <li class="level2 nav-6-1-1">
                                      <a href="{{ sub.link }}"><span>{{ sub.title }}</span></a>
                                      {% if sub.children %}
                                        <ul class="level3">
                                          {% for temp in sub.children %}
                                            <li class="level3 nav-6-1-1-1">
                                            <a href="{{ temp.link }}">
                                              <span>{{ temp.title }}</span>
                                            </a>
                                            </li>
                                          {% endfor %}
                                      </ul>
                                      {% endif %}
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              {% elseif item.children | length %}
                <li class="hidden-sm nav-custom-link level0 level-top parent">
                  <a class="level-top" href="{{ item.link }}"><span>{{ item.title }}</span></a>
                  <div class="level0-wrapper custom-menu" style="left: 0px; display: none;">
                    <div class="header-nav-dropdown-wrapper clearer">
                      {% for child in item.children %}
                        {% if child.link_type == 'product' %}
                          {% set product = Product(child.post_handle) %}
                          <div class="nav-block nav-block-right grid12-5">
                            <div class="cat_pr_info">
                              <div class="cat_img"><img alt="Sample Product" src="{{ product.image | upload_url }}"></div>
                              <div class="products-info">
                                <div class="pr-title">{{ product.title }}</div>
                                <div class="price-box">
                                  {% if product.price_compare %}
                                    <p class="old-price"> <span class="price-label">Giá cũ:</span> <span class="price">{{ product.price_compare | money }}</span></p>
                                    <p class="special-price"> <span class="price-label">Giá mới</span> <span class="price">{{ product.price | money }}</span></p>
                                  {% else %}
                                    <p class="special-price"> <span class="price-label">Giá</span><span class="price">{{ product.price | money }}</span></p>
                                  {% endif %}
                                </div>
                                <div class="push_text">{{ product.description }}</div>
                                <div class="cat-bnt">
                                  <a href="{{ product.url }}" title="MUA NGAY" class="button btn-cart">
                                    <span>MUA NGAY</span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </li>
              {% else %}
                <li class="level0 parent drop-menu">
                  <a href="{{ item.link }}" {% if currentUrl() == item.link %} class="active" {% endif %}>
                    <span>{{ item.title }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- end nav -->