{% set seo = Seo() %}
<!-- Primary Meta Tags -->
<meta name="title" content="{{ seo.meta_title }}">
<meta name="description" content="{{ seo.meta_description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ currentUrl() }}">
<meta property="og:title" content="{{ seo.meta_title }}">
<meta property="og:description" content="{{ seo.meta_description }}">
<meta property="og:image" content="{{ seo.meta_image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ currentUrl() }}">
<meta property="twitter:title" content="{{ seo.meta_title }}">
<meta property="twitter:description" content="{{ seo.meta_description }}">
<meta property="twitter:image" content="{{ seo.meta_description }}">

<meta name="robots" content="{{ seo.meta_robots }}" />

{% if settings.facebook_pixel %} {{ settings.facebook_pixel | raw }} {% endif %}
{% if settings.google_analytics %} {{ settings.google_analytics | raw }} {% endif %}
{% if settings.gtm %} {{ settings.gtm | raw }} {% endif %}