<aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">
  <div class="side-nav-categories">
    <div class="block-title"> Danh mục </div>
    <!--block-title-->
    <!-- BEGIN BOX-CATEGORY -->
    <div class="box-content box-category">
      <ul>
        {% set menu_sidebar = Menu('menu-nhom-san-pham') %}
        {% for item in menu_sidebar.children %}
        <li class="{{ loop.index == menu_sidebar.children | length ? 'last' : '' }}">
          <a class="active" href="{{ item.link }}">{{ item.title }}</a>
          {% if item.children and item.children | length %}
          <span class="subDropdown plus"></span>
          <ul class="level0_415">
            {% for child in item.children %}
            <li>
              <a href="{{ child.link }}">{{ child.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <!--box-content box-category-->
  </div>
  <div class="block block-layered-nav">
    <div class="block-title"><span>BỘ LỌC TÌM KIẾM</span></div>
    <div class="block-content">
      <dl id="narrow-by-list">
        <dt class="odd">Giá</dt>
        <dd class="odd">
          <ol>
            <li class="filter-price" data-value="0-200000"><a>Dưới <span class="price">200.000đ</span></a></li>
            <li class="filter-price" data-value="200000-500000"><a>Từ 200.000đ - 500.000đ</a></li>
            <li class="filter-price" data-value="500000-1000000"><a>Từ 500.000đ - 1.000.000đ</a></li>
            <li class="filter-price" data-value="1000000-1500000"><a>Từ 1.000.000đ - 1.500.000đ</a></li>
            <li class="filter-price" data-value="1500000-2000000"><a>Từ 1.500.000đ - 2.000.000đ</a></li>
            <li class="filter-price" data-value="2000000-99999999"><a>Trên <span class="price">2.000.000đ</span></a></li>
          </ol>
        </dd>
        <dt class="even">Nhà sản xuất</dt>
        <dd class="even">
          <ol>
            {% set attribute = getAttributeByID(7) %}
            {% for item in attribute.children %}
              <li class="filter-option" data-value="{{ item.name }}"><a>{{ item.name }}</a></li>
            {% endfor %}
          </ol>
        </dd>
      </dl>
    </div>
  </div>
  {% if collection.handle == 'all' %}
    <div class="block block-tags">
      <div class="block-title"><span>Từ khóa phổ biến</span></div>
      <div class="block-content">
        <ul class="tags-list">
          {% for tag in allTag() %}
            <li class="filter-tag" data-value="{{ tag.name }}"><a style="font-size:{{ random([120, 150, 180, 200, 250]) }}%;">{{ tag.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% else %}
    {% if collection.product_tags | length %}
      <div class="block block-tags">
        <div class="block-title"><span>Từ khóa phổ biến</span></div>
        <div class="block-content">
          <ul class="tags-list">
            {% for tag in collection.product_tags %}
              <li class="filter-tag" data-value="{{ tag }}"><a style="font-size:{{ random([120, 150, 180, 200, 250]) }}%;">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if settings.collection_ad_image %}
    <div class="block block-banner">
      <a href="{{ settings.collection_ad_link }}" title="{{ settings.collection_ad_title }}">
        <img src="{{ settings.collection_ad_image | upload_url }}" alt="{{ settings.collection_ad_title }}">
      </a>
    </div>
  {% endif %}
</aside>