extends ./../layout.pug

block pre-include
  title Danh sách đơn hàng
  - var menu = 'order';
  - var childMenu = menu_child;
block post-include
  script(src=staticURI() + '/libs/numeral.min.js')
  script(src=staticURI() + '/js/admin/order.js')
  script.
    initDataTable('table');
    var modelName = 'order';
block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li.hidden-xs
        a(href='/admin/order') Đơn hàng
      li.title-ellipsis
        a Danh sách đơn hàng
  section.content
    .box.box-table
      .box-header
        h3.box-title Danh sách
      .box-body
        table.table.table-condensed.table-bordered.table-striped.display(cellspacing="0" width="100%")
          .action-box.hidden
            .dropdown
              button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                i.fa.fa-share
                |  Chọn thao tác (đang chọn
                span.num-select
                |  đơn hàng) &ensp;
                span.caret
              ul.dropdown-menu
                li
                  a.status-order(data-value='new') Mới
                li
                  a.status-order(data-value='confirm') Đã xác nhận
                li
                  a.status-order(data-value='done') Hoàn tất
                li
                  a.status-order(data-value='cancel') Bị hủy
                if role_id < 2
                  li
                    a.status-order(data-value='delete') Xóa
          thead
            tr
              th.text-center
                input.select-all(type="checkbox")
              th STT
              th Trạng thái
              th Tên
              th Số điện thoại
              th Tỉnh/TP
              th Quận/huyện
              th Tên sản phẩm
              th Giá
              th Màu sắc
              th Size
              th Link sản phẩm
              th Ngày đặt hàng
              th Ngày cập nhật
              th UTM Source
              th UTM Medium
              th UTM Campaign
          tbody
            each item in data
              tr
                td.text-center
                  input.checkboxes(type="checkbox" value=item.id)
                td
                  a(href="/admin/order/" + item.id target="_blank") #
                    =item.id
                td.status
                  case item.order_status
                    when 'new'
                      label.label.label-info Mới
                    when 'confirm'
                      label.label.label-primary Xác nhận
                    when 'done'
                      label.label.label-success Hoàn thành
                    when 'cancel'
                      label.label.label-danger Hủy
                    when 'return'
                      label.label.label-danger Hoàn trả
                td=item.shipping_name
                td=item.shipping_phone
                td=item.region_name
                td=item.subregion_name
                td=item.product_title
                td=money(item.total) + ' đ'
                td=item.variant_option_1
                td=item.variant_option_2
                td=item.product_url
                td=item.created_at
                td=item.updated_at
                td=item.utm_source
                td=item.utm_medium
                td=item.utm_campaign
  style.
    table td {
      word-wrap: break-word;
      max-width: 400px;
    }