doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title Order confirm
    link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,600,600i,700,700i&subset=vietnamese', rel='stylesheet')
    style(media='screen').
      body{
      font-family: 'Muli', sans-serif;
      margin: 0;
      padding: 0;
      }
      table {
      border-collapse: collapse;
      }
      td,
      th {
      padding: 5px;
      }
      .table-responsive{
      max-width: 100%;
      overflow-x: auto;
      }
      a[href]:after { content: none !important; }
      
      @page { size: auto;  margin: 0mm; }
  body
    .content-box(style='max-width: 800px; width: 100%; margin: auto;')
      header(style='padding: 0 15px;')
        .greet(style='border-bottom: 1px solid #000')
          p(style='margin-bottom: 20px;')
            | Order 
            span ##{order.id}
            |  của bạn đã được xác nhận!
          h2.logo(style='text-align: center; margin-bottom: 20px;')
            a(href='index.html')
              -var logo = getMeta('home_logo');
              img(src='/uploads/'+ logo, alt="logo")
          -var shop_name = getMeta('shop_name');
          p(style='text-align: center')
            | Hi 
            span=customer.name
            | ! - Cảm ơn đã đồng hành cùng #{shop_name}
      .content(style='padding: 0 15px;')
        .customer-info(style='border-bottom: 1px solid #000; padding-bottom: 20px; margin-bottom: 20px;')
          p(style='text-transform: uppercase; margin: 20px 0 12px; font-weight: 700;') Người nhận và giao hàng
          -var policy = getMeta('shipping_policy');
          if policy
            p(style='margin: 0 0 10px')!=policy
          p(style='margin: 0 0 10px')
            | Họ tên: 
            span=customer.name
          p(style='margin: 0 0 10px')
            | Số điện thoại: 
            span=shipping_info.phone
          p(style='margin: 0 0 10px')
            | Địa chỉ: 
            span
              =shipping_info.address
              if shipping_info.subregion
                | ,
                span=subregionName(shipping_info.subregion)
                if shipping_info.region
                  | , 
                  span=regionName(shipping_info.region)
          //- if shipping_info.region
          //-   p(style='margin: 0 0 10px')
          //-     | Thành phố: 
          //-     span=regionName(shipping_info.region)
        .order-info
          p(style='margin: 0 0 12px; font-weight: 700; font-size: 18px') Thông tin đơn hàng
          p(style='margin: 0 0 10px')
            | Mã đơn hàng: 
            span ##{order.id}
          p(style='margin: 0 0 10px')
            | Ngày và giờ đặt hàng: 
            span=order.created_at
          .table-responsive(style='margin-bottom: 30px;')
            table(style='width: 100%; max-width: 100%')
              thead(style='border-bottom: 1px dotted #808080; height: 20px;')
                tr
                  th(style='text-align: left; padding: 0;')
                    p(style='margin: 10px 0 0') Tên sản phẩm
                  th(style='text-align: right; padding: 0;')
                    p VND
              tbody(style='border-bottom: 1px dotted #808080;')
                each item in cart
                  tr
                    td(style='text-align: left; max-width: 300px; width: 100%; padding: 0;')
                      p(style='margin: 10px 0')
                        a(href='product-detail.html', style='')=item.title
                      p(style='margin: 5px 10px 5px 0; display: inline-block;')
                        | Số lượng: 
                        span=item.quantity
                      p(style='margin: 0; display: inline-block;')
                        | Mã sản phẩm: 
                        span ##{item.id}
                    td(style='text-align: right; vertical-align: top; padding: 0;')
                      p(style='margin: 10px 0')=money(item.price)
                        | đ                        
                tr
                  td(colspan='2')
          .total-price(style='text-align: right; margin-bottom: 40px;')
            p(style='margin: 0 0 10px')
              | Tổng thành tiền: 
              span=money(order.subtotal)
              | đ
            p(style='margin: 0 0 10px')
              | Shipping: 
              span=money(order.shipping_price)
              | đ
            if (order.discount_point)
              p(style='margin: 0 0 10px')
                | Giảm giá: 
                span=money(order.discount_point)
                | đ
            // Hiện lên khi có xài mã promo
            p(style='margin: 0 0 10px; font-weight: 700; font-size: 18px')
              span Tổng: 
              span=money(order.total)
              | đ
            p(style='margin: 0 0 10px')
              span Phương thức thanh toán: 
              span=order.payment_method
      footer(style='padding: 0 15px;')
        p
          | Nếu bạn có bất kỳ thắc mắc nào cần giải đáp về đơn hàng hoặc giao hàng, xin liên hệ qua email: 
          a(href='mailto:')=getmeta('email')
          |  hoặc gọi đến hotline 
          a(href='tel:')=getmeta('footer_hotline')
          |  để được tư vấn và giải đáp nhé!
