extends ./../layout.pug
block pre-include
  - var menu = 'coupon'
  - var childMenu = 'sale'
  title=data.title

block post-include
  script(src=staticURI() + '/js/admin/sale.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li.hidden-xs
        a(href='/admin/sale') Chương trình khuyến mãi
      li.title-ellipsis
        a=subStrNumChar(data.title, 60)

    ol.button-right.col-md-4.col-sm-5.col-xs-12
      if role_id < 2
        li
          a.btn.btn-admin.btn-delete-object(data-id=data.id,data-type='sale')
            i.fa.fa-trash-o
            i.fa.fa-circle-o-notch.fa-spin
            | Xóa
      li
        a.btn.btn-admin.btn-create-update(data-id=data.id)
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại

  section.content
    .row
      .col-xs-12.col-sm-12.col-md-8
        .box
          .form-horizontal
            .box-title.clearfix
              .pull-left.title-tab THÔNG TIN
            .box-body
              .tab-content
                #tab-vi.tab-pane.fade.in.active
                  .form-group
                    .col-sm-2.control-label Tiêu đề
                      strong.required  *
                    .col-sm-10
                      input.form-control(name="title", placeholder="Tiêu đề", value=data.title)
                  .form-group
                    .col-sm-2.control-label Mô tả
                    .col-sm-10
                      textarea.form-control(name='description')#description=data.description
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-6.product.title DANH SÁCH SẢN PHẨM
            .box-body
              .form-group
                .col-sm-12
                  p.pull-left Áp dụng cho: 
                  .col-xs-8.col-sm-6
                    select.chosen-type.form-control(name='type_relation' data-value=data.type_relation)
                      option(value='product') Sản phẩm
                      option(value='collection') Nhóm sản phẩm
              .form-group
                .col-sm-12
                  .list-product.clearfix
                    .list-product-content
                      each saleProduct in saleProducts
                        .row
                          .col-xs-9
                            select.form-control.chosen-select-product(data-placeholder="Mời chọn sản phẩm...")
                              option(value=0) Mời chọn sản phẩm...
                              each item in products
                                if (saleProduct.type_id == item.id)
                                  option(value=item.id selected)=item.title
                                else
                                  option(value=item.id)=item.title
                          .col-xs-3
                            button.hidden-xs.btn.btn-danger.btn-remove-product Xóa &ensp;
                              i.fa.fa-close
                            button.visible-xs.btn.btn-danger.btn-remove-product
                              i.fa.fa-close
                    .row
                      .col-xs-9
                        input(type="text" data-role="tagsinput", name="tags")
                        p(style="margin-top: 10px;") Thêm sản phẩm đã được gắn tag
                        .list-tags
                          each item in tags
                            span.tag-name(data-id=item.id)=item.name
                      .col-xs-3
                        button.hidden-xs.btn.btn-primary.btn-add-product Thêm &ensp;
                          i.fa.fa-plus
                        button.visible-xs.btn.btn-primary.btn-add-product 
                          i.fa.fa-plus
      .col-xs-12.col-sm-12.col-md-4
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title THỂ LOẠI & GIÁ TRỊ
            .box-body
              .col-xs-12
                .form-group
                  .text-title Thể loại
                    strong.required *
                  select.form-control(name="type", data-value=data.type)
                    option(value="value") Giảm theo đơn giá
                    option(value="percent") Giảm theo phần trăm
                .form-group
                  .text-title Giá trị
                    strong.required *
                  input.form-control(type="number", name="value" placeholder="Giá trị", value=data.value onkeypress="inputPositiveNumbers( event )")
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title THỜI GIAN
            .box-body
              .col-sm-12
                .form-group
                  .text-title Ngày bắt đầu
                  input.form-control.start-date(name='start_date', placeholder="dd-mm-yyyy", value=ymd2dmy(data.start_date))
                .form-group
                  .text-title Ngày kết thúc
                  input.form-control.end-date(name='end_date', placeholder="dd-mm-yyyy", value=ymd2dmy(data.end_date))
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title TRẠNG THÁI
            .box-body
                select.form-control(name="status", data-value=data.status)
                  option(value="active") Hiển thị
                  option(value="inactive") Ẩn
