extends ./../layout.pug

block pre-include
  - var menu = 'coupon';
  - var childMenu = 'coupon';
  title Mã giảm giá
  
block post-include
  script(src=staticURI() + '/js/admin/coupon.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li.hidden-xs
        a(href='/admin/coupon') Mã giảm giá
      li.title-ellipsis
        a Danh sách
    ol.button-right.col-md-4.col-sm-5.col-xs-12
      li
        a.btn.btn-admin(href="/admin/coupon/create") Tạo mã giảm giá
  section.content.clearfix
    .box.box-table
      .row.box-header
        h3.box-title DANH SÁCH
      .box-body
        table.table.table-condensed.table-bordered.table-striped.display.nowrap(cellspacing="0" width="100%")
          .action-box.hidden
            .dropdown
              button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                i.fa.fa-share
                |  Chọn thao tác (đang chọn
                span.num-select
                |  mã giảm giá) &ensp;
                span.caret
              ul.dropdown-menu
                li
                  a.status-active(data-value='active') Ẩn
                li
                  a.status-inactive(data-value='inactive') Hiện
                if (checkRemovePug('coupon'))
                  li
                    a.status-delete(data-value='delete') Xóa
          thead
            tr
              th.all.text-center
                input.select-all(type="checkbox")
              th Mã
              th Tên
              th Mã code
              th Sản phẩm áp dụng
              th Giá trị
              th Ngày hết hạn
              th Trạng thái
          tbody
            each item in coupon
              tr
                td.all.text-center
                  input.checkboxes(type="checkbox" value=item.id)
                td
                  a(href="/admin/coupon/" + item.id, target="_blank") #
                    =item.id
                td
                  a(href="/admin/coupon/" + item.id, target="_blank")=item.title
                td=item.code
                td=item.product_id
                td
                  case item.type
                    when 'value'
                      =money(item.value)
                    when 'percent'
                      =item.value + '%'
                td=ymd2dmy(item.end_date)
                td
                  case item.status
                    when 'active'
                      label.label.label-info Đang hiện
                    when 'inactive'
                      label.label.label-warning Đang ẩn
                    when 'expried'
                      label.label.label-danger Đã hết hạn
