{% extends "layout.twig" %}
{% block pre_include %}
<title>Giỏ hàng</title>
{% endblock pre_include %}

{% block post_include %}
<style>
  @media screen and (max-width: 767px) {
    .bar-info {
      margin-top: 0 !important;
    }

    .bar-cart .site-cart {
      padding: 10px 0;
    }

    .order-step input {
      border: 1px solid #ccc;
      width: initial;
    }

    .site-cart__money h4 {
      font-size: 14px;
    }
  }

  table > th, table > td {
    border-color: #c2c2c2 !important;
  }

  table > th {
    border-bottom: 0 !important;
  }

  table img {
    max-width: 100px;
  }

  table td {
    vertical-align: middle;
  }

  .title-default {
    margin-top: 30px;
  }

  .bar-cart {
    padding: 0 !important;
  }

  .remove-item {
    color: red;
  }

  .price-sum {
    font-size: 20px;
  }

</style>
{% endblock %}

{% block content %}
<section class="cart-content p-t60 order-step section-cart">

  <div class="container">

    {% if cart.items | length > 0 %}
    <h3 class="title-default">Giỏ hàng</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="bar-cart">
          {% if deviceType() == 'desktop' %}
            <table class="table table-bordered site-cart">
              <tr class="d-flex">
                <th class="text-center col-sm-2 col-2">Hình ảnh</th>
                <th class="text-center col-sm-4 col-4">Tiêu đề</th>
                <th class="text-center col-sm-3 col-3">Số lượng</th>
                <th class="text-center col-sm-3 col-3">Đơn giá</th>
              </tr>
              {% for item in cart.items %}
              <tr id="{{loop.index}}" class="d-flex site-cart">
                <td class="col-sm-2 col-2">
                  <div class="site-cart__img text-center">
                    <img src="{{ item.image | upload_url | resize(480)}}">
                  </div>
                </td>
                <td class="col-sm-4 col-4">
                  <div class="site-cart__descript">
                    <p>
                      <a class="title" href="{{item.url}}">{{ item.product_title }}</a>
                    </p>
                    <a class="remove-item" data-id="{{ item.variant_id }}">Xóa</a>
                  </div>
                </td>
                <td class="col-sm-3 col-3 text-center">
                  <input name="quantity" type="number" value="{{ item.quantity }}" min="1" max="9999" data-id="{{ item.variant_id }}">
                </td>
                <td class="col-sm-3 col-3 text-center">
                  <h4 class="current">{{ item.price | money }}đ</h4>
                </td>
              </tr>
              {% endfor %}
            </table>
          {% else %}
            {% for item in cart.items %}
              <div class="site-cart clearfix" id="{{loop.index}}">
                <div class="col-xs-2">
                  <div class="site-cart__img">
                    <img src="{{(item.image | upload_url) | resize(480)}}" alt="item">
                  </div>
                </div>
                <div class="col-xs-10" style="padding-left: 0;">
                  <div class="site-cart__price clearfix">
                    <div class="col-md-8 col-xs-8">
                      <div class="site-cart__descript">
                        <p>
                          <a class="title" href="{{ item.url }}">{{ item.product_title }}</a>
                        </p>
                        <p>{{item.variant_title}}</p>
                        <a class="remove-item" data-id="{{ item.variant_id }}">
                          Xóa
                        </a>
                      </div>
                    </div>
                    <div class="col-md-4 col-xs-4" style="padding: 0;">
                      <div class="site-cart__money text-right">
                        <h4 class="current">{{ item.price | money }}đ</h4>
                        <p class="text-quanti">Số lượng:</p>
                        <input name="quantity" class="input-quanti" type="number" value="{{item.quantity}}" min="1" max="9999" data-id="{{item.variant_id}}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-offset-8 offset-md-8 col-lg-4 col-md-4 col-xs-12">
        <div class="bar-info">
          <p class="price-sum">
            <b>Tổng cộng<span class="total-sum pull-right">{{ cart.total | money }}đ</span></b>
          </p>
          <div class="site-btn">
            <a class="y-btn-main y-d-block" href="/dat-hang">Xác nhận đơn hàng</a>
          </div>
        </div>

      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-xs-12 cart-null text-center" style="margin: 20px 0;">
        <p class="noti" style="margin: 20px 0; font-size: 16px;">Không có sản phẩm trong giỏ hàng</p>
        <div class="box-btn-buy">
          <a class="y-btn-main" href="/">Tiếp tục mua hàng</a>
        </div>
      </div>
    </div>
    {% endif %}

</section>

{% endblock content %}
