{% extends "layout.twig" %}
{% block pre_include %}
<title>Thanh toán</title>
{% endblock pre_include %}

{% block post_include %}
<script>
  var shipping_price = 0;
  var coupon_discount = 0;
  var coupon = '';
  var sub_total = "{{ cart.total }}" - 0;

  var _region = $('select[name="region"]').data('value');
  if (_region) {
    $('select[name="region"]').val(_region);
    $('select[name="region"]').change();
  }

  $('.y-form-coupon').submit(function(e) {
    e.preventDefault();
    coupon = $(this).find('input[name="coupon"]').val();
    AT.checkCoupon(coupon, sub_total, function(res) {
      if (!res.code) {
        coupon_discount = res.discount;
        calcFinalPrice();
      } else {
        return Swal.fire('Lỗi', res.message, 'error');
      }
    });
  });

  function getShippingFee() {
    var region_id = $('select[name="region"]').val();
    var subregion_id = $('select[name="subregion"]').val();
    var total = $('input[name="subtotal"]').val();
    AT.getShippingFee(region_id, subregion_id, total, function(res) {
      if (!res.code && res.data && res.data.length) {
        shipping_price = res.data[0].price;
        calcFinalPrice();
      } else {
        shipping_price = 0;
      }
    });
  }

  $('select[name="region"]').change(function() {
    var region_id = $(this).val();
    var subregion = $('select[name="subregion"]').data('value');
    AT.getSubRegion(region_id, function(res) {
      var options = '';
      res.data.forEach(function(item) {
        options += '<option value="' + item.id + '">' + item.name + '</option>';
      });
      $('select[name="subregion"]').html(options);
      if (subregion) {
        $('select[name="subregion"]').val(subregion);
      }
      getShippingFee();
    });
  });

  $('select[name="subregion"]').change(getShippingFee);

  function calcFinalPrice() {
    var total = sub_total + shipping_price - coupon_discount;
    $('.main-shipping-fee').html(AT.money(shipping_price));
    $('.coupon_discount').html(AT.money(coupon_discount));
    $('.total-sum').html(AT.money(total));
  }

  $('.btn-checkout').click(function() {
    var data = {};
    data.name = $('input[name="name"]').val();
    data.phone = $('input[name="phone"]').val();
    data.email = $('input[name="email"]').val();
    data.address = $('input[name="address"]').val();
    data.region = $('select[name="region"]').val();
    data.subregion = $('select[name="subregion"]').val();
    data.shipping_price = shipping_price;
    data.coupon_discount = coupon_discount;
    data.coupon = coupon;
    data.notes = '';

    if (!data.name) {
      return Swal.fire('Lỗi', 'Chưa nhập họ tên', 'error');
    }

    if (!data.phone) {
      return Swal.fire('Lỗi', 'Chưa nhập số điện thoại', 'error');
    }

    if (!AT.isPhone(data.phone)) {
      return Swal.fire('Lỗi', 'Số điện thoại không đúng', 'error');
    }

    if (!data.email) {
      return Swal.fire('Lỗi', 'Chưa nhập email', 'error');
    }

    if (!data.email.match("[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$")) {
      return Swal.fire('Lỗi', 'Chưa nhập email', 'error');
    }

    if (!data.address) {
      return Swal.fire('Lỗi', 'Chưa nhập địa chỉ', 'error');
    }

    if (!data.region) {
      return Swal.fire('Lỗi', 'Chưa chọn tỉnh/thành phố', 'error');
    }

    AT.checkout(data, function(res) {
      if (!res.code) {
        location.href = '/dat-hang-thanh-cong';
      }
    });

  });
</script>

{% endblock %}

{% block content %}
<div class="y-header-checkout">
  <div class="container y-box-1400 ">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12 y-order-logo">
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="y-order-process">
          <div class="y-line-process">
            <div class="line-item active"></div>
            <div class="line-item"></div>
          </div>
          <div class="y-dot-process">
            <div class="dot-item ">1</div>
            <div class="dot-item active">2</div>
            <div class="dot-item">3</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 y-text-right-d y-order-header-phone">
      </div>
    </div>
  </div>
</div>
<div class="yosu-page yosu-cart-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <h5 class="y-title-default yosu-color">Thông tin giao hàng</h5>
        <div class="y-info-checkout">
          <form action="" class="y-form-style-1">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="y-input">
                  <input type="text" name="name" placeholder="Họ tên" value="{{ customer.name }}">
                </div>
                <div class="y-input">
                  <input type="number" name="phone" placeholder="{{ __('PHONE') }}" value="{{ customer.phone }}">
                </div>
                <div class="y-input">
                  <input type="text" name="email" placeholder="Email" value="{{ customer.email }}">
                </div>
              </div>
              <div class="col-sm-6 col-xs-12">
                <div class="y-input">
                  <input type="text" name="address" placeholder="Địa chỉ" value="{{ customer.company_address }}">
                </div>
                <div class="y-input">
                  <select name="region" data-value="{{ customer.region }}">
                    <option value="" selected disabled>Chọn Tỉnh/Thành phố</option>
                    {% set region = Region() %}
                    {% for item in region %}
                      <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="y-input">
                  <select name="subregion" data-value="{{ customer.subregion }}">
                    <option value="" selected disabled>Chọn Quận/Huyện</option>
                  </select>
                </div>

              </div>

            </div>
          </form>
        </div>

        <h5 class="y-title-default yosu-color">Đơn hàng của bạn</h5>
        {% for item in cart.items %}
          <div class="y-item-cart">
            <div class="y-left col-sm-2 yosu-col-xs-4">
              <a href="#" class="y-img-prod box-img-flex">
                <img src="{{ item.image | upload_url }}">
              </a>
            </div>
            <div class="y-right col-sm-10 yosu-col-xs-8 ">
              <div class="y-info-prod">
                <p><a class="prod-name hover-color">{{ item.product_title }}</a></p>
              </div>
              <div class="y-info-price y-text-right-d">
                <p>Số lượng: <input class="input-quanti text-center" type="number" value="{{ item.quantity }}" min="1" max="9999"></p>
                <p class="y-price-curr">{{ (item.price * item.quantity) | money }}đ</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="slidebar-info-cart border-color-y1 p-20">
          <h4 class="y-title">Thông tin đơn hàng</h4>
          <input type="hidden" name="subtotal" value="{{ cart.total }}">
          <p class="y-box-price price-pre">Tạm tính (<rt>{{ cart.total_items }}</rt> sản phẩm)<span class="y-float-right"><b
                class="pre_total">{{ cart.total | money }}đ</b>
            </span></p>
          <p class="y-box-price price-active">Phí giao hàng:<span class="y-float-right main-shipping-fee">0đ</span></p>
          <p class="y-box-price price-coupon">Mã giảm giá:
            <span class="coupon_discount y-float-right">0đ</span>
          </p>
          <form class="y-form-coupon clearfix">
            <input name="coupon" type="text" placeholder="Nhập mã giảm giá" required>
            <button type="submit" class="y-btn-main bnt-coupon">Áp dụng</button>
          </form>
          <p class="y-box-price price-sum yosu-color-red">
            <b>Tổng cộng<span class="total-sum y-float-right">{{ cart.total | money }}đ</span></b>
          </p>
          <div class="site-btn">
            <a class="y-btn-main y-d-block btn-checkout">
              Xác nhận đơn hàng
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}