{% extends "layout.twig" %}

{% block pre_include %}
<title>{{ __('ORDER_SUCCESS') }}</title>
{% endblock pre_include %}

{% block post_include %}
<script>

var order_id = "{{ order_id }}";
$.get('/api/order/' + order_id + '/sendEmailAdmin', function(res) {
  console.log(res);
});

</script>

{% endblock %}

{% block content %}

<div class="main-content">
  <div class="success-section padding-section">
      <div class="y-text-editor container">
          <div class="icon-success"><i class="fas fa-check-circle"></i></div>

          {% set content = settings.order_product_success %}
          {% set content = content | replace({ '{{name}}': order.customer.name, '{{product_title}}': order.cart[0].title }) %}
          {{ content | raw }}

      </div>
  </div>
</div>

{% endblock content %}