extends ./../layout.pug

block pre-include
  - var menu = 'contact';
  - var childMenu = data.type
  title Chi tiết liên hệ
  link(rel="stylesheet" href=staticURI() + "/libs/jquery-ui.min.css")

block post-include
  script(src=staticURI() + '/js/admin/contact.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li
        a(href="/admin/contact") Liên hệ
      li
        a Chi tiết liên hệ
  section.content.clearfix
    .box.box-table
      .box-body
        .pull-left
          p
            b Trạng thái: 
            if data.reply == 1
              label.label.label-success Đã xác nhận
            else
              label.label.label-warning Chưa xác nhận
          if data.type == 'promotion'
            p
              b Phản hồi: 
              if data.cr_status == 1
                label.label.label-success Đã phản hồi
              else
                label.label.label-warning Chưa phản hồi
          p
            b Thời gian: 
            =data.created_at
          if data.name
            p
              b Họ tên: 
              =data.name
          if data.email && data.type != 'pricing'
            p
              b Email: 
              a(href='mailto:' + data.email)=data.email
          if role_id != 5
            if data.phone
              p
                b Điện thoại: 
                a(href='tel:' + data.phone)=data.phone
        .pull-right
          .action-contact
            .dropdown
              button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown")='Cập nhật trạng thái  '
                span.caret
              ul.dropdown-menu
                li
                  a.contact-status-detail(data-value='unreply' data-id=data.id data-status='reply') Chưa xác nhận
                li
                  a.contact-status-detail(data-value='reply' data-id=data.id data-status='reply') Đã xác nhận
                if data.type == 'promotion'
                  li
                    a.contact-status-detail(data-value='0' data-id=data.id data-status='cr_status') Chưa phản hồi
                  li
                    a.contact-status-detail(data-value='1' data-id=data.id data-status='cr_status') Đã phản hồi
                hr(style="margin: 5px 0")
                if role_id < 2
                  li
                    a.contact-status-detail(data-value='delete' data-id=data.id data-status='display') Xóa
        .clearfix
        hr
        p
          span utm_source: 
          span=data.utm_source
        p
          span utm_medium: 
          span=data.utm_medium
        p
          span utm_campaign: 
          span=data.utm_campaign

        .clearfix
        if data.content
          hr
          p
            b Nội dung:
          p!=data.content
        hr
        if data.type == 'register' || data.type == 'pricing' || data.type == 'promotion'
          if data.data
            each value, index in data.data
              p
                if index == 'product_title'
                  span Tên sản phẩm: 
                else if index == 'a2'
                  span Có bằng A2 chưa: 
                else if index == 'date'
                  span Ngày lái thử: 
                else if index == 'region'
                  span Tỉnh/TP: 
                else if index == 'subregion'
                  span Quận/huyện: 
                else if index == 'url'
                  span Link bài viết: 
                else if index == 'class'
                  span Class voucher: 
                else if index == 'coupon_code'
                  span Mã giảm giá: 
                else if index == 'expired_at'
                  span Ngày hết hạn: 
                else if index == 'coupon_money'
                  span Số tiền: 
                else if index == 'product_title'
                  span Sản phẩm: 
                else if index == 'register_at'
                  span Ngày đăng ký: 
                span
                  if value == 'no'
                    | Chưa có
                  else if value == 'yes'
                    | Đã có
                  else if index == 'region'
                    span=regionName(value)
                  else if index == 'subregion'
                    span=subRegionName(value)
                  else
                    =value