extends ./../layout.pug

block pre-include
  - var menu = 'contact';
  - var childMenu = type ? type : 'all';
  title
    if type == 'register'
      | Đăng ký lái thử
    else if type == 'pricing'
      | Báo giá
    else if type == 'contact'
      | Liên hệ
    else if type == 'promotion'
      | Nhận thông tin khuyến mãi
    else if type == 'about-us'
      | Về chúng tôi
  link(rel="stylesheet" href=staticURI() + "/libs/jquery-ui.min.css")

block post-include
  script(src=staticURI() + '/js/admin/contact.js')
  script(src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
  script(src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js')
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
  script.
    $('#modal-export-data').submit(function(e) {
      e.preventDefault();
      var dates = $('input[name="dates"]').val();
      $.post('/admin/api/export-promotion', {dates: dates}, function(res) {
        downloadURI(res.url);
      });
    });

    $('#modal-export-data').on('shown.bs.modal', function() {
      $('input[name="dates"]').daterangepicker();
    });

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li
        a Liên hệ
      li
        a Danh sách
    if type == 'promotion'
      ol.button-right.col-md-4.col-sm-5.col-xs-12
        li
          a.btn.btn-admin(data-toggle="modal" data-target="#modal-export-data") Xuất data
  section.content.clearfix
    .box.box-table
      .row.box-header
        h3.box-title DANH SÁCH
      .box-body
        if type == 'pricing'
          table.table.table-bordered.table-striped(cellspacing="0" width="100%")
            .action-box.hidden
              .dropdown
                button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                  i.fa.fa-share
                  |  Chọn thao tác (đang chọn
                  span.num-select
                  |  liên hệ) &ensp;
                  span.caret
                ul.dropdown-menu
                  li
                    a.contact-status(data-value='unreply') Chưa phản hồi
                  li
                    a.contact-status(data-value='reply') Đã phản hồi
                  if role_id < 2
                    li
                      a.contact-status(data-value='delete') Xóa
            thead
              tr
                th.all.text-center
                  input.select-all(type="checkbox")
                th STT
                th Tên
                th Số điện thoại
                th Tỉnh/TP
                th Quận/huyện
                th Dòng xe
                th Nội dung
                th Ngày đăng ký
                th Ngày cập nhật
                th Trạng thái
                th Bằng A2
                th UTM Source
                th UTM Medium
                th UTM Campaign
            tbody
              each item in data
                tr
                  td.all.text-center
                    input.checkboxes(type="checkbox" value=item.id)
                  td
                    a(href="/admin/contact/" + item.id) #
                      =item.id
                  td
                    a(href="/admin/contact/" + item.id)=item.name
                  td=item.phone
                  td
                    if item.data.region
                      span=regionName(item.data.region)
                  td
                    if item.data.subregion
                      span=subRegionName(item.data.subregion)
                  td=item.data.product_title
                  td=item.content
                  td=item.created_at
                  td=item.updated_at
                  td.status
                    case item.reply
                      when 1
                        label.label.label-success Đã phản hồi
                      when 0
                        label.label.label-warning Chưa phản hồi
                  td
                    case item.data.a2
                      when 'no'
                        label.label.label-primary Chưa có
                      when 'yes'
                        label.label.label-success Đã có
                  td=item.utm_source
                  td=item.utm_medium
                  td=item.utm_campaign

        else if type == 'contact'
          table.table.table-bordered.table-striped(cellspacing="0" width="100%")
            .action-box.hidden
              .dropdown
                button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                  i.fa.fa-share
                  |  Chọn thao tác (đang chọn
                  span.num-select
                  |  liên hệ) &ensp;
                  span.caret
                ul.dropdown-menu
                  li
                    a.contact-status(data-value='unreply') Chưa phản hồi
                  li
                    a.contact-status(data-value='reply') Đã phản hồi
                  if role_id < 2
                    li
                      a.contact-status(data-value='delete') Xóa
            thead
              tr
                th.all.text-center
                  input.select-all(type="checkbox")
                th STT
                th Tên
                th Số điện thoại
                th Ngày đăng ký
                th Ngày cập nhật
                th Trạng thái
                th Email
                th UTM Source
                th UTM Medium
                th UTM Campaign
            tbody
              each item in data
                tr
                  td.all.text-center
                    input.checkboxes(type="checkbox" value=item.id)
                  td
                    a(href="/admin/contact/" + item.id) #
                      =item.id
                  td
                    a(href="/admin/contact/" + item.id)=item.name
                  td=item.phone
                  td=item.created_at
                  td=item.updated_at
                  td.status
                    case item.reply
                      when 1
                        label.label.label-success Đã phản hồi
                      when 0
                        label.label.label-warning Chưa phản hồi
                  td=item.email
                  td=item.utm_source
                  td=item.utm_medium
                  td=item.utm_campaign

        else if type == 'about-us'
          table.table.table-bordered.table-striped(cellspacing="0" width="100%")
            .action-box.hidden
              .dropdown
                button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                  i.fa.fa-share
                  |  Chọn thao tác (đang chọn
                  span.num-select
                  |  liên hệ) &ensp;
                  span.caret
                ul.dropdown-menu
                  li
                    a.contact-status(data-value='unreply') Chưa phản hồi
                  li
                    a.contact-status(data-value='reply') Đã phản hồi
                  if role_id < 2
                    li
                      a.contact-status(data-value='delete') Xóa
            thead
              tr
                th.all.text-center
                  input.select-all(type="checkbox")
                th STT
                th Tên
                th Số điện thoại
                th Nội dung
                th Ngày đăng ký
                th Ngày cập nhật
                th Trạng thái
                th Email
                th UTM Source
                th UTM Medium
                th UTM Campaign
            tbody
              each item in data
                tr
                  td.all.text-center
                    input.checkboxes(type="checkbox" value=item.id)
                  td
                    a(href="/admin/contact/" + item.id) #
                      =item.id
                  td
                    a(href="/admin/contact/" + item.id)=item.name
                  td=item.phone
                  td=item.content
                  td=item.created_at
                  td=item.updated_at
                  td.status
                    case item.reply
                      when 1
                        label.label.label-success Đã phản hồi
                      when 0
                        label.label.label-warning Chưa phản hồi
                  td=item.email
                  td=item.utm_source
                  td=item.utm_medium
                  td=item.utm_campaign

        else if type == 'register'
          table.table.table-bordered.table-striped(cellspacing="0" width="100%")
            .action-box.hidden
              .dropdown
                button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                  i.fa.fa-share
                  |  Chọn thao tác (đang chọn
                  span.num-select
                  |  liên hệ) &ensp;
                  span.caret
                ul.dropdown-menu
                  li
                    a.contact-status(data-value='unreply') Chưa phản hồi
                  li
                    a.contact-status(data-value='reply') Đã phản hồi
                  if role_id < 2
                    li
                      a.contact-status(data-value='delete') Xóa
            thead
              tr
                th.all.text-center
                  input.select-all(type="checkbox")
                th STT
                th Tên
                th Số điện thoại
                th Tỉnh/TP
                th Quận/huyện
                th Dòng xe
                th(style="min-width: 50px;") Ngày lái thử
                th Nội dung
                th Ngày đăng ký
                th Ngày cập nhật
                th Trạng thái
                th Email
                th Bằng A2
                th UTM Source
                th UTM Medium
                th UTM Campaign
            tbody
              each item in data
                tr
                  td.all.text-center
                    input.checkboxes(type="checkbox" value=item.id)
                  td
                    a(href="/admin/contact/" + item.id) #
                      =item.id
                  td
                    a(href="/admin/contact/" + item.id)=item.name
                  td=item.phone
                  td
                    if item.data.region
                      span=regionName(item.data.region)
                  td
                    if item.data.subregion
                      span=subRegionName(item.data.subregion)
                  td=item.data.product_title
                  td=item.data.date
                  td=item.content
                  td=item.created_at
                  td=item.updated_at
                  td.status
                    case item.reply
                      when 1
                        label.label.label-success Đã phản hồi
                      when 0
                        label.label.label-warning Chưa phản hồi
                  td=item.email
                  td
                    case item.data.a2
                      when 'no'
                        label.label.label-primary Chưa có
                      when 'yes'
                        label.label.label-success Đã có
                  td=item.utm_source
                  td=item.utm_medium
                  td=item.utm_campaign

        else if type == 'promotion'
          table.table.table-bordered.table-striped(cellspacing="0" width="100%")
            .action-box.hidden
              .dropdown
                button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                  i.fa.fa-share
                  |  Chọn thao tác (đang chọn
                  span.num-select
                  |  liên hệ) &ensp;
                  span.caret
                ul.dropdown-menu
                  li
                    a.contact-status(data-value='unconfirm') Chưa xác nhận
                  li
                    a.contact-status(data-value='confirm') Đã xác nhận
                  if role_id < 2
                    li
                      a.contact-status(data-value='delete') Xóa
            thead
              tr
                th.all.text-center
                  input.select-all(type="checkbox")
                th STT
                th Mã Voucher
                th Ngày hết hạn
                th Trạng thái
                th Tên
                if role_id != 5
                  th Số điện thoại
                th Tỉnh/TP
                th Quận/huyện
                th Dòng xe áp dụng
                th Giá trị
                th Ngày đăng ký
                th Ngày cập nhật
                th CR Status
                th UTM Source
                th UTM Medium
                th UTM Campaign
            tbody
              each item in data
                tr
                  td.all.text-center
                    input.checkboxes(type="checkbox" value=item.id)
                  td
                    a(href="/admin/contact/" + item.id) #
                      =item.id
                  td=item.data.coupon_code
                  td=item.data.expired_at
                  td.status
                    case item.reply
                      when 1
                        label.label.label-success Đã xác nhận
                      when 0
                        label.label.label-warning Chưa xác nhận
                  td
                    a(href="/admin/contact/" + item.id)=item.name
                  if role_id != 5
                    td=item.phone
                  td
                    if item.data.region
                      span=regionName(item.data.region)
                  td
                    if item.data.subregion
                      span=subRegionName(item.data.subregion)
                  td=item.data.product_title
                  td=money(item.data.coupon_money)
                  td=item.created_at
                  td=item.updated_at
                  td
                    case item.cr_status
                      when 1
                        label.label.label-success Đã phản hồi
                      when 0
                        label.label.label-warning Chưa phản hồi
                  td=item.utm_source
                  td=item.utm_medium
                  td=item.utm_campaign

    #modal-export-data.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Xuất data
          form.modal-body
            .form-horizontal.clearfix
              .form-group.clearfix
                label.col-sm-2.control-label Thời gian
                  strong.required  *
                .col-sm-10
                  input.form-control(name="dates" required)
            .modal-footer.pd-right-0
              button.btn.btn-default(type='button', data-dismiss='modal') Hủy
              button.btn.btn-primary(type="submit") Xuất data