{% extends "layout.twig" %}

{% block pre_include %}
<title>Sổ địa chỉ</title>
{% endblock pre_include %}

{% block post_include %}
<script>
  $('.form-change-password').submit(function (e) {
    e.preventDefault();
    var new_password = $(this).find('input[name="new_password"]').val();
    var re_new_password = $(this).find('input[name="re_new_password"]').val();
    if (new_password != re_new_password) {
      return Swal.fire('Lỗi', 'Nhập lại mật khẩu không đúng', 'error');
    }

    var data = $(this).serialize();

    AT.updatePassword(data, function (res) {
      if (!res.code) {
        Swal.fire('Thành công', 'Cập nhật thành công', 'success');
        setTimeout(function () {
          location.reload();
        }, 1500);
      } else {
        Swal.fire('Lỗi', res.message, 'error');
      }
    });

  });
</script>

{% endblock %}

{% block content %}

<div class="yosu-page yosu-account-page y-bg-gray">
  <div class="container">
    <div class="row">
      {% include "customer/sidebar.twig" %}
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-4 col-xs-12">Sổ địa chỉ</h5>
          <div class="col-sm-8 col-xs-12 y-text-right-d y-f14 m-b10">
            <a class="yosu-color y-address-default" href="account-address-default.html">Địa chỉ nhận hàng mặc định</a> |
            <a class="yosu-color y-address-default" href="account-address-default-2.html">Địa chỉ thanh toán mặc
              định</a>
          </div>
        </div>
        <div class="y-dashboard-content">
          <div class="m-no-padding y-bg-white m-b30 p-t20">
            <div class="table-responsive">
              <table class="table y-table-address y-text-left y-table-style-1">
                <thead>
                  <tr>
                    <th class="code">Tên</th>
                    <th>Địa chỉ nha khoa</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ mặc định</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="code">Vũ Bá Tiến</th>
                    <th>78/1a Phan Đình Phùng, Tân Thành, Tân Phú, TP HCM
                    </th>
                    <th>0345678999</th>
                    <th>Địa chỉ thanh toán</th>
                    <th>
                      <a class="yosu-color" href="account-address-edit.html">Chỉnh sửa</a>
                    </th>
                  </tr>
                  <tr>
                    <th class="code">Hồ Tiến Lộc</th>
                    <th>88/1a Phan Đình Phùng, Tân Thành, Tân Phú, TP HCM
                    </th>
                    <th>0345678999</th>
                    <th></th>
                    <th>
                      <a class="yosu-color" href="account-address-edit.html">Chỉnh sửa</a>
                    </th>
                  </tr>
                  <tr>
                    <th class="code">Trần Hữu Tấn</th>
                    <th>98/1a Phan Đình Phùng, Tân Thành, Tân Phú, TP HCM
                    </th>
                    <th>0345678999</th>
                    <th>Địa chỉ nhận hàng</th>
                    <th>
                      <a class="yosu-color" href="account-address-edit.html">Chỉnh sửa</a>
                    </th>
                  </tr>

                </tbody>
              </table>

            </div>
            <div class="y-clearfix">
              <div class="col-sm-5 col-xs-12 p-b30 p-l20 m-no-padding">
                <a href="account-address-add.html" class="y-btn-main y-d-block y-full-width">+ THÊM ĐỊA CHỈ MỚI</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}