{% extends "layout.twig" %}

{% block pre_include %}
<title>Đổi mật khẩu</title>
{% endblock pre_include %}

{% block post_include %}
<script>
  $('.form-change-password').submit(function(e) {
    e.preventDefault();
    var new_password = $(this).find('input[name="new_password"]').val();
    var re_new_password = $(this).find('input[name="re_new_password"]').val();
    if (new_password != re_new_password) {
      return Swal.fire('Lỗi', 'Nhập lại mật khẩu không đúng', 'error');
    }

    var data = $(this).serialize();

    AT.updatePassword(data, function(res) {
      if (!res.code) {
        Swal.fire('Thành công', 'Cập nhật thành công', 'success');
        setTimeout(function() {
          location.reload();
        }, 1500);
      } else {
        Swal.fire('Lỗi', res.message, 'error');
      }
    });

  });

</script>

{% endblock %}

{% block content %}

<div class="yosu-page yosu-account-page y-bg-gray">
  <div class="container">
    <div class="row">
      {% include "customer/sidebar.twig" %}
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-12 col-xs-12">Thay đổi mật khẩu</h5>
        </div>
        <div class="y-login-content">
          <div class="p-30 m-no-padding y-bg-white">
            <form class="y-form-style-1 form-change-password">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="y-input">
                    <label>Mật khẩu hiện tại</label>
                    <input type="password" name="old_password" required>
                  </div>
                  <div class="y-input">
                    <label>Nhập mật khẩu mới</label>
                    <input type="password" name="new_password" required>
                  </div>
                  <div class="y-input">
                    <label>Nhập lại mật khẩu mới</label>
                    <input type="password" name="re_new_password" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="y-input">
                    <button type="submit" class="login_button y-btn-main y-full-width"><span>Lưu</span></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}