{% extends "layout.twig" %}

{% block pre_include %}
  <title>
    Tạo mật khẩu mới
  </title>
{% endblock pre_include %}

{% block post_include %}

  <script>
    $('.form-createpassword').submit(function(e) {
      e.preventDefault();
      var password = $("input[name='password']").val();
      var re_password = $("input[name='re_password']").val();

      if (password != re_password) {
        return Swal.fire('Lỗi', 'Mật khẩu không giống nhau', 'error');
      }
      var token = $('input[name="token"]').val();

      AT.resetPassword(token, password, function(res) {
        if (!res.code) {
          Swal.fire('Thành công', 'Tạo mật khẩu mới thành công', 'success');
          setTimeout(function() {
            window.location.href = "/dang-nhap";
          }, 1500);
        } else {
          Swal.fire('Lỗi', res.message, 'error');
        }
      });
    });

  </script>

{% endblock %}


{% block content %}
<div class="yosu-page yosu-register-page y-bg-gray">
  <div class="y-order-step1">
    <div class="container">
      <div class="y-box-940">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-12 col-xs-12">Tạo mật khẩu mới</h5>
        </div>
      </div>
      <div class="y-login-content y-box-940">
        <div class="p-50 m-no-padding y-bg-white">
          <form class="y-form-style-1 form-createpassword">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-md-offset-3 col-xs-12">
                <div class="y-input">
                  <label>Mật khẩu mới*</label>
                  <input type="password" name="password" placeholder="Mật khẩu mới" required>
                </div>
                <div class="y-input">
                  <label>Nhập lại mật khẩu*</label>
                  <input type="password" name="re_password" placeholder="Nhập lại mật khẩu" required>
                </div>
                <div class="y-input">
                  <button type="submit" class="login_button y-btn-main y-full-width"><span>Tạo mới</span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
