{% extends "layout.twig" %}

{% block pre_include %}
<title>Tài khoản</title>
{% endblock pre_include %}

{% block post_include %}
<script type="text/javascript">
  $(document).ready(function () {
    if (localStorage.getItem('name')) {
      $('.name_default').html(localStorage.getItem('name'));
      $('.add_default').html(localStorage.getItem('address'));
      $('.phone_default').html(localStorage.getItem('phone'));
    }
  })
</script>
{% endblock %}

{% block content %}

<div class="yosu-page yosu-account-page y-bg-gray">
  <div class="container">
    <div class="row">
      {% include "customer/sidebar.twig" %}
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-12 col-xs-12">Quản lý tài khoản</h5>
        </div>
        <div class="y-dashboard-content">
          <div class="p-20 m-no-padding y-bg-white m-b30">
            <p class="y-link-edit-user">Thông tin cá nhân | <a class="yosu-color y-f13" href="/khach-hang/chinh-sua-tai-khoan">Chỉnh
                sửa</a></p>
            <p class="y-name-user">{{ customer.name }}</p>
            <div class="y-info-user">
              <p>{{ customer.email }}</p>
              <p>{{ customer.phone }}</p>
              {% if customer.address %}
                <p>{{ customer.address }}</p>
              {% endif %}
            </div>
          </div>

          {% if orders and orders | length %}
            <div class="m-no-padding y-bg-white m-b30">
              <p class="y-checkout-done"><span>3</span> Đơn hàng gần đây</p>
              <div class="y-table-responsive">
                <table class="table y-table-dashboard y-text-left y-table-style-1">
                  <thead>
                    <tr>
                      <th class="code">Mã đơn hàng</th>
                      <th>Ngày đặt hàng</th>
                      <th>Sản phẩm</th>
                      <th>Tổng cộng</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in orders %}
                      <tr>
                        <th class="code">{{ item.id }}</th>
                        <th>{{ item.created_at | date('d/m/Y') }}</th>
                        <th class="th-list-prod">
                          <ul class="list-inline y-list-imgprod">
                            {% for product in item.cart %}
                              <li>
                                <a href="/{{ product.handle }}" title="{{ product.title }}">
                                  <img src="{{ product.image | upload_url }}" alt="{{ product.title }}">
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </th>
                        <th>{{ item.total | money }}đ</th>
                        <th>
                          <a class="yosu-color" href="/khach-hang/don-hang/{{ item.id }}">Quản lý</a>
                        </th>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}