{% extends "layout.twig" %}

{% block pre_include %}
<title>Chỉnh sửa tài khoản</title>
{% endblock pre_include %}

{% block post_include %}
<script type="text/javascript">
  $(document).ready(function () {
    var region = $('select[name="region"]').data('value');
    if (region) {
      $('select[name="region"]').val(region);
      $('select[name="region"]').change();
    }
    var gender = $('select[name="gender"]').data('value');
    if (gender) $('select[name="gender"]').val(gender);
  });

  $('select[name="region"]').change(function() {
    var region_id = $(this).val();
    var subregion = $('select[name="subregion"]').data('value');
    AT.getSubRegion(region_id, function(res) {
      var options = '';
      res.data.forEach(function(item) {
        options += '<option value="' + item.id + '">' + item.name + '</option>';
      });
      $('select[name="subregion"]').html(options);
      if (subregion) {
        $('select[name="subregion"]').val(subregion);
      }
    });
  });

  $('.form-update-info').submit(function(e) {
    e.preventDefault();
    var data = $(this).serialize();
    AT.updateProfile(data, function(res) {
      if (!res.code) {
        Swal.fire('Thành công', 'Cập nhật thành công', 'success');
        setTimeout(function() {
          location.reload();
        }, 1500);
      } else {
        Swal.fire('Lỗi', res.message, 'error');
      }
    });
  });

</script>

{% endblock post_include %}

{% block content %}

<div class="yosu-page yosu-account-page y-bg-gray">
  <div class="container">
    <div class="row">
      {% include "customer/sidebar.twig" %}
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-12 col-xs-12">Chỉnh sửa thông tin cá nhân</h5>
        </div>
        <div class="y-login-content">
          <div class="p-30 m-no-padding y-bg-white">
            <form class="y-form-style-1 form-update-info">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="y-input">
                    <label>Họ tên*</label>
                    <input type="text" name="name" value="{{ customer.name }}" required>
                  </div>
                  <div class="y-input">
                    <label>Số điện thoại di động cá nhân</label>
                    <input type="text" name="phone" value="{{ customer.phone }}" required>
                  </div>
                  <div class="y-input">
                    <label>Địa chỉ Email*</label>
                    <input type="text" name="email" value="{{ customer.email }}" required>
                  </div>
                  <div class="y-input">
                    <label>Tên nha khoa</label>
                    <input type="text" name="company" value="{{ customer.company }}">
                  </div>
                  <div class="y-input">
                    <label>Số điện thoại nha khoa</label>
                    <input type="text" name="company_phone"value="{{ customer.company_phone }}">
                  </div>
                  <div class="y-input">
                    <label>Ngày sinh</label>
                    <input type="date" name="birthday" value="{{ customer.birthday | date('Y-m-d') }}">
                  </div>
                  <div class="y-input">
                    <label>Giới tính</label>
                    <select name="gender" data-value="{{ customer.gender }}">
                      <option value="" selected disabled>Chọn giới tính</option>
                      <option value="male">Nam</option>
                      <option value="female">Nữ</option>
                      <option value="other">Khác</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">

                  <div class="y-input">
                    <label>Địa chỉ nha khoa</label>
                    <input type="text" name="company_address" placeholder="" value="{{ customer.company_address }}">
                  </div>
                  <div class="y-input">
                    <label>Tỉnh/Thành phố</label>
                    <select name="region" data-value="{{ customer.region }}">
                      <option value="" selected disabled>Chọn Tỉnh/Thành phố</option>
                      {% set region = Region() %}
                      {% for item in region %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="y-input">
                    <label>Quận/Huyện</label>
                    <select name="subregion" data-value="{{ customer.subregion }}">
                      <option selected disabled>Chọn Quận/Huyện</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="y-input">
                    <button type="submit" class="login_button y-btn-main y-full-width"><span>Lưu</span></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}