{% extends "layout.twig" %}

{% block pre_include %}

  <title>Quên mật khẩu</title>

{% endblock pre_include %}

{% block post_include %}

  <script type="text/javascript">
    $('.form-forgotpassword').submit(function(e) {
      e.preventDefault();
      var email = $(this).find('input[name="email"]').val();
      AT.forgotPassword(email, function(res) {
        if (!res.code) {
          Swal.fire('Thành công', 'Vui lòng kiểm tra email của bạn', 'success');
          setTimeout(function() {
            window.location.href = "/dang-nhap";
          }, 1500);
        } else {
          Swal.fire('Lỗi', res.message, 'error');
        }
      });
    });
  </script>

{% endblock %}

{% block content %}


<div class="yosu-page yosu-register-page y-bg-gray">
  <div class="y-order-step1">
    <div class="container">
      <div class="y-box-940">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-12 col-xs-12">Quên mật khẩu</h5>
        </div>
      </div>
      <div class="y-login-content y-box-940">
        <div class="p-50 m-no-padding y-bg-white">
          <form class="y-form-style-1 form-forgotpassword">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-md-offset-3 col-xs-12">
                <div class="y-input">
                  <label>Địa chỉ email của bạn*</label>
                  <input type="email" name="email" placeholder="Vui lòng nhập Email của bạn" required>
                </div>
                <div class="y-input">
                  <button type="submit" class="login_button y-btn-main y-full-width"><span>Gửi email</span></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}