{% extends "layout.twig" %}

{% block pre_include %}
<title>Thông tin cá nhân</title>
{% endblock pre_include %}

{% block content %}
<!-- Content Sub Page -->
<div class="account-info padding-wrap yosu-page yosu-account-page y-bg-gray" id="account-info">
  <div class="container box-1400">
    <div class="row">
      {% include 'customer/sidebar.twig' %}
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-12 col-xs-12">Thông tin cá nhân</h5>
        </div>
        <div class="y-login-content">
          <div class="p-30 m-no-padding y-bg-white">
            <form action="" class="y-form-style-1">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="y-input">
                    <label>Họ tên</label>
                    <p class="y-info-account-txt">{{ customer.name ?: 'Chưa cập nhật' }}</p>
                  </div>
                  <div class="y-input">
                    <label>Số điện thoại cá nhân</label>
                    <p class="y-info-account-txt">{{ customer.phone ?: 'Chưa cập nhật' }}</p>
                  </div>
                  <div class="y-input">
                    <label>Email</label>
                    <p class="y-info-account-txt">{{ customer.email ?: 'Chưa cập nhật' }}</p>
                  </div>
                  <div class="y-input">
                    <label>Tên nha khoa</label>
                    <p class="y-info-account-txt">{{ customer.company ?: 'Chưa cập nhật' }}</p>
                  </div>
                  <div class="y-input">
                    <label>Số điện thoại nha khoa</label>
                    <p class="y-info-account-txt">{{ customer.company_phone ?: 'Chưa cập nhật' }}</p>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="y-input">
                    <label>Ngày sinh</label>
                    <p class="y-info-account-txt">{{ customer.birthday ? customer.birthday | date('Y-m-d') : 'Chưa cập nhật' }}</p>
                  </div>
                  <div class="y-input">
                    <label>Giới tính</label>
                    <p class="y-info-account-txt">
                      {% if customer.gender == 'male' %}Nam
                      {% elseif customer.gender == 'female' %}
                        Nữ
                      {% elseif customer.gender == 'other' %}
                        Khác
                      {% else %}
                        Chưa cập nhật
                      {% endif %}
                    </p>
                  </div>
                  <div class="y-input">
                    <label>Địa chỉ nha khoa</label>
                    <p class="y-info-account-txt">{{ customer.company_address ?: 'Chưa cập nhật' }}</p>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="y-input">
                    <a href="/khach-hang/chinh-sua-tai-khoan" class="y-btn-main y-full-width"><span>Sửa thông tin</span></a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./Content Sub Page -->
{% endblock content %}