{% extends "layout.twig" %}

{% block pre_include %}
<title>Đăng nhập</title>
{% endblock %}

{% block post_include %}
<script>
$('.form-login').submit(function(e) {
  e.preventDefault();
  var data = $(this).serialize();
  AT.signin(data, function(res) {
    if (!res.code) {
      Swal.fire('Thành công', 'Đăng nhập thành công', 'success');
      setTimeout(function() {
        location.href = res.href;
      }, 1500);
    } else {
      Swal.fire('Lỗi', res.message, 'error');
    }
  });
});

</script>

{% endblock %}

{% block content %}

<div class="yosu-page yosu-login-page y-bg-gray">
  <div class="container">
    <div class="y-box-940">
      <div class="row">
        <h5 class="y-title-default yosu-color col-sm-6 col-xs-12">Đăng nhập </h5>
        <div class="y-f13 y-text-right-d col-sm-6 col-xs-12 m-b15">Thành viên mới?
          <a href="/dang-ky" class="yosu-color">&nbsp;Đăng ký</a>&nbsp;tại đây</div>
      </div>
    </div>
    <div class="y-login-content y-box-940">
      <div class="p-50 m-no-padding y-bg-white">
        <form class="y-form-style-1 form-login">
          <div class="row">
            <div class="col-sm-7 col-xs-12">
              <div class="y-input">
                <label>Địa chỉ Email*</label>
                <input type="text" name="email" placeholder="Vui lòng nhập Email" required>
              </div>
              <div class="y-input">
                <label>Mật khẩu*</label>
                <input type="password" name="password" placeholder="Vui lòng nhập mật khẩu của bạn" required>
              </div>
              <div class="y-input">
                <button type="submit" class="login_button y-btn-main y-full-width">
                  <span>Đăng nhập</span>
                </button>
              </div>
              <div class="y-input">
                <p class="forgetpassword y-text-right">
                  <a href="/khach-hang/quen-mat-khau" class="yosu-color">Quên mật khẩu</a>
                </p>
              </div>
            </div>
            <div class="col-sm-5 col-xs-12">
              <p>Hoặc đăng nhập bằng tài khoản mạng xã hội</p>
              <div class="y-login-social">
                <a class="btn-facebook" href="{{ loginFacebook() }}">
                  <i class="fab fa-facebook-f"></i>
                  Facebook</a>
                <a class="btn-google" href="{{ loginGoogle() }}">
                  <i class="fab fa-google"></i>
                  Google
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}