{% extends "layout.twig" %}

{% block pre_include %}
<title>Đơn hàng của tôi</title>
{% endblock pre_include %}

{% block content %}

<div class="yosu-page yosu-account-page y-bg-gray">
  <div class="container">
    <div class="row">
      {% include "customer/sidebar.twig" %}
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-6 col-xs-12">Đơn hàng của tôi</h5>
          <div class="col-sm-6 col-xs-12 y-text-right-d y-form-style-1">
            <select name="filter" class="y-filter-order" onchange="location.href = this.value">
              <option value="{{status == '' ? '?filter=5' : '?status=' ~ status ~ '&filter=5'}}" {{filter=='5'?'selected':''}}>5 đơn hàng gần đây</option>
              <option value="{{status == '' ? '?filter=month' : '?status=' ~ status ~ '&filter=month'}}" {{filter=='month'?'selected':''}}>Đơn hàng trong tháng</option>
              <option value="{{status == '' ? '?filter=2-month' : '?status=' ~ status ~ '&filter=2-month'}}" {{filter=='2-month'?'selected':''}}>Đơn hàng 2 tháng gần đây</option>
              <option value="/khach-hang/danh-sach-don-hang{{status == '' ? '' : '?status=' ~ status}}"  {{filter==''?'selected':''}}>Tất cả đơn hàng</option>
            </select>
          </div>
        </div>
        {% if orders and orders | length %}
        <div class="y-dashboard-content">
          {% for item in orders %}
          <div class="m-no-padding y-bg-white m-b20 y-account-order">
            <div class="row m-0 y-border-b1-d p-tb10 y-box-order-s1">
              <div class="col-sm-6 col-xs-12 y-info-order-s1">
                <p class="y-f600">Đơn hàng <a class="yosu-color" href="/khach-hang/don-hang/{{ item.id }}">{{ item.created_at | date('Ymd') }}{{ item.id }}</a> </p>
                <p class="y-f600">Đặt ngày {{item.created_at | date('d/m/Y')}}</p>
              </div>
              <div class="col-sm-6 col-xs-12 y-text-right-d m-t5">
                <a class="yosu-color" href="/khach-hang/don-hang/{{ item.id }}">QUẢN LÝ ĐƠN HÀNG</a>
              </div>
            </div>
            <div class="y-order-item">
              <div class="y-table-responsive">
                <table class="table y-table-order y-text-left y-table-style-1">
                  <thead>
                    <tr>
                      <th class="code"></th>
                      <th>Sản phẩm</th>
                      <th class="y-text-center">Số lượng</th>
                      <th class="y-text-center">Tình trạng</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in item.cart %}
                      <tr>
                        <th class="code">
                          <a href="#" class="y-img-prod box-img-flex">
                            <img src="{{ product.image | upload_url }}" alt="{{ product.title }}">
                          </a>
                        </th>
                        <th><a href="{{ product.url }}">{{ product.title }}</a></th>
                        <th class="th-list-prod y-text-center">{{ product.quantity }}</th>
                        <th class="y-text-center">
                          <span class="y-status-order">
                            {% if item.order_status == 'new' %}
                              Mới
                            {% elseif item.order_status == 'confirm' %}
                              Xác nhận
                            {% else %}
                              Hoàn thành
                            {% endif %}
                          </span>
                        </th>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
          <h3>Chưa có đơn hàng nào</h3>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% endblock content %}