{% extends "layout.twig" %}

{% block pre_include %}
<title>Chi tiết đơn hàng</title>
{% endblock pre_include %}

{% block post_include %}
<script type="text/javascript">
  $('.write_review').on('click', function () {
    var handle = $(this).data('product');
    $.ajax({
      url: '/api/setSession',
      type: 'post',
      data: {
        key: 'reviewProduct',
        value: handle
      },
      success: function (data) {
        if (!data.code) {
          window.location.href = '/product/review'
        }
      }
    })
  });
</script>
{% endblock %}

{% block content %}

<div class="yosu-page yosu-account-page y-bg-gray">
  <div class="container">
    <div class="row">
      {% include "customer/sidebar.twig" %}
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="row">
          <h5 class="y-title-default yosu-color col-sm-12 col-xs-12">Đơn hàng của tôi</h5>
        </div>
        <div class="y-dashboard-content">
          <div class="m-no-padding y-bg-white m-b20 y-account-order">
            <div class="row m-0 y-border-b1-d p-tb10 y-box-order-s1">
              <div class="col-sm-6 col-xs-12 y-info-order-s1">
                <p class="y-f600">Đơn hàng <a class="yosu-color">{{ order.created_at | date('Ymd')}}{{order.id }}</a> </p>
                <p class="y-f600">Đặt ngày {{ order.created_at | date('d/m/Y') }}</p>
                <p class="y-f600">Tổng cộng {{ order.total | money }}đ</p>
              </div>
              <div class="col-sm-6 col-xs-12 y-text-right-d m-t5"></div>
            </div>
            <div class="y-order-item">
              <div class="y-header-checkout">
                <div class="y-order-process">
                  <div class="y-line-process">
                    <div class="line-item active"></div>
                    <div class="line-item"></div>
                  </div>
                  <div class="y-dot-process">
                    <div class="dot-item ">1</div>
                    <div class="dot-item {{ order.shipping_status < 2 ? 'active' : '' }}">2</div>
                    <div class="dot-item {{ order.shipping_status == 2 ? 'active' : '' }}">3</div>
                  </div>
                </div>
              </div>
              <div class="y-process-info y-text-center">
                <div class="y-bg-gray-2 p-15">
                  <div class="y-process-info-show">
                    <p><strong>{{ order.created_at | date('d/m/Y H:i') }}</strong> Đơn hàng đã được tạo thành công</p>
                    <p><strong>{{ order.updated_at | date('d/m/Y H:i') }}</strong>
                      {% if order.shipping_status == 0 %}
                        Đơn hàng đang được xử lý
                      {% elseif order.shipping_status == 1 %}
                        Đơn hàng đang được giao
                      {% else %}
                        {{ settings.customer_noti_completed_order | raw }}
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>

              <div class="y-table-responsive">
                <table class="table y-table-order y-text-left y-table-style-1">
                  <thead>
                    <tr>
                      <th class="code"></th>
                      <th>Sản phẩm</th>
                      <th class="y-text-center">Đơn giá</th>
                      <th class="y-text-center">Số lượng</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in carts %}
                    <tr>
                      <th class="code">
                        <a href="#" class="y-img-prod box-img-flex">
                          <img src="{{ product.image | upload_url }}" alt="{{ product.title }}">
                        </a>
                      </th>
                      <th><a href="/{{ product.handle }}">{{ product.title }}</a></th>
                      <th class="y-text-center">{{ product.price | money }}đ</th>
                      <th class="th-list-prod y-text-center">{{ product.quantity }}</th>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}