{% extends "layout.twig" %}

{% block pre_include %}

  <title>{{ __('REGISTER_FOR_A_DRIVING_TEST') }}</title>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block post_include %}

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>

  $(".js-example-disabled").select2();

  function currentDate() {
    var d = new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    return [year, month, day].join('-');
  }


  let timeoutDebounce = null;
  $('.date-to-test').keypress(function() {
    var self = $(this);
    clearTimeout(timeoutDebounce);
    timeoutDebounce = setTimeout(function() {
      var value = self.val();
      if (new Date(value).getTime() < new Date(currentDate())) {
        Swal.fire("{{ __('ERROR') }}", "{{ __('INVALID_DATE') }}", 'error');
        self.val(currentDate());
      }
    }, 800);
  });

  $('.btn-scroll-to-form').click(function() {
    var title = $(this).data('title');
    title = title.trim();
    $('#fdk .moto-name, #fdk .prod-name').html(title);
    $('#fdk .product_title').val(title);
    $('#fdk .prod-title-main.temp').remove();
    $('#fdk .prod-title-main').show();
    $('html, body').animate({
        scrollTop: $("#fdk").offset().top - 200
    }, 700);
  });

  $('.form-register-drive').submit(function(e) {
    var product_title = $('.product_title').val();
    if (!product_title) {
      Swal.fire("{{ __('ERROR') }}", "{{ __('PLEASE_SELECT_A_MOTO') }}", 'error');
      return false;
    }
    e.preventDefault();
    var data = $(this).serialize();

    var utm_source = getCookie('utm_source');
    var utm_medium = getCookie('utm_medium');
    var utm_campaign = getCookie('utm_campaign');

    if (utm_source) data += '&utm_source=' + utm_source;
    if (utm_medium) data += '&utm_medium=' + utm_medium;
    if (utm_campaign) data += '&utm_campaign=' + utm_campaign;

    $.post('/api/contact', data, function(res) {
      location.href = '/{{ lang }}/register-success';
    });
  });

</script>

{% endblock %}

{% block content %}

{% set danh_sach_san_pham = Menu('danh-sach-san-pham') %}
{% set hashCollection = hashCollection() %}

<div class="main-content">
  <div class="prod-collection prod-register container box-desktop">
      <h3 class="prod-title-main">{{ __('REGISTER_FOR_A_DRIVING_TEST') }}</h3>
      <h4 style="text-align: left;">{{ __('SELECT_A_MOTO_TO_TEST') }}</h4>
      <ul class="prod-box sub-menu">
        {% for row in danh_sach_san_pham.children | batch(4) %}
          {% set row_index = loop.index0 %}
          {% for item in row %}
            <li class="prod-collection-item sub-menu-item col-lg-3 col-md-6 in-up" data-id="prod_{{ row_index }}_{{ loop.index0 }}">
              <div class="box-sub-menu box-menu-transition">
                  <p class="text">{{ item.title }} {% if hashCollection[item.collection_id] %}({{ hashCollection[item.collection_id] }}){% endif %}</p>
                  <div class="box-img y-box-img">
                    <img src="{{ item.image | upload_url }}" alt="{{ item.title }}">
                  </div>
              </div>
            </li>
          {% endfor %}

          {% for item in row %}
            {% if item.children and item.children | length %}
              <ul class="prod-sub-menu sub-menu-2" id="prod_{{ row_index }}_{{ loop.index0 }}">
                <div class="row custom-row">
                  {% for sub in item.children %}
                    <li class="col-md-6 col-lg-3 sub-menu-item-2 in-up">
                      <a class="box-sub-menu box-menu-transition scroll-to-target btn-scroll-to-form" data-title="{{ sub.title }}">
                          <div class="check-box">
                              <label class="cs-radio">{{ sub.title }}
                                <input type="radio" name="radio">
                                <span class="checkmark scroll-to-target"></span>
                              </label>
                          </div>
                          <div class="box-img y-box-img checked-box">
                            <img src="{{ sub.image | upload_url }}" alt="{{ sub.title }}">
                          </div>
                        </a>
                    </li>
                  {% endfor %}
                </div>
              </ul>
            {% endif %}
          {% endfor %}

        {% endfor %}
      </ul>
  </div>
  <div class="box-mobile box-m-register">
      <div class="box-title-m">
          <a href="#">Chọn xe muốn lái thử</a>
      </div>
      <ul class="sub-menu">
          {% for item in danh_sach_san_pham.children %}
            {% set first_row = loop.index0 == 0 ? 1 : 0 %}
          <li class="register-m {{ first_row ? 'active' : '' }}">
            <a href="#">
                <div class="box-img">
                  <img src="{{ item.image | upload_url }}" alt="{{ item.title }}">
                </div>
                <span class="text-sub-m custom-box">{{ item.title }} {% if hashCollection[item.collection_id] %}({{ hashCollection[item.collection_id] }}){% endif %}</span>
                <span class="btn-toggle-sub custom-sub-m-icon"></span>
            </a>
            <ul class="sub-menu-lv2">
              {% for sub in item.children %}
                <li class="{{ first_row and loop.index0 == 0 ? 'active' : '' }}">
                    <a class="scroll-to-target box-sub-menu btn-scroll-to-form" data-title="{{ sub.title }}">
                        <div class="check-box">
                            <label class="cs-radio" style="padding-right:0px;margin-bottom:15px">
                                <input type="radio" name="radio">
                                <span class="checkmark checkmark-ct"></span>
                            </label>
                        </div>
                        <div class="box-img">
                          <img src="{{ sub.image | upload_url }}" alt="{{ sub.title }}">
                        </div>
                        <span class="custom-box">{{ sub.title }}</span>
                    </a>
                </li>
              {% endfor %}
            </ul>
        </li>
          {% endfor %}
      </ul>
  </div>
  <div class="section-register-drive padding-bottom container" id="fdk">
      <form class="container form-register-drive" style="background-image: url('{{ settings.dklt_bg | upload_url }}');">
          <input type="hidden" name="data[product_title]" class="product_title">
          <input type="hidden" name="type" value="register">
          <h3 class="prod-title-main main" style="text-align: left; display: none;">{{ __('SELECTED_A_MOTO') }} <span class="moto-name"></span></h3>
          <h3 class="prod-title-main temp" style="text-align: left;">{{ __('PLEASE_SELECT_A_MOTO') }}</h3>
          <h4 class="prod-name box-mobile"></h4>
          <h4 class="prod-name-m">{{ __('DO_YOU_HAVE_A2') }}</h4>
          <div class="check-box title-form">
              <label class="cs-radio">{{ __('YES') }}
                  <input type="radio" checked="checked" name="data[a2]" value="yes">
                  <span class="checkmark"></span>
              </label>
              <label class="cs-radio">{{ __('NO') }}
                  <input type="radio" name="data[a2]" value="no">
                  <span class="checkmark"></span>
              </label>
          </div>
          <h4>{{ __('CUSTOMER_INFORMATION') }}</h4>
          <div class="box-customer">
              <div action="" class="list-customer">
                  <div class="customer">
                      <p class="title-custom">{{ __('NAME') }}<span>*</span></p>
                      <input type="text" name="name" required placeholder="{{ __('NAME') }}">
                  </div>
                  <div class="customer">
                      <p class="title-custom">{{ __('PHONE') }}<span>*</span></p>
                      <input type="number" name="phone" required placeholder="{{ __('PHONE') }}">
                  </div>
                  <div class="customer">
                      <p class="title-custom">Email</p>
                      <input type="text" name="email" required>
                  </div>
                  <div class="customer date-time">
                      <p class="title-custom">{{ __('DATE_TO_TEST') }}</p>
                      <input class="date-to-test" type="date" name="data[date]" required min="{{ "now" | date("Y-m-d")  }}">
                  </div>
                  <div class="customer">
                      <label>{{ __('REGION') }}</label>
                      {% set regions = Region() %}
                      <select name="data[region]" class="js-example-disabled region" required>
                          <option value="" disabled selected="selected">{{ __('SELECT') }}</option>
                          {% for item in regions %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="customer">
                      <div class="none-select">
                          <label>{{ __('SUBREGION') }}</label>
                          <select name="data[subregion]" class="active-select subregion" required>
                              <option disabled selected="selected" value="">{{ __('SELECT') }}</option>
                          </select>
                      </div>
                  </div>
                  <div class="customer flex-max-width">
                      <p class="title-custom">{{ __('CONTENT') }}</p>
                      <textarea name="content" cols="30" rows="10" required placeholder="{{ __('CONTENT') }}"></textarea>
                  </div>
                  <div class="customer flex-max-width custom-max-width">
                    <p class="hidden-text">{{ settings.dklt_notes }}</p>
                  </div>
                  <div class="customer flex-max-width">
                      <div class="check-box">
                          <label class="cs-radio cs-custom">
                              <a href="javascript:;" data-toggle="modal" data-target="#file">{{ __('I_AGREE_TO_THE') }}</a>
                              <input class="checkbox" type="checkbox" name="radio" required>
                              <span class="checkmark"></span>
                          </label>
                      </div>
                  </div>
                  <div class="customer flex-max-width">
                      <div class="register-drive" style="margin: 0 auto; cursor: pointer;">
                          <button type="submit" class="btn-register">{{ __('REGISTRATION') }}</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>

<div class="modal fade special-file" id="file" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog custom-modal" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <section class="y-text-editor">{{ settings.dklt_quy_dinh | raw }}</section>
                </div>
            </div>
        </div>
    </div>

{% endblock %}