<div class="col-md-3 col-sm-12 col-xs-12">
  <p class="y-title-account">Xin chào, {{ customer.name }}</p>
  <div class="y-sildebar-account">
    <div class="y-sildebar-box active">
      <h5 class="y-title-slidebar">QUẢN LÍ TÀI KHOẢN</h5>
      <ul class="y-list-ul">
        <li class="{{ '/khach-hang/tong-quan' in currentPath() ? 'active' : '' }}"><a href="/khach-hang/tong-quan">Quản lý chung</a></li>
        <li class="{{ currentPath() == '/khach-hang' ? 'active' : '' }}"><a href="/khach-hang">Thông tin cá nhân</a></li>
        <li class="hidden {{ '/khach-hang/dia-chi' in currentPath() ? 'active' : '' }}"><a href="/khach-hang/dia-chi">Quản lý sổ địa chỉ</a></li>
        <li class="{{ '/khach-hang/doi-mat-khau' in currentPath() ? 'active' : '' }}"><a href="/khach-hang/doi-mat-khau">Đổi mật khẩu</a></li>
        <li><a href="/api/signout">Đăng xuất</a></li>
      </ul>
    </div>
    <div class="y-sildebar-box">
      <h5 class="y-title-slidebar">ĐƠN HÀNG CỦA TÔI</h5>
      <ul class="y-list-ul">
        <li class="{{ '/khach-hang/danh-sach-don-hang?status=new&filter=5' in currentPath() ? 'active' : '' }}"><a href="/khach-hang/danh-sach-don-hang?status=new&filter=5">Đơn hàng chưa hoàn tất</a></li>
        <li class="{{ '/khach-hang/danh-sach-don-hang?status=done&filter=5' in currentPath() ? 'active' : '' }}"><a href="/khach-hang/danh-sach-don-hang?status=done&filter=5">Đơn hàng đã hoàn tất</a></li>
        <li class="{{ '/khach-hang/danh-sach-don-hang' == currentPath() ? 'active' : '' }}"><a href="/khach-hang/danh-sach-don-hang">Tất cả</a></li>
      </ul>
    </div>
  </div>
</div>