- fetchPermissions()
aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header
        a.logo-admin(href="/admin")
          img(src=staticURI() + '/img/white-lazi-logo.png')
      a.next-preview(href=currentHost() target='_blank' title='Xem website')
        i.fa.fa-eye
      - var itemClass = (menu == 'dashboard' ? 'active' : '');
      li.treeview
        a(href="/admin/dashboard" class=itemClass)
          i.fa.fa-home
          span Bảng điều khiển
      if (hasPermission('order'))
        - var itemClass = (menu == 'order' ? 'active' : '');
        li.treeview.order(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-shopping-cart
            span Đơn hàng
            span.pull-right.icon-number-sidebar(data-type="new")
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            - var liClass = (childMenu == 'new' ? 'active' : '');
            li
              a(href='/admin/order?order_status=new' class=liClass)
                | Mới
                span.pull-right.icon-number-sidebar(data-type="new")
            - var liClass = (childMenu == 'confirm' ? 'active' : '');
            li
              a(href='/admin/order?order_status=confirm' class=liClass)
                | Đã xác nhận
                span.pull-right.icon-number-sidebar(data-type="confirm")
            - var liClass = (childMenu == 'done' ? 'active' : '');
            li
              a(href='/admin/order?order_status=done' class=liClass)
                | Hoàn tất
                span.pull-right.icon-number-sidebar(data-type="done")
            - var liClass = (childMenu == 'all' ? 'active' : '');
            li
              a(href='/admin/order' class=liClass)
                | Tất cả
                span.pull-right.icon-number-sidebar(data-type="all")
            if (hasPermission('customer'))
              - var liClass = (childMenu == 'customer' ? 'active' : '');
              li
                a(href='/admin/customer' class=liClass)
                  | Khách hàng
            - var liClass = (childMenu == 'bank' ? 'active' : '');
      if (hasPermission('product') || hasPermission('collection') || hasPermission('product_buy_together') || hasPermission('attribute'))
        - var itemClass = (menu == 'product' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-product-hunt
            span Sản phẩm
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            if (hasPermission('product'))
              - var liClass = (childMenu == 'create_moto' ? 'active' : '');
              li
                a(href='/admin/product/create?type=moto' class=liClass)
                  | Thêm xe
              - var liClass = (childMenu == 'create_accessories' ? 'active' : '');
              li
                a(href='/admin/product/create?type=accessories' class=liClass)
                  | Thêm phụ kiện
              - var liClass = (childMenu == 'moto' ? 'active' : '');
              li
                a(href="/admin/product?type=moto" class=liClass)
                  | Danh sách Xe
              - var liClass = (childMenu == 'accessories' ? 'active' : '');
              li
                a(href="/admin/product?type=accessories" class=liClass)
                  | Danh sách Phụ kiện
            if (hasPermission('collection'))
              - var liClass = (childMenu == 'collection' ? 'active' : '');
              li
                a(href='/admin/collection' class=liClass)
                  | Nhóm sản phẩm
            if (hasPermission('attribute'))
              - var liClass = (childMenu == 'attribute' ? 'active' : '');
              li
                a(href='/admin/attribute' class=liClass)
                  | Thuộc tính
      if (hasPermission('article') || hasPermission('blog') || hasPermission('page'))
        - var itemClass = (menu == 'article' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-pencil-square-o
            span Bài viết
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            if (hasPermission('article'))
              - var liClass = (childMenu == 'create' ? 'active' : '');
              li
                a(href='/admin/article/create' class=liClass)
                  | Viết bài mới
              - var liClass = (childMenu == 'list' ? 'active' : '');
              li
                a(href="/admin/article" class=liClass)
                  | Danh sách
            if (hasPermission('blog'))
              - var liClass = (childMenu == 'blog' ? 'active' : '');
              li
                a(href="/admin/blog" class=liClass)
                  | Nhóm bài viết
            if (hasPermission('page'))
              - var liClass = (childMenu == 'page' ? 'active' : '');
              li
                a(href='/admin/page' class=liClass)
                  | Trang nội dung
      if (hasPermission('coupon'))
        - var itemClass = (menu == 'coupon' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass href='/admin/coupon')
            i.fa.fa-gift
            span Voucher
      if (hasPermission('gallery'))
        - var itemClass = (menu == 'gallery' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass href="/admin/gallery")
            i.fa.fa-address-book
            span Gallery
      if (hasPermission('contact'))
        - var itemClass = (menu == 'contact' ? 'active' : '');
        li.treeview.contact(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-envelope-open-o
            span Liên hệ
            span.pull-right.icon-number-sidebar(data-type="new")
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            - var liClass = (childMenu == 'register' ? 'active' : '');
            li
              a(href="/admin/contact?type=register" class=liClass)
                | Đăng ký lái thử
            - var liClass = (childMenu == 'pricing' ? 'active' : '');
            li
              a(href="/admin/contact?type=pricing" class=liClass)
                | Báo giá
            - var liClass = (childMenu == 'contact' ? 'active' : '');
            li
              a(href="/admin/contact?type=contact" class=liClass)
                | Liên hệ
            - var liClass = (childMenu == 'about-us' ? 'active' : '');
            li
              a(href="/admin/contact?type=about-us" class=liClass)
                | Về chúng tôi
            - var liClass = (childMenu == 'promotion' ? 'active' : '');
            li
              a(href="/admin/contact?type=promotion" class=liClass)
                | Nhận thông tin khuyến mãi
            //- - var liClass = (childMenu == 'all' ? 'active' : '');
            //- li
            //-   a(href="/admin/contact" class=liClass)
            //-     | Tất cả
      if (hasPermission('setting') || hasPermission('menu') || hasPermission('shipping_fee'))
        - var itemClass = (menu == 'setting' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-cog
            span Cấu hình
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            if (hasPermission('setting'))
              - var liClass = (childMenu == 'setting' ? 'active' : '');
              li
                a(href='/admin/setting' class=liClass)
                  | Thiết lập chung
            if (hasPermission('menu'))
              - var liClass = (childMenu == 'menu' ? 'active' : '');
              li
                a(href='/admin/menu' class=liClass)
                  | Menu
            //- if (hasPermission('library'))
            //-   - var liClass = (childMenu == 'library' ? 'active' : '');
            //-   li
            //-     a(href='/admin/library' class=liClass)
            //-       | Library
      if (hasPermission('user'))
        - var itemClass = (menu == 'user' ? 'active' : '');
        li.treeview(class=itemClass)
          a.main-item(class=itemClass)
            i.fa.fa-user-circle-o
            span Quản trị viên
            i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            - var liClass = (childMenu == 'list' ? 'active' : '');
            li
              a(href='/admin/user' class=liClass)
                | Danh sách
            - var liClass = (childMenu == 'history' ? 'active' : '');
            li
              a(href='/admin/user/history' class=liClass)
                | Lịch sử hoạt động
            if (getRole() == -1)
              - var liClass = (childMenu == 'setting' ? 'active' : '');
              li
                a(href='/admin/user/setting' class=liClass)
                  | Thiết lập Admin
              - var liClass = (childMenu == 'role' ? 'active' : '');
              li
                a(href='/admin/role' class=liClass)
                  | Phân quyền
              - var liClass = (childMenu == 'restore' ? 'active' : '');
              li
                a(href='/admin/restore' class=liClass)
                  | Khôi phục
              - var liClass = (childMenu == 'remove-order' ? 'active' : '');
              li
                a(href='/admin/remove-order' class=liClass)
                  | Xóa đơn hàng
input(type="hidden" name="user_roles" value=userRoles())
script.
  var roles = $('input[name="user_roles"]').val();
  if (roles && roles.length > 2) {
    roles = JSON.parse(roles);
    var arr_roles = [];
    for(var i=0; i < roles.length; i++) {
      if (roles[i].method == 'GET') {
        arr_roles.push(roles[i].endpoint);
      }
    }
    $('.treeview-menu').find('a').each(function(index, element) {
      var href = $(this).attr('href');
      href = href.replace('/admin', '');
      if (arr_roles.indexOf(href) == -1) {
        $(this).closest('li').remove();
      }
    });
  }
