extends ./../layout.pug

block pre-include
  title Tạo nhóm sản phẩm
  - var menu = 'product'
  - var childMenu = 'collection'
block post-include
  script(src=staticURI() + '/js/admin/collection.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li
        a(href='/admin/collection') Nhóm sản phẩm
      li
        a Tạo mới
    ol.button-right.col-md-4.col-sm-5.col-xs-12
      li
        a.btn.btn-admin.btn-create-update
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content
    .row
      .col-xs-12.col-sm-12.col-md-8
        .box.box-info
          .form-horizontal
            .box-title.clearfix
              .pull-left.title-tab THÔNG TIN
              if multiLang
                include ../snippet/nav-tabs-lang
            .box-body
              .tab-content
                #tab-vi.tab-pane.fade.in.active
                  .form-group
                    .col-sm-2.control-label Tên nhóm
                      strong.required  *
                    .col-sm-10
                      input.title.form-control(name="title", placeholder="Tiêu đề")
                  .form-group
                    .col-sm-2.control-label Đường dẫn
                      strong.required  *
                    .col-sm-10
                      .input-group
                        span.input-group-addon=generateUrl("", "collection", "vi")
                        input.form-control.handle(name="handle", placeholder="duong-dan")
                        i.icon-refresh-handle.fa.fa-refresh
                  .form-group
                    .col-sm-2.control-label Mô tả
                    .col-sm-10
                      textarea.form-control(rows="4" data-autoresize name="description", placeholder="Mô tả")
                  .form-group
                    .col-sm-2.control-label Nội dung
                    .col-sm-10
                      textarea.form-control.tinymce#content
                if multiLang
                  each item, index in languages()
                    .tab-pane.fade.in(id="tab-" + item data-lang=item)
                      .form-group
                        .col-sm-2.control-label Tiêu đề
                        .col-sm-10
                          input.form-control.title(name="title_" + item, placeholder="Tiêu đề")
                      .form-group
                        .col-sm-2.control-label Đường dẫn
                        .col-sm-10
                          .input-group
                            span.input-group-addon=generateUrl("", "collection", item)
                            input.form-control.handle(name="handle_" + item, placeholder="duong-dan")
                            i.icon-refresh-handle.fa.fa-refresh
                      .form-group
                        .col-sm-2.control-label Mô tả
                        .col-sm-10
                          textarea.form-control(rows="4" data-autoresize name="description_" + item placeholder="Mô tả")
                      .form-group
                        .col-sm-2.control-label Nội dung
                        .col-sm-10
                          textarea.form-control.tinymce(id="content_" + item)
        - var post_type = 'collection'
        include ../snippet/box-custom-field.pug
        include ../snippet/box-seo.pug
      .col-xs-12.col-sm-12.col-md-4
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title NHÓM SẢN PHẨM CHA
            .box-body
              select.form-control(name="parent_id")
                option(value="" selected) Chọn nhóm sản phẩm cha
                each item in collections
                  option(value=item.id)=item.title
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title THẺ
            .box-body
              input(type="text" data-role="tagsinput", name="tags")
              include ../snippet/tag-suggest.pug

        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title HÌNH ĐẠI DIỆN
                if (getMetaAdmin("image_resolution_collection_text"))
                  span.title-size=' (' + getMetaAdmin("image_resolution_collection_text") + ')'
            .box-body
              .item-choose-image(data-default=staticURI() + "/img/default.jpg")
                img(src=staticURI() + "/img/default.jpg")
                span.remove-image
                  i.fa.fa-times
                input.value(type="hidden" name="image")
        - var templates = getViewTemplate('collection');
        if countArr(templates)
          .box
            .form-horizontal
              .box-title.clearfix
                .col-xs-6.title GIAO DIỆN
              .box-body
                select.form-control(name="template")
                  option(value="") Xe
                  each item in templates
                    - var collection_title = item;
                    if item == 'phukien'
                      - var collection_title = 'Phụ kiện';
                    else if item == 'dobaoho'
                      - var collection_title = 'Đồ bảo hộ'
                    option(value=item)=collection_title
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title TRẠNG THÁI
            .box-body
              select.form-control(name="status")
                option(value="active") Hiển thị
                option(value="inactive") Ẩn
