extends ./../layout.pug

block pre-include
  - var menu = 'setting';
  - var childMenu = 'testimonial';
  title Khách hàng nói về chúng tôi
  
block post-include
  script(src=staticURI() + '/js/admin/testimonial.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7
      li
        a Đối tác
      li
        a Nói về chúng tôi
    ol.button-right.col-md-4.col-sm-5.col-xs-12
      li
        a.btn.btn-admin(href='/admin/testimonial/create') Tạo mới
  section.content.clearfix.content-album
    .box.box-table
      .row.box-header
        h3.box-title DANH SÁCH
      .box-body
        table.table.table-condensed.table-bordered.table-striped.nowrap(cellspacing="0" width="100%")
          .action-box.hidden
            .dropdown
              button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                i.fa.fa-share
                |  Chọn thao tác (đang chọn
                span.num-select
                |  đối tác) &ensp;
                span.caret
              ul.dropdown-menu
                li
                  a.status-active(data-value='active') Ẩn
                li
                  a.status-inactive(data-value='inactive') Hiện
                if (checkRemovePug('testimonial'))
                  li
                    a.status-delete Xóa
          thead
            tr
              th.all.text-center
                input.select-all(type="checkbox")
              th Mã
              th Logo
              th.all Tên
              th Ngày cập nhật
              th Trạng thái
          tbody
            each item in data
              tr
                td.text-center
                  input.checkboxes(type="checkbox" value=item.id)
                td
                  a(href='/admin/testimonial/' + item.id target="_blank") #
                    =item.id
                td
                  if item.logo
                    img(src="/uploads/" + resize(item.logo, 480))
                    span.hidden=currentHost() + "/uploads/" + item.logo
                  else
                    img(src=staticURI() + "/img/add_image.png")
                td.all.tr-title
                  a(href='/admin/testimonial/' + item.id target="_blank")=item.name
                td=item.updated_at
                td
                  case item.status
                    when 'active'
                      label.label.label-info Đang hiện
                    when 'inactive'
                      label.label.label-warning Đang ẩn
