extends ./../layout.pug

block pre-include
  title Thêm xe
  - var menu = 'product';
  - var childMenu = 'create_' + type;
  style.
    .variant-price-info {
      display: none;
    }
    .form-khuyenmai .item-khuyenmai .form-control {
      margin-bottom: 5px;
    }
    .form-khuyenmai .item-khuyenmai .btn-remove {
      font-size: 11px;
      padding: 5px 10px;
      color: #fff;
    }
    .form-khuyenmai .item-khuyenmai-default {
      display: none;
    }
block post-include
  script(src= staticURI() + '/js/admin/product.js')
  script.
    $('.btn-add-khuyenmai').click(function() {
      var html = $('.form-khuyenmai .item-khuyenmai-default').clone();
      $('.form-khuyenmai .item-khuyenmai-default').before(html);
      $('.form-khuyenmai .item-khuyenmai-default').first().addClass('item-khuyenmai').removeClass('item-khuyenmai-default');
      $('.form-khuyenmai .item-khuyenmai').last().find('input').val('');
      $('.form-khuyenmai .item-khuyenmai').last().find('.remove-image').click();
    });

    $('.form-khuyenmai').on('click', '.btn-remove', function() {
      $(this).closest('.item-khuyenmai').remove();
    });

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-6
      li.hidden-xs
        a(href="/admin/product") Xe
      li.title-ellipsis
        a Thêm xe
    ol.button-action-mobile.button-right.col-sm-6.visible-xs.visible-sm
      .dropdown
        button.btn.btn-default.btn-dropdown.dropdown-toggle(type='button', data-toggle='dropdown')
          | Hành động &#09;
          span.caret
        ul.dropdown-menu
          li
            a.btn-create-update(data-type='preview')
              i.fa.fa-eye
              | Xem trước
          li
            a.btn-create-update
              i.fa.fa-floppy-o
              | Lưu lại
    ol.button-right.col-sm-6.hidden-xs.hidden-sm
      li
        a.btn.btn-admin.btn-create-update(data-type='preview')
          i.fa.fa-eye
          i.fa.fa-circle-o-notch.fa-spin
          | Xem trước
      li
        a.btn.btn-admin.btn-create-update
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content.product-create
    .row
      .col-xs-12.col-sm-12.col-md-8
        .box.box-info
          .form-horizontal.form-product
            .box-title.clearfix
              .pull-left.title-tab THÔNG TIN
              if multiLang
                include ../snippet/nav-tabs-lang
            .box-body
              .tab-content
                #tab-vi.tab-pane.fade.in.active
                  .form-group
                    .col-lg-2.col-md-12.control-label Tên sản phẩm
                      strong.required  *
                    .col-lg-10.col-md-12
                      input.form-control.title.text-overflow-title(name="title", placeholder="Tên sản phẩm")
                  .form-group
                    .col-lg-2.col-md-12.control-label Đường dẫn
                      strong.required  *
                    .col-lg-10.col-md-12
                      .input-group
                        span.hidden-xs.input-group-addon=generateUrl("", "product", 'vi')
                        input.form-control.handle(name="handle", placeholder="duong-dan")
                        i.icon-refresh-handle.fa.fa-refresh
                  .form-group
                    .col-lg-2.col-md-12.control-label Mô tả
                    .col-lg-10.col-md-12
                      textarea.form-control(rows="4" name="description", placeholder="Mô tả" data-autoresize)
                  .form-group
                    .col-lg-2.col-md-12.control-label Nội dung
                    .col-lg-10.col-md-12
                      textarea.form-control.tinymce#content
                if multiLang
                  each item, index in languages()
                    .tab-pane.fade.in(id="tab-" + item data-lang=item)
                      .form-group
                        .col-sm-2.control-label Tiêu đề
                        .col-sm-10
                          input.form-control.title(name="title_" + item, placeholder="Tiêu đề")
                      .form-group
                        .col-sm-2.control-label Đường dẫn
                        .col-sm-10
                          .input-group
                            span.input-group-addon=generateUrl("", "product", item)
                            input.form-control.handle(name="handle_" + item, placeholder="duong-dan")
                            i.icon-refresh-handle.fa.fa-refresh
                      .form-group
                        .col-sm-2.control-label Mô tả
                        .col-sm-10
                          textarea.form-control(rows="4" data-autoresize name="description_" + item placeholder="Mô tả")
                      .form-group
                        .col-sm-2.control-label Nội dung
                        .col-sm-10
                          textarea.form-control.tinymce(id="content_" + item)
        .box.box-info.box-product-price.hidden
          .form-horizontal.form-product
            .box-title.clearfix
              .pull-left.title-tab GIÁ
            .box-body
              .tab-content
                .form-group
                  .col-lg-2.col-md-12.control-label Giá bán
                    strong.required  *
                  .col-lg-10.col-md-12
                    input.form-control.title.formatMoney(type = "text" value="0" min ="0" name="product_price", placeholder="Giá bán" onkeypress="inputPositiveNumbers( event )")
                .form-group
                  .col-lg-2.col-md-12.control-label Giá so sánh
                  .col-lg-10.col-md-12
                    input.form-control.title.formatMoney(type = "text" min ="0" name="product_price_compare", placeholder="Giá so sánh" onkeypress="inputPositiveNumbers( event )")
        .box.box-info
          .form-horizontal.form-product
            .box-title.clearfix
              .pull-left.title-tab HÌNH ẢNH (439x533)
                if (getMetaAdmin("image_resolution_product_text"))
                  span.title-size=' (' + getMetaAdmin("image_resolution_product_text") + ')'
            .box-body
              .tab-content
                .row
                  .col-xs-12.product-images
                    .col-xs-12.list-image.choose-image-product
                      .col-xs-3.col-sm-2.add-image
        .box.box-info
          .form-horizontal.form-product
            .box-title.clearfix
              .pull-left.title-tab Ảnh đại diện (439x533)
            .box-body
              .tab-content
                .row
                  .col-xs-12
                    .item-choose-image(data-default=staticURI() + "/img/default.jpg")
                      img(src=staticURI() + "/img/default.jpg")
                      span.remove-image
                        i.fa.fa-times
                      input.value(type="hidden" name="option_6")
        .box
          .form-horizontal.form-product
            .box-title.clearfix
              .col-xs-12.title PHIÊN BẢN
            .box-body
              .form-group
                if options
                  .list-options.col-xs-12
                    each option in options
                      if (option.id == 3)
                        .form-group.item-option(data-id=option.id)
                          .col-sm-2.control-label(data-id=option.id)=option.name
                          .col-sm-10
                            select(data-placeholder="Chọn " + option.name  multiple="multiple" class="chosen-select")
                              each i in option.child
                                option(value=i.name)=i.name
                .list-all-variant.col-xs-12
        .box
          .form-horizontal.form-product.form-khuyenmai
            .box-title.clearfix
              .col-xs-12.title KHUYẾN MÃI
            .box-body
              .form-group.item-khuyenmai-default
                .col-xs-4
                  .item-choose-image(data-default=staticURI() + "/img/default.jpg")
                    img(src=staticURI() + "/img/default.jpg")
                    span.remove-image
                      i.fa.fa-times
                    input.value(type="hidden" name="image")
                .col-xs-8
                  input.form-control(placeholder="Tiêu đề" name="title")
                  input.form-control(placeholder="Tiêu đề (en)" name="title_en")
                  input.form-control(placeholder="Link" name="link")
                  input.form-control(placeholder="Link (en)" name="link_en")
                  button.btn.btn-danger.btn-remove Xóa
              .form-group.add-item
                .col-xs-8.col-xs-offset-4
                  button.btn.btn-primary.btn-add-khuyenmai Thêm khuyến mãi
        .box
          .form-horizontal.form-product
            .box-title.clearfix
              .col-xs-12.title THÔNG SỐ CƠ BẢN
            .box-body
              .form-group
                .col-xs-12
                  each item in thongsocoban
                    .form-group
                      .col-sm-2.control-label=item
                      .col-sm-10
                        input.form-control.thongsocoban(placeholder=item name=item)
        - var post_type = 'product'
        include ../snippet/box-custom-field.pug
        include ../snippet/box-seo.pug
      .col-xs-12.col-sm-12.col-md-4
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title NHÓM SẢN PHẨM
            .box-body
              select.chosen-select.chosen-collection.form-control(data-placeholder="Chọn nhóm sản phẩm" multiple)              
                each item in collections
                  if item.parent_id == -1
                    label
                      option(value=item.id)=item.title
                  - var lv = ''
                  +listCollection(item.subcollection, lv + '--')
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title THẺ
            .box-body
              input.tagsinput-typeahead(type="text" name="tags")
              include ../snippet/tag-suggest.pug
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title SẢN PHẨM MUA KÈM
            .box-body
              .add-product-buy-together
              a(data-toggle="modal" data-target="#modal-product-buy-together")
                i.fa.fa-plus
                |  Thêm sản phẩm mua kèm
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title ĐỘ ƯU TIÊN
            .box-body
              input.form-control.value(type="text" name="priority" maxlength="8" value=1000 min=1 )
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-6.title GIAO DIỆN
            .box-body
              select.form-control(name="template")
                option(value="moto") Xe
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title TRẠNG THÁI HIỆN THỊ
            .box-body
              select.form-control(name="status")
                option(value="active") Hiển thị
                option(value="inactive") Ẩn

mixin listCollection(childs, lv)
  if (childs.subcollection != 0)
    each child in childs
      label
        option(value=child.id)=child.title
      +listCollection(child.subcollection, lv + '--')
