extends ./../layout.pug

block pre-include
  title=data.title
  - var menu = 'product';
  - var childMenu = 'create_' + type;
  style.
    .variant-price-info {
      display: none;
    }
    .form-khuyenmai .item-khuyenmai .form-control {
      margin-bottom: 5px;
    }
    .form-khuyenmai .item-khuyenmai .btn-remove {
      font-size: 11px;
      padding: 5px 10px;
      color: #fff;
    }
    .form-khuyenmai .item-khuyenmai-default {
      display: none;
    }
    .btn-add-khuyenmai {
      margin-bottom: 30px;
    }
block post-include
  script(src= staticURI() + '/js/admin/product.js')
  script.
    $('.btn-add-khuyenmai').click(function() {
      var html = $('.form-khuyenmai .item-khuyenmai-default').clone();
      $('.form-khuyenmai .item-khuyenmai-default').before(html);
      $('.form-khuyenmai .item-khuyenmai-default').first().addClass('item-khuyenmai').removeClass('item-khuyenmai-default');
      $('.form-khuyenmai .item-khuyenmai').last().find('input').val('');
      $('.form-khuyenmai .item-khuyenmai').last().find('.remove-image').click();
    });

    $('.form-khuyenmai').on('click', '.btn-remove', function() {
      $(this).closest('.item-khuyenmai').remove();
    });

block content
  section.content-header.clearfix
    ol.breadcrumb.col-sm-5
      li.hidden-xs
        a(href="/admin/product") Xe
      li.title-ellipsis
        a=data.title
    ol.button-action-mobile.button-right.col-sm-6.visible-xs.visible-sm.visible-md
      .dropdown
        button.btn.btn-default.btn-dropdown.dropdown-toggle(type='button', data-toggle='dropdown')
          | Hành động &#09;
          span.caret
        ul.dropdown-menu
          if role_id < 2
            li
              a.btn-delete-object(data-id=data.id,data-type='product')
                i.fa.fa-trash-o
                | Xóa
          li
            a(data-toggle="modal" data-target="#modal-duplicate-product")
              i.fa.fa-clone
              | Nhân bản
          li
            a(href=data.url, target="_blank")
              i.fa.fa-eye
              | Xem trên web
          li
            a.btn-create-update(data-id=data.id)
              i.fa.fa-floppy-o
              | Cập nhật
    ol.button-right.col-sm-7.hidden-xs.hidden-sm.hidden-md
      li
        a.btn.btn-admin(data-toggle="modal" data-target="#modal-duplicate-product")
          i.fa.fa-clone
          | Nhân bản
      li
        a.btn.btn-review(href=data.url, target="_blank" data-url=data.url)
          i.fa.fa-eye
          | Xem trên web
      if role_id < 2
        li
          a.btn.btn-admin.btn-delete-object(data-id=data.id,data-type='product')
            i.fa.fa-trash-o
            i.fa.fa-circle-o-notch.fa-spin
            | Xóa
      li
        a.btn.btn-admin.btn-create-update(data-id=data.id)
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Cập nhật
  section.content
    .row
      input(type="hidden" name="product_id" value=data.id)
      .col-xs-12.col-sm-12.col-md-8
        .box.box-info
          .form-horizontal.form-product
            .box-title.clearfix
              .pull-left.title-tab THÔNG TIN
              if multiLang
                include ../snippet/nav-tabs-lang
            .box-body
              .tab-content
                #tab-vi.tab-pane.fade.in.active
                  .form-group
                    .col-sm-2.control-label Tên sản phẩm
                      strong.required  *
                    .col-sm-10
                      input.form-control.text-overflow-title(name="title", placeholder="Tên sản phẩm", value=data.title)
                  .form-group
                    .col-sm-2.control-label Đường dẫn
                      strong.required  *
                    .col-sm-10
                      .input-group
                        span.hidden-xs.input-group-addon=generateUrl('', "product", "vi")
                        input.form-control.handle(name="handle", placeholder="duong-dan", value=data.handle)
                        i.icon-refresh-handle.fa.fa-refresh
                  .form-group
                    .col-sm-2.control-label Mô tả
                    .col-sm-10
                      textarea.form-control(rows="4" name="description" placeholder="Mô tả" data-autoresize)=data.description
                  .form-group
                    .col-sm-2.control-label Nội dung
                    .col-sm-10
                      textarea.form-control.tinymce#content=data.content
                if multiLang
                  each item, index in languages()
                    - var data_lang = getObjectLanguage(data.id, "product", item)
                    input(type="hidden" name="translattion_" + item value=data_lang.id)
                    .tab-pane.fade.in(id="tab-" + item data-lang=item)
                      .form-group
                        .col-sm-2.control-label Tiêu đề
                        .col-sm-10
                          input.form-control(name="title_" + item, placeholder="Tiêu đề" value=data_lang.title)
                      .form-group
                        .col-sm-2.control-label Đường dẫn
                        .col-sm-10
                          .input-group
                            span.input-group-addon=generateUrl("", "product", item)
                            input.form-control.handle(name="handle_" + item, placeholder="duong-dan"  value=data_lang.handle)
                            i.icon-refresh-handle.fa.fa-refresh
                      .form-group
                        .col-sm-2.control-label Mô tả
                        .col-sm-10
                          textarea.form-control(rows="4" data-autoresize name="description_" + item placeholder="Mô tả")=data_lang.description
                      .form-group
                        .col-sm-2.control-label Nội dung
                        .col-sm-10
                          textarea.form-control.tinymce(id="content_" + item)=data_lang.content
        .box.box-info
          .form-horizontal.form-product
            .box-title.clearfix
              .pull-left.title-tab HÌNH ẢNH (439x533)
                if (getMetaAdmin("image_resolution_product_text"))
                  span.title-size=' (' + getMetaAdmin("image_resolution_product_text") + ')'
            .box-body
              .tab-content
                .row
                  .col-xs-12.product-images
                    .col-xs-12.list-image.choose-image-product
                      each itemImage in listImage
                        .image.col-xs-3.col-sm-2(data-name=itemImage.name, style="background-image:url('/uploads/" + resize(itemImage.name, 480) + "')")
                          span.remove
                            i.fa.fa-times
                      .col-xs-3.col-sm-2.add-image
        .box.box-info
          .form-horizontal.form-product
            .box-title.clearfix
              .pull-left.title-tab Ảnh đại diện (439x533)
            .box-body
              .tab-content
                .row
                  .col-xs-12
                    if data.option_6
                      .item-choose-image.active(data-default=staticURI() + "/img/default.jpg")
                        img(src='/uploads/' + resize(data.option_6, 480))
                        span.remove-image
                          i.fa.fa-times
                        input.value(type="hidden", name="option_6", value=data.option_6)
                    else
                      .item-choose-image(data-default=staticURI() + "/img/default.jpg")
                        img(src=staticURI() + "/img/default.jpg")
                        input.value(type="hidden", name="option_6")
        .box
          .form-horizontal.form-product
            .box-title.clearfix
              .col-xs-6.title PHIÊN BẢN
            .box-body
              .form-group.mg0
                .row
                  if options
                    .list-options.col-xs-12
                      each option in options
                        if (option.id == 3)
                          .form-group.item-option(data-id=option.id)
                            .col-sm-2.control-label(data-id=option.id)=option.name
                            .col-sm-10
                              select(data-placeholder="Chọn " + option.name  multiple="multiple" class="chosen-select" data-value=option.selected)
                                each i in option.child
                                  option(value=i.name)=i.name
                    hr.col-xs-12
                  .col-xs-12
                    ul.list-unstyled.list-inline.select-variant.pull-left
                      li Chọn:
                      li
                        a.select-all Tất cả
                      li
                        a.un-select Bỏ chọn
                    .pull-right.hidden
                      a(data-toggle="modal" data-target="#modal-add-variant").btn-add Thêm phiên bản mới
                    .action-box.action-box-varinant.hidden
                      .dropdown.col-xs-12(style="margin-top: 10px;padding-left: 0;")
                        button.btn.btn-danger.btn-xs.dropdown-toggle(type="button" data-toggle="dropdown")
                          i.fa.fa-share
                          |  Chọn thao tác (đang chọn
                          span.num-select
                          | phiên bản)
                          span.caret
                        ul.dropdown-menu
                          li
                            a.change-price(data-toggle="modal", data-target="#modal-price") Đổi giá
                          li
                            a.change-price-compare(data-toggle="modal", data-target="#modal-price-compare") Đổi giá so sánh
                          li
                            a.change-inventory(data-toggle="modal", data-target="#modal-inventory") Cập nhật tồn kho
                .list-all-variant.col-xs-12.no-padding.list-all-variant-edit
                  each item, index in data.variants
                    .col-xs-12.variant-item.clearfix(data-id=item.id, variant-id=item.id)
                      .row
                        .col-xs-12
                          label.custom-checkbox
                            | Tạo phiên bản
                            - var checkVariant = item.status == 'active' ? true : false
                            input(type="checkbox", name="check-variant", checked=checkVariant)
                            span.checkmark
                        .clearfix
                          .col-xs-6.wrapper-variant-title
                            span Tên phiên bản
                            div
                              input.form-control(type="text", name="variant-title", value=item.title, placeholder="Tiêu đề")
                          .col-xs-6.wrapper-variant-title
                            - var itemOption1 = item.option_1?item.option_1:''
                            - var itemOption2 = item.option_2?'/' + item.option_2:''
                            - var itemOption3 = item.option_3?'/' + item.option_3:''
                            - var itemOption4 = item.option_4?'/' + item.option_4:''
                            - var itemOption5 = item.option_5?'/' + item.option_5:''
                            - var itemOption6 = item.option_6?'/' + item.option_6:''
                            - var optionName = itemOption1 + itemOption2 + itemOption3 + itemOption4 + itemOption5 + itemOption6
                            span(style="width: 100%;") Tên thuộc tính: #{optionName ? optionName : item.title}
                            input(type="hidden" name="option_name" value=optionName)
                        .variant-price-info
                          .col-sm-4
                            p.lable-variant Giá bán:
                            input.form-control.formatMoney(type="text", name="variant-price", placeholder="Giá bán", min="1", value=money(item.price), onkeypress="inputPositiveNumbers( event )")
                          .col-sm-4
                            p.lable-variant Giá so sánh:
                            input.form-control.formatMoney(type="text", name="variant-price-compare", placeholder="Giá so sánh", min="1", value=money(item.price_compare), onkeypress="inputPositiveNumbers( event )")
                          .col-sm-4
                            p.lable-variant Tồn kho:
                            input.form-control(type="number", name="variant-inventory", placeholder="Tồn kho", min="0", value=item.stock_quant, onkeypress="inputPositiveNumbers( event )")
                      .row
                        .col-xs-12.variant-images
                          .col-xs-12.list-image.choose-image-variant
                            each imageVariant in item.list_image
                              .image.col-xs-3.col-sm-2(data-name=imageVariant.name, style="background-image:url('/uploads/" + imageVariant.name + "')")
                                span.remove
                                  i.fa.fa-times
                            .col-xs-3.col-sm-2.add-image
        .box
          .form-horizontal.form-product.form-khuyenmai
            .box-title.clearfix
              .col-xs-12.title KHUYẾN MÃI
            .box-body
              if data.khuyenmai
                each item in data.khuyenmai
                  .form-group.item-khuyenmai
                    .col-xs-4
                      .item-choose-image(data-default=staticURI() + "/img/default.jpg")
                        if item.image
                          img(src="/uploads/" + item.image)
                        else
                          img(src=staticURI() + "/img/default.jpg")
                        span.remove-image
                          i.fa.fa-times
                        input.value(type="hidden" name="image" value=item.image)
                    .col-xs-8
                      input.form-control(placeholder="Tiêu đề" name="title" value=item.title style="margin-bottom: 5px;")
                      input.form-control(placeholder="Tiêu đề (en)" name="title_en" value=item.title_en style="margin-bottom: 5px;")
                      input.form-control(placeholder="Link" name="link" value=item.link style="margin-bottom: 5px;")
                      input.form-control(placeholder="Link (en)" name="link_en" value=item.link_en)
                      button.btn.btn-danger.btn-remove Xóa
              .form-group.item-khuyenmai-default
                .col-xs-4
                  .item-choose-image(data-default=staticURI() + "/img/default.jpg")
                    img(src=staticURI() + "/img/default.jpg")
                    span.remove-image
                      i.fa.fa-times
                    input.value(type="hidden" name="image")
                .col-xs-8
                  input.form-control(placeholder="Tiêu đề" name="title" style="margin-bottom: 5px;")
                  input.form-control(placeholder="Tiêu đề (en)" name="title_en" style="margin-bottom: 5px;")
                  input.form-control(placeholder="Link" name="link" style="margin-bottom: 5px;")
                  input.form-control(placeholder="Link (en)" name="link_en")
                  button.btn.btn-danger.btn-remove Xóa
            .form-group.add-item
              .col-xs-8.col-xs-offset-4
                button.btn.btn-primary.btn-add-khuyenmai Thêm khuyến mãi
        .box
          .form-horizontal.form-product
            .box-title.clearfix
              .col-xs-12.title THÔNG SỐ CƠ BẢN
            .box-body
              .form-group
                .col-xs-12
                  each item in thongsocoban
                    .form-group
                      .col-sm-2.control-label=item
                      .col-sm-10
                        input.form-control.thongsocoban(placeholder=item name=item value=data.thongsocoban[item])
        - var post_type = 'product'
        - var post_id = data.id
        - var seo = getSEO('product', data.id)
        include ../snippet/box-custom-field.pug
        include ../snippet/box-seo.pug
      .col-xs-12.col-sm-12.col-md-4
        .box
          .form-horizontal
            .box-title
              .col-xs-12.title NHÓM SẢN PHẨM
            .box-body
              select.chosen-select.chosen-collection(data-placeholder="Chọn nhóm sản phẩm" multiple, data-value=data.collection_id)
                each item in collections
                  label
                    option(value=item.id)=item.title
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title THẺ
            .box-body
              if data.tags
                input(type="text" data-role="tagsinput", name="tags", value=data.tags placeholder="Nhập tag")
              else
                input(type="text" data-role="tagsinput", name="tags" placeholder="Nhập tag")
              include ../snippet/tag-suggest.pug
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title SẢN PHẨM MUA KÈM
            .box-body
              .add-product-buy-together
                each productBuyTogether in productBuyTogethers
                  .row(style='padding-left: 10px', data-id=productBuyTogether.id data-product_buy_together_id=productBuyTogether.product_buy_together_id data-price_sale=productBuyTogether.price_sale, data-promotion=productBuyTogether.promotion, data-status='active', data-title=productBuyTogether.product_buy_together_title)
                    .pull-left
                      a.product_buy_together=productBuyTogether.product_buy_together_title
                      p(style="margin-top: 10px;")
                        span.price_sale=money(productBuyTogether.price_sale)
                        b.price_origin(style="text-decoration: line-through;margin-left: 5px;")=money(productBuyTogether.price_origin)
                    .pull-right
                      a.btn.text-danger.btn-remove-product-buy-together(data-id=productBuyTogether.id, style="font-size: 16px; color: red;")
                        i.fa.fa-trash
              a(data-toggle="modal" data-target="#modal-product-buy-together")
                i.fa.fa-plus
                |  Thêm sản phẩm mua kèm
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title ĐỘ ƯU TIÊN
            .box-body
              input.form-control.value(type="text" name="priority" maxlength="8" value=data.priority min=1 )
        .box.hidden
          .form-horizontal
            .box-title.clearfix
              .col-xs-6.title GIAO DIỆN
            .box-body
              select.form-control(name="template")
                option(value="moto") Xe
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title TRẠNG THÁI
            .box-body
              .col-xs-12
                .form-group
                  .text-title Hiển thị
                  select.form-control(name="status", data-value=data.status)
                    option(value="active") Hiển thị
                    option(value="inactive") Ẩn
                  - var firstHistory = getFirstHistory('product', data.id);
                  - var lastHistory = getLastHistory('product', data.id);
                .form-group.history
                  .row
                    .col-xs-6 Ngày tạo:
                    .col-xs-6
                      b=datetime(data.created_at)
                  .row
                    .col-xs-6 Người tạo:
                    .col-xs-6
                      b=firstHistory.user_name
                  .row
                    .col-xs-6 Cập nhật sau cùng:
                    .col-xs-6
                      b=datetime(lastHistory.created_at)
                  .row
                    .col-xs-6 Người cập nhật sau cùng:
                    .col-xs-6
                      b=lastHistory.user_name
  #modal-add-variant.modal.fade.modal-create-edit-variant(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Thêm phiên bản mới
        .modal-body
          input(type="hidden" name="product_id" value=data.id)
          .form-group
            span Tên phiên bản:
            select.form-control(name="title")
              option(value='') Chọn phiên bản
              each item in data.variants
                if item.status != 'active'
                  - var itemOption1 = item.option_1?item.option_1:''
                  - var itemOption2 = item.option_2?'/' + item.option_2:''
                  - var itemOption3 = item.option_3?'/' + item.option_3:''
                  - var itemOption4 = item.option_4?'/' + item.option_4:''
                  - var itemOption5 = item.option_5?'/' + item.option_5:''
                  - var itemOption6 = item.option_6?'/' + item.option_6:''
                  - var optionName = itemOption1 + itemOption2 + itemOption3 + itemOption4 + itemOption5 + itemOption6
                  option(value=item.id)=optionName
        .modal-footer
          button.btn.btn-default(type='button', data-toggle='modal', data-dismiss='modal') Hủy
          button.btn.btn-primary.btn-create-update-variant Tạo

  #modal-edit-variant.modal.fade.modal-create-edit-variant(role="dialog" data-product_id=data.id)
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Chỉnh sửa
        .modal-body
          .form-group
            span Tên phiên bản:
            input.form-control(name="title" placeholder="Tên phiên bản" value="Default title")
          .row.list-attributes
            each val in [1, 2, 3, 4, 5, 6]
              if data['option_' + val]
                .form-group.col-sm-6(data-id=data['option_' + val])
                  span=getNameAttribute(data['option_' + val])
                  select.form-control.input-option(name='option_' + val)
          .row
            .form-group.col-xs-6
              span Giá bán:
                strong *
              input.form-control.formatMoney(type="text" name="price" placeholder="Giá bán"  min="0" onkeypress="inputPositiveNumbers( event )")
            .form-group.col-xs-6
              span Giá so sánh:
              input.form-control.formatMoney(type="text" name="price_compare" placeholder="Giá so sánh" min="0" onkeypress="inputPositiveNumbers( event )")
          .form-group
            span Tồn kho:
            input.form-control(type="number" name="variant_inventory" placeholder="Tồn kho" min="1" onkeypress="inputPositiveNumbers( event )")
          .form-group
            span Hình ảnh:
            .variant-images.clearfix
              .col-xs-12.list-image.choose-image-variant
                .col-xs-3.col-sm-2.add-image
        .modal-footer
          button.btn.btn-default(type='button', data-toggle='modal', data-dismiss='modal') Hủy
          button.btn.btn-primary.btn-create-update-variant Cập nhật
  #modal-price.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          .modal-title
            h4.modal-title Chỉnh sửa giá cho
              span.num-select
              | phiên bản
        .modal-body
          .form-horizontal
            .col-xs-12
              label Giá mới
            .box-body
              input.form-control.formatMoney(type="text" name='price' onkeypress="inputPositiveNumbers( event )")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Hủy
          button.btn.btn-primary.btn-change-variant Chỉnh sửa
  #modal-price-compare.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          .modal-title
            h4.modal-title Chỉnh sửa giá so sánh cho
              span.num-select
              | phiên bản
        .modal-body
          .form-horizontal
            .col-xs-12
              label Giá mới
            .box-body
              input.form-control.formatMoney(type="text" name='price_compare' onkeypress="inputPositiveNumbers( event )")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Hủy
          button.btn.btn-primary.btn-change-variant Chỉnh sửa
  #modal-inventory.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          .modal-title
            h4.modal-title Cập nhật tồn kho cho
              span.num-select
              | phiên bản
        .modal-body
          .form-horizontal
            .col-xs-12
              label Số lượng mới
            .box-body
              input.form-control(name='inventory' type="number" onkeypress="inputPositiveNumbers( event )")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Hủy
          button.btn.btn-primary.btn-change-variant Cập nhật
  #modal-duplicate-product.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          .modal-title
            h4.modal-title Nhân bản sản phẩm
            .modal-body
          .form-horizontal
            .col-xs-12
              label Tên sản phẩm mới
            .box-body
              input.form-control(name='name-duplicate-product' value="Nhân bản của " + data.title type="text")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Hủy
          button.btn.btn-primary.btn-duplicate-product(data-id=data.id) Nhân bản
